<!-- Hero -->
<app-services-hero category="Engineering & Design" heading="Optimize Your Product with
Cutting-Edge 3D Modeling & Mechanical Design" desc="From Concept to Reality—Precision Engineering for Superior
Performance" imgUrl="assets/3D-Modeling/hero.png" navigate="/404"
  btnText="Get Started with Expert Design"></app-services-hero>

<!-- Introduction -->
<app-services-intro secTitle="Introduction" secHeading="Our Expertise, Your Advantage"
  secDesc1="With over 25 years of experience designing successful electronic products from concept to production, Whizz Systems leverages *advanced *3D *modeling *and *mechanical *design *capabilities to create optimized solutions for PCBs and electronic products. Our designs *enhance *performance *and *ensure *manufacturability by meeting the *highest *industry *standards. Our expertise spans multidomains and various industries, ensuring comprehensive support throughout the entire design process."
  imgUrl="assets/3D-Modeling/introduction.png"></app-services-intro>

<!-- Core Services Overview-->
<app-services-core-services secTitle="Core Services Overview"
  secHeading="Comprehensive 3D Modeling & Mechanical Design Services" [cardData]="coreServices"
  secHeadingMargin="mb-6 3xl:mb-8"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits secTitle="Benefits" secHeading="Why Choose Whizz Systems for PCB Layout"
  [cardData]="benefits"></app-services-benefits>

<!-- Proven Success -->
<app-services-case-study secTitle="Proven Success" secHeading="Case Studies or customer success story" secDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est."
  imgUrl="assets/3D-Modeling/proven-success.png" routerLink="/404"
  btnText="Learn more"></app-services-case-study>

<!-- Talk To Expert -->
<app-services-contact-experts secHeading="Ready to Bring Your Design to Life?" routerLink="/404"
  btnText="Contact Our Design Experts"></app-services-contact-experts>