<!-- Hero -->
<app-services-hero category="Engineering & Design" heading="Optimize Your Product with
Cutting-Edge 3D Modeling & Mechanical Design" desc="From Concept to Reality—Precision Engineering for Superior
Performance" imgUrl="../../../assets/3D-Modeling/hero.png" routerLink="/404"
    btnText="Get Started with Expert Design"></app-services-hero>

<div class="px-[4%] sm:px-[9.3%]">
    <!-- Introduction -->
    <section class="flex flex-col lg:flex-row items-center gap-4 lg:gap-[52px] 3xl:gap-16 py-8 lg:py-12 3xl:py-16">
        <div class="w-full lg:w-[46.2%] order-2 lg:order-1 p-10 sm:p-10 lg:p-0">
            <img class="object-cover" src="../../../assets/3D-Modeling/introduction.png" alt="img">
        </div>
        <div class="w-full lg:w-[53.8%] order-1 lg:order-0">
            <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">Introduction</h4>
            <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[28.8px] my-3 3xl:my-4">Our Expertise, Your Advantage</h3>
            <p class="text-dark-gray2 text-sm 3xl:text-base font-light leading-[24px] 3xl:leading-[28px]">With over 25 years of experience designing successful electronic
                products from concept to production, Whizz Systems leverages <span class="text-teal1 text-sm 3xl:text-base font-medium 3xl:font-bold">advanced
                    3D modeling and mechanical design capabilities</span> to create optimized solutions for PCBs and
                electronic products. Our designs <span class="text-teal1 text-sm 3xl:text-base font-medium 3xl:font-bold">enhance performance and ensure
                    manufacturability</span> by meeting the <span class="text-teal1 text-sm 3xl:text-base font-medium 3xl:font-bold">highest industry
                    standards</span> . Our expertise spans multidomains and various industries, ensuring
                comprehensive
                support throughout the entire design process.</p>
        </div>
    </section>

    <!-- Core Services Overview-->
    <app-services-core-services 
    secTitle="Core Services Overview" secHeading="Comprehensive 3D Modeling & Mechanical Design Services" [cardData]="coreServices" secHeadingMargin="mb-6 3xl:mb-8"
    ></app-services-core-services>

    <!-- Benefits -->
    <app-services-benefits secTitle="Benefits" secHeading="Why Choose Whizz Systems for PCB Layout" [cardData]="benefits"></app-services-benefits>

    <!-- Proven Success -->
    <app-services-case-study secTitle="Proven Success" secHeading="Case Studies or customer success story" secDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est." imgUrl="../../../assets/3D-Modeling/proven-success.png" routerLink="/404"
        btnText="Learn more"></app-services-case-study>

    <!-- Talk To Expert -->
    <app-services-contact-experts secHeading="Ready to Bring Your Design to Life?" routerLink="/404" btnText="Contact Our Design Experts"></app-services-contact-experts>
</div>