<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <h4
        class="text-teal1 text-sm 3xl:text-base font-semibold 3xl:font-bold lg:leading-[15px] 3xl:leading-[19.2px] mb-3 3xl:mb-4">
        {{heading}}</h4>
    <h3 [ngClass]="{'mb-10 3xl:mb-12': !btnText, 'mb-3 3xl:mb-4': btnText}"
        class="text-dark-gray2 text-xl 3xl:text-2xl font-medium lg:leading-[24px] 3xl:leading-[28.8px]">{{title}}</h3>
    <p *ngIf="desc"
        class="text-dark-gray2 text-sm 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-3 3xl:mb-4">
        {{desc}}</p>
    <div *ngIf="btnText" class="mb-10 3xl:mb-12">
        <app-button heading="{{btnText}}" routerLink="{{navigate}}" icon="assets/services/r-arrow.svg"
            size="small"></app-button>
    </div>
    <div class="p-6 3xl:p-8 bg-card-gray rounded-md 3xl:rounded-lg">
        <div class="grid gap-6 3xl:gap-8" [ngClass]="columns === 2 ? 'grid-cols-1 sm:grid-cols-2' :
               columns === 3 ? 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3' :
               columns === 4 ? 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-4' : ''">
            <div *ngFor="let benefit of benefitsData">
                <div class="p-6 3xl:p-8 bg-white border border-light-gray1 rounded-md 3xl:rounded-lg h-full">
                    <img class="w-10 3xl:w-12" [src]="benefit.imgUrl" alt="img">
                    <h3
                        class="text-dark-gray2 text-sm 3xl:text-base font-medium lg:leading-[15px] 3xl:leading-[19.2px] my-3 3xl:my-4">
                        {{benefit.name}}</h3>
                    <p class="text-dark-gray2 text-sm 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]"
                        [innerHTML]="benefit.desc"></p>
                </div>
            </div>
        </div>
    </div>
</section>