<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">{{secTitle}}</h4>
    <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[24px] 3xl:leading-[28.8px] my-3 3xl:my-4">
        {{secHeading}}</h3>
    <p
        class="text-dark-gray2 font-light mb-9 3xl:mb-12 max-w-lg lg:max-w-xl 3xl:max-w-3xl text-base lg:text-xs 3xl:text-base leading-[24px] 3xl:leading-[28px]">
        {{secDesc}}</p>
    <div class="grid grid-cols-1 sm:grid-cols-2  gap-6 sm:gap-y-8" [ngClass]="{'lg:grid-cols-3 sm:gap-x-20 lg:gap-x-36 3xl:gap-x-44': columns === 3, 
                    'lg:grid-cols-4 sm:gap-x-6 3xl:gap-x-8': columns === 4}">
        <div *ngFor="let card of cardData"
            class="p-6 3xl:p-8 bg-white border border-light-gray1 rounded-md 3xl:rounded-lg h-full">
            <img class="rounded-md 3xl:rounded-lg" [src]="card.imgUrl" alt="img">
            <h3 class="font-bold text-xs 3xl:text-base my-6 3xl:my-8">{{card.title}}</h3>
            <hr class="border border-light-gray1 opacity-60 mb-3 3xl:mb-4">
            <div *ngFor="let desc of card.description ">
                <p class="text-dark-gray2 text-xs 3xl:text-base font-light leading-[19.2px]" [innerHTML]="desc"></p>
                <hr class="border border-light-gray1 opacity-60 my-3 3xl:my-4">
            </div>
        </div>
    </div>
</section>