header {
  transition: transform 0s ease-in-out;
}

.transform.-translate-y-full {
  transform: translateY(-100%);
}

.transition-all {
  transition-property: all;
}

.duration-500 {
  transition-duration: 500ms;
}

header.hidden {
  transform: translateY(-100%);
}

header.desktop-header {
  display: block;
}

header.mobile-header {
  display: none;
}

@media (max-width: 1100px) {
  header.desktop-header {
    display: none;
  }

  header.mobile-header {
    display: block;
  }
}

.diagonal-swipe {
  background-color: #f8f8f8;
  color: #2a494c;
  transition: color 1s;
  z-index: 1;
}

.diagonal-swipe span {
  position: relative;
  z-index: 2;
}

.diagonal-swipe:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #7bd4cf transparent transparent transparent;
  transition: border-width 1s;
  z-index: 1;
}

.diagonal-swipe:hover:after {
  border-width: 1200px 1200px 0 0;
  z-index: -1;
}
