<header class="shadow-md px-[3%] bg-white fixed left-0 right-0 z-50">
    <div class="py-5 flex justify-between items-center gap-12">
        <a routerLink="/">
            <img class="w-32 object-cover cursor-pointer" src="../../assets/header/blogo.png" alt="logo">
        </a>
        <div class="flex items-center gap-10">
            <ng-container *ngFor="let item of menuItems">
                <div class="relative hover:text-black hover:underline hover:underline-offset-[32px] hover:decoration-light-teal cursor-pointer">
                    <a [ngClass]="{ 'text-light-blue ': item.dropdown }"
                        (click)="toggleBottomSection(item.dropdown, item.label)"
                        class="font-medium text-dark-gray focus:text-light-teal" [routerLink]="item.link">
                        {{ item.label }}
                        <i class="fa-solid text-xs" [ngClass]="{
                                 'fa-chevron-up': activeMenuItem === item.label,
                                 'fa-chevron-down': activeMenuItem !== item.label && item.dropdown
                             }"></i>
                    </a>

                    <div *ngIf="activeBottomSection === 'featured' && item.dropdown ==='featured'"
                        class="p-2 bg-light-gray rounded-br-md rounded-bl-md absolute left-1/2 transform -translate-x-1/2 top-14 z-20">
                        <div class="bg-white p-6 text-xs text-nowrap rounded-md">
                            <h3 class="font-semibold my-2 mb-4">Latest Features</h3>
                            <div *ngFor="let item of blogItems">
                                <a class="inline-block my-1 text-dark-gray hover:text-light-teal font-medium"
                                    routerLink="item.link">{{item.label}}</a>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="activeBottomSection === 'blog' && item.dropdown ==='blog'"
                        class="bg-light-gray absolute left-1/2 transform -translate-x-1/2 top-14 p-2 z-20 rounded-br-md rounded-bl-md">
                        <div class="bg-white p-6 text-xs text-nowrap rounded-md">
                            <h3 class="font-semibold my-2 mb-4">Latest Blogs</h3>
                            <div *ngFor="let item of blogItems">
                                <a class="inline-block my-1 text-dark-gray hover:text-light-teal font-medium"
                                    routerLink="item.link">{{item.label}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="flex items-center gap-2">
            <div class="flex items-center gap-2 rounded-md border-light-gray border-solid border-2 px-3 py-2 bg-white">
                <i class="fa-solid fa-magnifying-glass text-gray-300"></i>
                <input class="outline-none w-32" type="text" placeholder="Search">
            </div>
            <!-- <app-cbutton class="text-nowrap bg-gray border border-light-teal rounded-md cursor-pointer" heading="Contact Us"></app-cbutton> -->
        </div>
    </div>

    <div *ngIf="activeBottomSection" class="absolute left-1/2 transform -translate-x-1/2 pb-1 z-20 w-[88%]">
        <ng-container *ngIf="activeBottomSection === 'service'">
            <div class="p-2 bg-light-gray rounded-br-md rounded-bl-md">
                <div class="flex gap-2">
                    <div class="w-2/3 rounded-md bg-white">
                        <app-header-section class="" [sections]="serviceSections"></app-header-section>
                    </div>
                    <div class="p-6 rounded-md bg-dark-blue">
                        <h3 class="text-xs font-bold mb-4 text-light-gray">Industries</h3>
                        <div class="flex items-center flex-wrap gap-1 space-y-1 mb-12">
                            <div *ngFor="let item of industryItems">
                                <a class="text-light-gray bg-dark-gray px-2 py-1 rounded-md text-xs" routerLink="item.link">{{item.label}}</a>
                            </div>
                        </div>
                        <h3 class="text-xs font-bold mb-4 text-light-gray text-nowrap">Featured Blog</h3>
                        <div class="bg-white p-5 pb-1 rounded-md">
                            <h2 class="text-lg font-semibold mb-6">Interesting Blog Title that <br> can Fit On Two Lines</h2>
                            <img class="object-contain w-full" src="../../assets/header/featured-blog.png" alt="blog-img">
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</header>

<div *ngIf="activeBottomSection" (onclick)="closeMenu()" class=" fixed h-full w-full z-10  bg-[#00000040]"></div>



<!--For Mobile -->

<header class="hidden shadow-sm px-[3%] overflow-hidden">
    <div class="py-5 flex justify-between items-center">
        <a routerLink="/">
            <img class="w-32 object-cover cursor-pointer" src="../../assets/header/blogo.png" alt="logo">
        </a>
        <div class="text-2xl cursor-pointer" (click)="toggleMenu()">
            <i [ngClass]="isMenuOpen? 'fa-solid fa-xmark': 'fa-solid fa-bars'"></i>
        </div>
    </div>
    <app-accordion *ngIf="isAccordionOpen"></app-accordion>
</header>