<div class="text-white   bg-dark-blue py-10  px-2 md:px-14  ">
    <div class="flex flex-col lg:flex-row  gap-8 text-xs">
        <!-- left -->
        <div class="px-6 md:px-12 flex flex-col items-center py-12 bg-gray text-dark-blue rounded-md justify-between text-center lg:text-left ">
            <div class="max-w-80">
                <div class="mb-40">
                    <img class="w-28 object-cover" src="../../assets/footer/blogo.png" alt="Whizz_Logo">
                </div>
                <div >
                    <hr>
                    <p class="my-4 text-nowrap">&copy; 2024 Whizz Systems Inc. All rights reserved.</p>
                    <hr>
                    <div class="flex justify-center lg:justify-start items-center gap-3 underline underline-offset-4 mt-14">
                        <a class="cursor-pointer" routerLink="">Privacy</a>
                        <a class="cursor-pointer" routerLink="">Terms</a>
                        <a class="cursor-pointer" routerLink="">Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- right -->
        <div
            class="grid grid-cols-12 gap-8 bg-gray text-dark-blue px-12  py-12 rounded-md basis-full text-center md:text-left">
            <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-2 flex flex-col justify-between gap-4">
                <h3 class="h3 font-bold">Get in touch</h3>
                <div>
                    <h4 class="font-bold mb-1">North America <br /> Silicon Valley HQ</h4>
                    <p>3240 Scott Blvd. <br> Santa Clara, CA 9501</p>
                </div>
                <div>
                    <h4 class="font-bold mb-1">Global Office</h4>
                    <p class="leading-4">Lot 8, SMI Park Phase 2 <br> Jalan Hi-Tech 4 Sambungan <br> Kulim Hi-Tech Park
                        09000 <br> Kulim, KEDHA Malaysia</p>
                </div>
                <div>
                    <h4 class="font-bold mb-1">Contact:</h4>
                    <a class="underline cursor-pointer" routerLink="tel:+408-980-400">Direct: 408-980-400</a><br>
                    <a class="underline cursor-pointer inline-block my-1" routerLink="tel:+408-409-6801">Sales:
                        408-409-6801</a><br>
                    <a class="underline cursor-pointer"
                        routerLink="mailto:sales@whizzsystems.com">sales&#64;whizzsystems.com</a>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-2">
                <h3 class="mb-6 font-bold">Services</h3>
                <p>Design & engineering</p>
                <p class="my-4">NPI</p>
                <p>Bring up & validation</p>
                <p class="my-4">Advanced Manufacturing</p>
                <p class="text-nowrap">Supply chain & obsolescence <br> management</p>
            </div>
            <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-2">
                <h3 class="mb-6 font-bold">Blog</h3>
                <p class="text-nowrap">White Papers</p>
                <p class="my-4 text-nowrap">Case studies</p>
                <p class="my-4 text-nowrap">News</p>
                <p>FAQ</p>
            </div>
            <div class="col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-2">
                <h3 class="h3 mb-6 font-bold text-nowrap">Social Media</h3>
                <h2 class="mb-4"><i class="fa fa-linkedin-square" aria-hidden="true"></i>  Linkedin</h2>
                <h2><i class="	fa fa-youtube" aria-hidden="true"></i>   Youtube</h2>
            </div>
            <div class="col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-4  flex items-center justify-center">
                <div class="p-5 ">

                    <div class="p-5 bg-white border border-card-border rounded-md">
                        <h1 class="text-2xl font-bold">Subscribe to our newsletter!</h1>
                        <h2 class="my-5">Get updates on the<br/> latest news & insights</h2>
                        <a class="px-3 py-2 bg-medium-teal hover:bg-light-teal text-white font-semibold rounded-sm" routerLink="">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>