<div class="px-[4%] sm:px-[6%] mb-12 lg:mb-32">
    <div
        class="px-8 lg:px-16 py-10 lg:py-24 bg-dark-gray1 flex flex-col lg:flex-row items-center gap-10 lg:gap-14 3xl:gap-28 rounded-2xl">
        <div class="w-full lg:w-1/2 text-white">
            <p class="text-base">Featured Product</p>
            <h1 class="text-3xl lg:text-5xl 3xl:text-[56px] lg:leading-[60px] 3xl:leading-[67.2px] font-bold  my-8">Loopback cards</h1>
            <p class="text-xl leading-[24px] font-light mb-8">sub header with a brief intro or description</p>
            <app-cbutton [heading]="'Small Button'" [icon]="'../../../assets/services/r-arrow.svg'"
                [routerLink]="'/404'" [size]="'small'"></app-cbutton>
        </div>
        <div class="w-full lg:w-1/2 p-6 sm:p-16 lg:p-0">
            <img class="object-cover" src="../../../assets/loopback-cards/hero.png" alt="img">
        </div>
    </div>
</div>

<div class="px-[4%] sm:px-[9.5%]">
    <!-- Loopback cards -->
    <div class="flex flex-col lg:flex-row items-center gap-8 lg:gap-16 mb-12 lg:mb-32">
        <div class="w-full lg:w-[46.8%] order-2 lg:order-1 p-8 md:p-16 lg:p-0 ">
            <img class="object-cover" src="../../../assets/loopback-cards/introduction.png" alt="img">
        </div>
        <div class="w-full lg:w-[53.2%] order-1 lg:order-0">
            <h4 class="text-teal1 text-base leading-[19.2px] font-bold">Loopback cards</h4>
            <h3 class="text-dark-gray2 text-2xl leading-[28.8px] font-medium my-4">Loopback cards</h3>
            <p class="text-dark-gray2 font-light leading-[28px]">The 5G/4G Open Radio Unit reference platform features Intel’s Arria® 10 SoC, offering low power, high performance, and customizable 4T4R radio solutions for TDD or FDD links, with a tunable range of 600MHz–6GHz and 200MHz bandwidth per antenna.</p>
            <p class="text-dark-gray2 font-light my-6 leading-[28px]">It supports Arria® 10 SX 320/480 SoCs with 1GB HPS DDR4 and 2GB FPGA DDR4 memory, a 1Gbps Ethernet interface, USB-to-UART, and two optical QSFP ports enabling up to 40Gbps transfer. The clock architecture supports 1588 v2 PTP, CPRI clock recovery, and external 1PPS/10MHz synchronization.
            </p>
            <p class="text-dark-gray2 font-light mb-4 leading-[28px]">The platform includes IJ5 Series Samtec and SD card boot connectors and comes with a diagnostic BSP reference example.</p>
            <app-cbutton [heading]="'Learn more'" [icon]="'../../../assets/services/r-arrow.svg'"
                [routerLink]="'/404'" [size]="'medium'"></app-cbutton>
        </div>
    </div>
</div>