<!-- Hero -->
<app-services-hero category="Featured Product" heading="Loopback cards"
  desc="sub header with a brief intro or description" imgUrl="../../../assets/loopback-cards/hero.png" routerLink="/404"
  btnText="Small Button"></app-services-hero>

<!-- Loopback cards -->
<app-services-intro secTitle="Loopback cards" secHeading="Loopback cards"
  secDesc1="The 5G/4G Open Radio Unit reference platform features Intel’s Arria® 10 SoC, offering low power, high performance, and customizable 4T4R radio solutions for TDD or FDD links, with a tunable range of 600MHz–6GHz and 200MHz bandwidth per antenna."
  secDesc2="It supports Arria® 10 SX 320/480 SoCs with 1GB HPS DDR4 and 2GB FPGA DDR4 memory, a 1Gbps Ethernet interface, USB-to-UART, and two optical QSFP ports enabling up to 40Gbps transfer. The clock architecture supports 1588 v2 PTP, CPRI clock recovery, and external 1PPS/10MHz synchronization."
  secDesc3="The platform includes IJ5 Series Samtec and SD card boot connectors and comes with a diagnostic BSP reference example."
  imgUrl="../../../assets/loopback-cards/introduction.png" btnText="Learn more" routerLink="/404"></app-services-intro>