<div *ngIf="menuSectionVisible" class="bg-white px-[3%] fixed left-0 right-0 h-full z-30 overflow-y-scroll -mt-[1px] sm:-mt-[3px]">
  <div *ngFor="let item of menuItems" class="mb-4">
    <!-- Menu Bar -->
    <div (click)="toggleMenuSection(item) "
      class="flex items-center cursor-pointer transition-all duration-300 ease-in-out">
      <!-- Only apply routerLink if item has a link -->
      <a *ngIf="item.link" [routerLink]="item.link" class="text-xl transition-all duration-300 ease-in-out"
        [ngClass]="{'text-teal1': item.open, 'text-dark-gray1 hover:text-teal1': !item.open}"
        (click)="closeMenuSection()">
        {{ item.label }}
      </a>
      <!-- For dropdown items, no link, just toggle open state -->
      <div *ngIf="!item.link" class="text-xl cursor-pointer transition-all duration-300 ease-in-out"
        [ngClass]="{'text-teal1': item.open, 'text-dark-gray1 hover:text-teal1': !item.open}">
        {{ item.label }}
      </div>

      <span class="ml-auto text-lg" *ngIf="item.dropdown">
        <span class="ml-auto text-lg" *ngIf="item.dropdown">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 320 512"
               class="w-[1em] h-[1em] transition-transform duration-300 ease-[cubic-bezier(1,0.25,0.25,.8)] fill-current"
               [ngClass]="{
                 'rotate-90 text-teal1': item.open,
                 'text-dark-gray1': !item.open
               }">
            <path
              d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
          </svg>
        </span>        
      </span>
    </div>

    <!-- Menu Content (Only Visible if Active) -->
    <div *ngIf="item.open" class="ml-4">
      <!-- Dropdown Back Button -->
      <div *ngIf="item.dropdown" class="flex items-center cursor-pointer mb-2" (click)="item.open = false">
        <span class="my-2 -ml-4 text-lg cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 512 512"
               class="w-[1em] h-[1em] fill-current">
            <path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/>
          </svg>
        </span>
      </div>
      

      <!-- Dropdowns for different types -->
      <ng-container *ngIf="item.dropdown === 'service'">
        <div *ngFor="let section of serviceSections" class="mb-4">
          <div (click)="toggleSection(section)" class="flex items-center cursor-pointer">
            <a *ngIf="section.link" [routerLink]="section.link"
              class="text-base transition-all duration-300 ease-in-out"
              [ngClass]="{'text-teal1': section.open, 'text-dark-gray1 hover:text-teal1': !section.open}"
              (click)="closeMenuSection()">
              {{ section.title }}
            </a>
            <a *ngIf="!section.link" [routerLink]="section.link"
              class="text-base transition-all duration-300 ease-in-out"
              [ngClass]="{'text-teal1': section.open, 'text-dark-gray1 hover:text-teal1': !section.open}"
              >
              {{ section.title }}
            </a>
            <span class="ml-auto text-lg">
              <svg xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 320 512"
     class="transition-transform duration-300 ease-[cubic-bezier(1,0.25,0.25,.8)] w-[1em] h-[1em] fill-current"
     [ngClass]="{
       'rotate-90 text-teal1': section.open,
       'text-dark-gray1': !section.open
     }">
  <path
    d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
</svg>

            </span>
          </div>
          <div *ngIf="section.open" class="ml-4">
            <div class="flex items-center cursor-pointer" (click)="section.open = false">
              <span class="my-2 -ml-4">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512"
                     class="w-[1em] h-[1em] fill-current">
                  <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/>
                </svg>
              </span>              
            </div>
            <div *ngFor="let subItem of section.items" class="mb-4">
              <a [routerLink]="subItem.link" [fragment]= "subItem.fragment" class="block text-base text-dark-gray1 hover:text-teal1"
                (click)="closeMenuSection()">
                {{ subItem.label }}
              </a>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Other dropdowns: Featured, Resources, etc. -->
      <ng-container *ngIf="item.dropdown === 'featured'">
        <div *ngFor="let featured of featuredProductItems" class="mb-4">
          <a [routerLink]="featured.link" class="block text-base text-dark-gray1 hover:text-teal1"
            (click)="closeMenuSection()">
            {{ featured.label }}
          </a>
        </div>
      </ng-container>

      <ng-container *ngIf="item.dropdown === 'resources'">
        <div *ngFor="let blog of blogItems" class="mb-4">
          <a [routerLink]="blog.link" class="block text-base text-dark-gray1 hover:text-teal1"
            (click)="closeMenuSection()">
            {{ blog.label }}
          </a>
        </div>
      </ng-container>
    </div>
  </div>
  <a href="https://webforms.pipedrive.com/f/6iCHNNECUuqORf9rWJgygfwg3GR0OuWejL9ZkdXTDfW1Z5Gu2Kc2odVMCTOHP8Ub4L"
        class="text-xl transition-all duration-300 ease-in-out text-dark-gray1 hover:text-teal1">Contact us</a>
</div>