<footer class="relative text-dark-gray2  px-[4%] sm:px-[6.3%] py-6 lg:py-14 3xl:py-16">
    <video class="absolute inset-0 w-full h-full object-cover z-0" loop muted autoplay oncanplay="this.play()"
        onloadedmetadata="this.muted = true">
        <source src="assets/hero/waves1.mp4" type="video/mp4">
    </video>
    <div class="absolute inset-0 bg-video-overlay opacity-80 z-10"></div>
    <div class="relative z-20 flex flex-col lg:flex-row gap-6 3xl:gap-8 text-sm lg:text-xs 3xl:text-sm">
        <div
            class="p-6 3xl:p-8 flex flex-col items-center justify-between bg-card-gray rounded-lg text-center lg:text-left">
            <div class="self-center lg:self-start mb-32 lg:mb-0">
                <img class="w-24 3xl:w-[122px] object-cover" src="assets/footer/blogo.png" alt="Whizz_Logo">
            </div>
            <div>
                <hr class="border-light-gray2">
                <p class="mb-3 3xl:mb-4 mt-4 3xl:mt-[18px] text-wrap lg:text-nowrap">&copy; 2024 Whizz Systems Inc. All
                    rights reserved.</p>
                <hr class="border-light-gray2">
                <div class="flex justify-center lg:justify-start items-center gap-6 3xl:gap-8">
                    <div *ngFor="let item of privacyTerms"
                        class="cursor-pointer hover:text-teal1 underline underline-offset-auto mt-9 3xl:mt-11 transition-all duration-300 ease-in-out">
                        <a routerLink="item.link">{{item.label}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="grid grid-cols-12 gap-6 lg:gap-3 3xl:gap-8 bg-card-gray text-dark-gray2 p-6 3xl:p-8 rounded-lg text-center md:text-left">
            <div class="col-span-12 md:col-span-6 lg:col-span-2">
                <h3 class="text-base lg:text-sm 3xl:text-base mb-4 3xl:mb-6 font-medium 3xl:font-semibold">Get in touch
                </h3>

                <h4 class="font-semibold mb-1">North America <br> Silicon Valley HQ</h4>
                <p>3240 Scott Blvd. <br> Santa Clara, CA 95051</p>

                <h4 class="font-semibold mt-4 3xl:mt-6 mb-1">Global Office</h4>
                <p>Lot 8, SMI Park Phase 2 <br class="block lg:hidden 3xl:block"> Jalan Hi-Tech 4 Sambungan <br
                        class="block lg:hidden 3xl:block"> Kulim Hi-Tech Park
                    09000 <br class="block lg:hidden 3xl:block"> Kulim, KEDHA Malaysia</p>

                <h4 class="font-semibold mt-4 3xl:mt-6 mb-1">Contact:</h4>
                <div *ngFor="let item of contacts">
                    <a class="underline cursor-pointer hover:text-teal1 transition-all duration-300 ease-in-out"
                        routerLink="item.link">{{item.label}}</a>
                </div>
            </div>
            <!-- Services -->
            <div class="col-span-12 md:col-span-6 lg:col-span-2 ">
                <h3 class="text-base lg:text-sm 3xl:text-base mb-4 lg:mb-6 3xl:mb-8 font-medium 3xl:font-semibold">
                    Services</h3>
                <div *ngFor="let item of services">
                    <a class="mb-3 3xl:mb-4 inline-block cursor-pointer hover:text-teal1 transition-all duration-300 ease-in-out"
                        [routerLink]="item.link">{{item.label}}</a>
                </div>
            </div>
            <!-- Blog -->
            <div class="col-span-12  md:col-span-6 lg:col-span-1 ">
                <h3 class="text-base lg:text-sm 3xl:text-base mb-4 lg:mb-6 3xl:mb-8 font-medium 3xl:font-semibold">Blog
                </h3>
                <div *ngFor="let item of blog">
                    <a class="mb-3 3xl:mb-4 inline-block cursor-pointer hover:text-teal1 2xl:text-nowrap transition-all duration-300 ease-in-out"
                        routerLink="item.link">{{item.label}}</a>
                </div>
            </div>
            <!-- Social media -->
            <div class="col-span-12 md:col-span-6 lg:col-span-2 ">
                <h3
                    class="text-base lg:text-sm 3xl:text-base mb-4 lg:mb-6 3xl:mb-8 font-medium 3xl:font-semibold text-nowrap">
                    Social Media</h3>
                <div *ngFor="let item of socailMedia">
                    <a class="mb-3 3xl:mb-4 inline-block cursor-pointer hover:text-teal1 transition-all duration-300 ease-in-out"
                        routerLink="item.link"><i class="w-5 3xl:w-6 mr-1" [class]="item.icon" aria-hidden="true"></i>
                        {{item.label}}</a>
                </div>
            </div>
            <div
                class="col-span-12 md:col-span-12 lg:col-span-5 grid justify-center lg:justify-end items-center lg:mr-14 3xl:mr-16 ">
                <div
                    class="w-[16rem] 3xl:w-[19rem] p-6 3xl:p-8 bg-white border border-light-gray1 rounded-lg text-left">
                    <h1 class="text-2xl 3xl:text-3xl font-bold">Subscribe to our newsletter!</h1>
                    <p class="mt-3 3xl:mt-5 mb-6 3xl:mb-8 font-light text-base 3xl:text-xl leading-[24px]">Get updates
                        on the <br> latest news & insights</p>
                    <app-animated-button routerLink="/404" heading="Subscribe" size="medium" bg="teal-bg"></app-animated-button>
                </div>
            </div>
        </div>
    </div>
</footer>