<footer class="relative text-dark-gray2  px-8 py-6 lg:px-20 3xl:px-32 lg:py-14 3xl:py-16 mx-aut0">
    <video class="absolute inset-0 w-full h-full object-cover z-0" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="../../assets/hero/waves1.mp4" type="video/mp4">
    </video>
    <div class="absolute inset-0 bg-[#00a99f] opacity-80 z-10"></div>

    <div class="relative z-20 flex flex-col lg:flex-row gap-8 text-sm">
        <div class="p-7 flex flex-col items-center bg-card-gray rounded-lg justify-between text-center lg:text-left">
                <div class="self-center lg:self-start">
                    <img class="w-28 object-cover" src="../../assets/footer/blogo.png" alt="Whizz_Logo">
                </div>
                <div>
                    <hr class="border-light-gray2">
                    <p class="my-5 text-wrap lg:text-nowrap">&copy; 2024 Whizz Systems Inc. All rights reserved.</p>
                    <hr class="border-light-gray2">
                    <div class="flex justify-center lg:justify-start items-center gap-8">
                        <div *ngFor="let item of privacyTerms" class="cursor-pointer underline underline-offset-1 mt-10">
                            <a routerLink="item.link">{{item.label}}</a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="grid grid-cols-10 gap-2 3xl:gap-4 bg-card-gray text-dark-gray2 p-7 rounded-lg text-center md:text-left">
            <div class="col-span-10 md:col-span-5 lg:col-span-2">
                <h3 class="text-base mb-2 lg:mb-7 font-semibold">Get in touch</h3>

                <h4 class="text-sm font-semibold">North America <br /> Silicon Valley HQ</h4>
                <p>3240 Scott Blvd. <br> Santa Clara, CA 95051</p>

                <h4 class="text-sm font-semibold mt-5 mb-1">Global Office</h4>
                <p>Lot 8, SMI Park Phase 2 <br> Jalan Hi-Tech 4 Sambungan <br> Kulim Hi-Tech Park
                    09000 <br> Kulim, KEDHA Malaysia</p>

                <h4 class="text-sm font-semibold mt-5 mb-1">Contact:</h4>
                <div *ngFor="let item of contacts">
                    <a class="underline cursor-pointer" routerLink="item.link">{{item.label}}</a>
                </div>
            </div>
            <!-- Services -->
            <div class="col-span-10 md:col-span-5 lg:col-span-2">
                <h3 class="text-base mb-2 lg:mb-6 font-semibold">Services</h3>
                <div *ngFor="let item of services">
                    <a class="mb-2 lg:mb-4 inline-block cursor-pointer" routerLink="item.link">{{item.label}}</a>
                </div>
            </div>
            <!-- Blog -->
            <div class="col-span-10  md:col-span-5 lg:col-span-1">
                <h3 class="text-base mb-2 lg:mb-6 font-semibold">Blog</h3>
                <div *ngFor="let item of blog">
                    <a class="mb-2 lg:mb-4 inline-block cursor-pointer " routerLink="item.link">{{item.label}}</a>
                </div>
            </div>
            <!-- Social media -->
            <div class="col-span-10 md:col-span-5 lg:col-span-1">
                <h3 class="text-base mb-2 lg:mb-6 font-semibold text-nowrap">Social Media</h3>
                <div *ngFor="let item of socailMedia">
                    <a class="mb-2 lg:mb-4 inline-block cursor-pointer" routerLink="item.link"><i [class]="item.icon" aria-hidden="true"></i>
                        &nbsp; {{item.label}}</a>
                </div>
            </div>
            <div class="col-span-10 md:col-span-10 lg:col-span-4 grid place-items-center">
                <div class="p-8 bg-white border border-light-gray1 rounded-lg">
                    <h1 class="text-3xl font-bold">Subscribe to our <br> newsletter!</h1>
                    <p class="mt-5 mb-8 font-light text-xl">Get updates on the<br /> latest news & insights</p>
                    <app-cbutton1 heading="Subscribe" size="small"></app-cbutton1>
                </div>
            </div>
        </div>
    </div>
</footer>