.diagonal-swipe {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    overflow: hidden;
    background-color: #7BD4CF;
    color: white;
    cursor: pointer;
    transition: color 1s;
    z-index: 1;
  }
  
  .diagonal-swipe span {
    position: relative;
    z-index: 2;
  }
  
  .diagonal-swipe:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color:#55C2BC transparent transparent transparent;
    transition: border-width 1s;
    z-index: 1;
  }
  
  .diagonal-swipe:hover:after {
    border-width: 250px 250px 0 0;
    z-index: -1;
  }
  