<!-- Hero -->
<app-services-hero category="Engineering & Design"
  heading="Signal Integrity Simulations for High-Performance PCB Designs"
  desc="Pre- and Post-Layout Simulations That Drive Precision and Reliability"
  imgUrl="assets/signalIntegrity/hero.png" navigate="/404"
  btnText="Optimize Your Design with Whizz"></app-services-hero>

<!-- Introduction -->
<app-services-intro secTitle="Introduction" secHeading="Ensuring Excellence in Signal Integrity"
  secDesc1="Whizz Systems delivers end-to-end signal integrity simulation services to optimize high-speed PCB designs, ensuring robust performance and cost efficiency. From pre-layout simulations to post-layout analyses, we ensure your design meets modern electronics' demands for speed, reliability, and manufacturability."
  imgUrl="assets/signalIntegrity/introduction.png"></app-services-intro>

<!-- PCB Performance-->
<app-services-core-services secTitle="PCB performance" secHeading="Ensuring Excellence in Signal Integrity" secDesc="Whizz’s pre-layout simulations provide insights into critical
    factors for optimal" [cardData]="pcbPerformance"></app-services-core-services>

<!-- Core Services Overview -->
<app-services-core-services secTitle="Core Services Overview"
  secHeading="Post-Layout Simulations: Refining for Perfection"
  secDesc="Comprehensive 3D Modeling & Mechanical Design Services"
  [cardData]="coreServices"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits secTitle="Benefits" secHeading="Why Choose Whizz Systems for PCB Layout"
  [cardData]="benefits"></app-services-benefits>

<!-- Contact Expert -->
<app-services-contact-experts secHeading="Ready to Elevate Your Product development with Whizz?"
  btnText="Contact our Experts" routerLink="/404"></app-services-contact-experts>