header {
    transition: transform 0.4s ease-in-out;
  }
  
  header.hidden {
    transform: translateY(-100%);
  }
  
header.desktop-header {
  display: block;
}

header.mobile-header {
  display: none;
}

@media (max-width: 1100px) {
  header.desktop-header {
      display: none;
  }

  header.mobile-header {
      display: block;
  }
}
