<section class="px-0 sm:px-[6.3%] mb-10 lg:mb-24 3xl:mb-32">
    <div class=" px-4 py-8 sm:py-12 sm:px-8 lg:py-0 lg:px-0 lg:pl-[52px] 3xl:pl-16 bg-dark-gray1 sm:rounded-xl 3xl:rounded-2xl flex items-center lg:gap-[50px] 3xl:gap-16">
        <div class="w-full lg:w-[44%] 3xl:w-[43%] text-white">
            <p class="text-sm 3xl:text-base mb-2 3xl:mb-[10px]">May 29, 2024</p>
            <div class="flex items-center gap-2 flex-wrap">
                <app-blog-tag text="Heatsink" textColor="text-light-gray1" borderColor="border-light-gray1"
                    borderRadius="rounded-[4px]"></app-blog-tag>
                <app-blog-tag text="Thermal Management" textColor="text-light-gray1" borderColor="border-light-gray1"
                    borderRadius="rounded-[4px]"></app-blog-tag>
            </div>
            <h1
                class="text-3xl lg:text-[46px] 3xl:text-[56px] lg:leading-[56px] 3xl:leading-[67.2px] font-bold my-4 3xl:my-6">
                Whizz Systems' Guide to PCIe-6</h1>
            <p
                class="text-base 3xl:text-xl lg:leading-[20px] 3xl:leading-[24px] font-light text-light-gray1 mb-6 3xl:mb-8">
                Expert insight from Whizz systems</p>
            <app-cbutton heading="Medium Button" icon="../../assets/header/r-arrow.svg" [size]="'medium'"
                [routerLink]="'/404'"></app-cbutton>
            <div class="flex items-center gap-2 3xl:gap-4 mt-6 3xl:mt-8">
                <a *ngFor="let link of links" routerLink="item.link" class="cursor-pointer">
                    <img class="" [src]="link.img" alt="img">
                </a>
            </div>
        </div>

        <div class="hidden lg:block lg:w-[56%] 3xl:w-[57%]">
            <img class="object-cover w-full h-[39rem] 3xl:h-[48rem] rounded-tl-[80px] 3xl:rounded-tl-[100px] rounded-tr-lg rounded-bl-[80px] 3xl:rounded-bl-[100px] rounded-br-lg"
                src="../../../assets/news/hero-img.png" alt="img">
        </div>
    </div>
</section>

<img class="object-cover mx-auto py-10 lg:py-20 px-6 md:px-28 lg:px-44 "
    src="../../../assets/services/section-divider.png" alt="img">

<div class="px-[4%] sm:px-[9%] pb-10">
    <div class="grid grid-cols-9 gap-0 lg:gap-20">
        <!-- left div -->
        <div class="col-span-9 lg:col-span-5">
            <div
                class="max-w-md lg:max-w-lg p-6 sm:p-8 lg:p-12 bg-card-gray border border-1 border-light-gray1 rounded-lg text-dark-gray2">
                <h2 class="text-3xl xl:text-5xl font-bold mb-8">In This Article</h2>
                <ul class="list-outside list-decimal font-bold text-xl marker:text-teal1 ml-4 lg:ml-9">
                    <li class="mb-8" *ngFor="let item of articlesummary">
                        <h4 class="ml-3 text-xl font-light">{{item.title}}</h4>
                    </li>
                </ul>
            </div>

            <h3 (click)="toggleVisibility('signalIntegrity')"
                class="text-dark-gray1 text-2xl font-semibold my-4 cursor-pointer"
                [ngClass]="{'text-teal2': !sectionVisibility.signalIntegrity, 'text-dark-gray1': sectionVisibility.signalIntegrity}">
                Signal Integrity
                <i class="fa-solid fa-chevron-down text-sm transition-transform duration-300 ease-[cubic-bezier(1,0.25,0.25,.8)]"
                    [ngClass]="{'rotate-135 text-dark-gray1': sectionVisibility.signalIntegrity, '-rotate-180 text-teal2': !sectionVisibility.signalIntegrity}"></i>
            </h3>
            <div *ngIf="sectionVisibility.signalIntegrity">
                <div *ngFor="let item of question1">
                    <h4 class="text-dark-gray2 text-lg font-medium mb-4">{{item.title}}</h4>
                    <p class="text-base text-dark-gray2 font-light mb-4">{{item.desc1}}</p>
                    <figure
                        class="p-4 sm:p-8 md:p-14 lg:p-16 border-[1px] border-light-gray1 rounded-lg bg-card-gray mb-4 grid place-items-center">
                        <img class="object-cover rounded-lg" [src]="item.img1" alt="img">
                        <figcaption class="text-base font-bold text-teal2 mt-2 lg:mt-4 text-center">{{item.img1caption}}
                        </figcaption>
                    </figure>
                    <p class="text-base text-dark-gray2 font-light mb-4">{{item.desc2}}</p>
                    <figure
                        class="p-4 sm:p-8 md:p-14 lg:p-16 border-[1px] border-light-gray1 rounded-lg bg-card-gray mb-4 grid place-items-center">
                        <img class="object-cover rounded-lg" [src]="item.img2" alt="img">
                        <figcaption class="text-base font-bold text-teal2 mt-2 lg:mt-4 text-center">{{item.img2caption}}
                        </figcaption>
                    </figure>
                    <p class="text-base text-dark-gray2 font-light mb-6">{{item.desc3}}</p>
                    <p class="text-base text-dark-gray2 font-light mb-6">{{item.desc4}}</p>
                    <p class="text-base text-dark-gray2 font-light mb-4">{{item.desc5}}</p>
                    <figure
                        class="p-4 sm:p-8 md:p-14 lg:p-16 border-[1px] border-light-gray1 rounded-lg bg-card-gray mb-4 grid place-items-center">
                        <img class="object-cover rounded-lg" [src]="item.img3" alt="img">
                        <figcaption class="text-base font-bold text-teal2 mt-2 lg:mt-4 text-center">{{item.img3caption}}
                        </figcaption>
                    </figure>
                </div>
                <div *ngFor="let item of question2">
                    <h4 class="text-dark-gray2 text-lg font-medium mb-4">{{item.title}}</h4>
                    <p class="text-base text-dark-gray2 font-light mb-6">{{item.desc1}}</p>
                    <p class="text-base text-dark-gray2 font-light mb-6">{{item.desc2}}</p>
                    <p class="text-base text-dark-gray2 font-light mb-4">{{item.desc3}}</p>
                    <figure
                        class="p-4 sm:p-8 md:p-14 lg:p-16 border-[1px] border-light-gray1 rounded-lg bg-card-gray mb-4 grid place-items-center">
                        <img class="object-cover rounded-lg" [src]="item.img1" alt="img">
                        <figcaption class="text-base font-bold text-teal2 mt-2 lg:mt-4 text-center">{{item.img1caption}}
                        </figcaption>
                    </figure>
                </div>
                <div *ngFor="let item of question3">
                    <h4 class="text-dark-gray2 text-lg font-medium mb-4">{{item.title}}</h4>
                    <p class="text-base text-dark-gray2 font-light mb-6">{{item.desc1}}</p>
                    <p class="text-base text-dark-gray2 font-light mb-4">{{item.desc2}}</p>
                    <figure
                        class="p-4 sm:p-8 md:p-14 lg:p-16 border-[1px] border-light-gray1 rounded-lg bg-card-gray mb-4 grid place-items-center">
                        <img class="object-cover rounded-lg" [src]="item.img1" alt="img">
                        <figcaption class="text-base font-bold text-teal2 mt-2 lg:mt-4 text-center">{{item.img1caption}}
                        </figcaption>
                    </figure>
                </div>
            </div>

            <h3 (click)="toggleVisibility('power')" class="text-dark-gray1 text-2xl font-semibold mb-4 cursor-pointer"
                [ngClass]="{'text-teal2': !sectionVisibility.power, 'text-dark-gray1': sectionVisibility.power}">
                Power
                <i class="fa-solid fa-chevron-down text-sm transition-transform duration-300 ease-[cubic-bezier(1,0.25,0.25,.8)]"
                    [ngClass]="{'rotate-135 text-dark-gray1': sectionVisibility.power, '-rotate-180 text-teal2': !sectionVisibility.power}"></i>
            </h3>
            <div *ngIf="sectionVisibility.power">
                <div *ngFor="let item of question4">
                    <h4 class="text-dark-gray2 text-lg font-medium mb-4">{{item.title}}</h4>
                    <p class="text-base text-dark-gray2 font-light mb-6">{{item.desc1}}</p>
                    <p class="text-base text-dark-gray2 font-light mb-6">{{item.desc2}}</p>
                    <p class="text-base text-dark-gray2 font-light mb-4">{{item.desc3}}</p>
                </div>
                <div *ngFor="let item of question5">
                    <h4 class="text-dark-gray2 text-lg font-medium mb-4">{{item.title}}</h4>
                    <p class="text-base text-dark-gray2 font-light my-4">{{item.desc1}}</p>
                    <p class="text-base text-dark-gray2 font-light my-4">{{item.desc2}}</p>
                    <figure class="p-4 sm:p-8 md:p-14 lg:p-16 border-[1px] border-light-gray1 rounded-lg bg-card-gray">
                        <img class="object-cover rounded-lg" [src]="item.img1" alt="img">
                        <figcaption class="text-base font-bold text-teal2 mt-2 lg:mt-4 text-center">{{item.img1caption}}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <!-- right div -->
        <div class="col-span-9 lg:col-span-4">
            <div class="lg:sticky top-28 lg:h-[calc(100vh-20px)] right-0 overflow-auto ">
                <div class="max-w-lg p-6 xl:p-12 bg-card-gray rounded-xl border border-1 border-light-gray1 mb-8">
                    <h2 class="text-3xl lg:text-5xl font-bold text-dark-gray2">Subscribe to our newsletter!</h2>
                    <p class="font-light text-xl my-8 text-dark-gray2">Get updates on the latest news & insights</p>
                    <div class="flex items-center flex-col md:flex-row gap-8">
                        <input type="email" placeholder="Enter Your Email"
                            class="w-full text-base px-4 py-3 block rounded-lg border-[1px] border-dark-gray1 focus:outline-none focus:border-teal1  bg-transparent placeholder:light-gray2 focus:placeholder-transparent">
                        <app-cbutton3 heading="Subscribe" size="medium"></app-cbutton3>
                    </div>
                </div>
                <div class="max-w-lg p-6 xl:p-12  bg-subscribe rounded-lg bg-cover">
                    <h2 class="text-white text-3xl lg:text-5xl font-bold mb-8">Learn more about Whizz Systems</h2>
                    <app-cbutton2 routerLink="/services" heading="All services" [size]="'medium'"></app-cbutton2>
                </div>
            </div>
        </div>
    </div>
</div>

<app-cnews></app-cnews>