<section class="px-0 sm:px-[6.3%] mb-8 lg:mb-12 3xl:mb-16">
    <div class="relative p-6 sm:p-10 lg:p-14 3xl:p-16 flex gap-8 lg:gap-10 3xl:gap-[72px] flex-col lg:flex-row justify-between">
        <video class="absolute inset-0 w-full h-full object-cover z-0 sm:rounded-xl 3xl:rounded-2xl" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../assets/hero/waves1.mp4"  type="video/mp4">
        </video>
        <div class="absolute inset-0 bg-[#00a99f] opacity-80 z-[5] sm:rounded-xl 3xl:rounded-2xl"></div>
        <div class="w-full lg:w-[55%] relative z-10">
            <h1 class="lg:px-2 3xl:px-3 text-white text-4xl sm:text-5xl lg:text-[76px] 3xl:text-8xl font-bold lg:leading-[90px] 3xl:leading-[115.2px] lg:mt-16 3xl:mt-20">Accelerate Your Electronic Product Success</h1>
        </div>
        <div class="w-full lg:w-[45%] relative z-10 lg:mt-[20.5rem] 3xl:mt-[27rem] mb-2 3xl:mb-4">
            <p class="text-white font-light text-base 3xl:text-lg  mb-6 3xl:mb-8 max-w-[21rem] 3xl:max-w-sm">
                We excel at bringing products to market swiftly while staying
                ahead of the curve in material science and advanced assembly techniques. Let’s innovate and scale
                together!
            </p>
            <app-cbutton [size]="'large'" heading="Learn more" icon="../../assets/hero/r-arrow.svg" [routerLink]="'routerLink'"></app-cbutton>
        </div>
    </div>
</section>
