<div class="px-[2%] pb-16">
    <div class="px-16 py-20 flex flex-col lg:flex-row items-center justify-between gap-x-10 lg:gap-x-20 bg-dark-blue text-white  rounded-md">
        <div class="w-1/2">
            <h1 class="text-5xl font-bold">Accelerate Your Electronic Product Success</h1>
            <p class="text-light-gray text-base mt-6 mb-8">We excel at bringing products to market swiftly while staying
                ahead of the curve in material science and advanced assembly techniques. Let’s innovate and scale
                together!</p>
            <app-cbutton [size]="'large'" class="bg-black" heading="Learn More"
                icon="../../assets/hero/right-arrow.svg"></app-cbutton>
        </div>
        <div class="w-1/2">
            <img class="object-cover" src="../../assets/hero/hero-img.png" alt="img">
        </div>
    </div>
</div>
