<div class="px-[4%] sm:px-[5%] pb-16">
    <div class="relative p-8 lg:px-16 lg:pt-44 lg:pb-16 flex gap-10 flex-col lg:flex-row justify-between  ">
       
        <video class="absolute inset-0 w-full h-full object-cover z-0 rounded-2xl" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../assets/hero/waves1.mp4"  type="video/mp4">
        </video>
        
        <div class="absolute inset-0 bg-[#00a99f] opacity-70 z-[5] rounded-2xl"></div>
    
        <div class="w-full lg:w-[55%] relative z-10">
            <h1 class="text-white text-4xl lg:text-7xl 3xl:text-8xl font-bold">Accelerate Your Electronic Product Success</h1>
        </div>
    
        <div class="w-full lg:w-[45%] relative z-10">
            <p class="text-white font-light text-lg lg:mt-80 mb-8 lg:max-w-sm">
                We excel at bringing products to market swiftly while staying
                ahead of the curve in material science and advanced assembly techniques. Let’s innovate and scale
                together!
            </p>
            <app-cbutton [size]="'large'" heading="Learn more" icon="../../assets/hero/r-arrow.svg" [routerLink]="'routerLink'"></app-cbutton>
        </div>
    </div>
</div>
