<!-- Hero -->
<app-services-hero serviceCategory="Lab Testing Solutions"
  serviceTitle="Lab Testing Solutions: Board Bring-Up, Validation, and Characterization"
  serviceDesc="Backed by 25+ years of end-to-end product development experience, our testing solutions ensure your electronic systems exceed industry expectations."
  imgUrl="assets/services/lab-testing/hero.png" navigate="https://webforms.pipedrive.com/f/73OVO0l5Deo2lYjNE60qY8rL0iIUE7Pm7JzFG1RAIKu5F5MIiylgnQ6V4Quvs9QO1Z"
  btnText="Get in Touch with Our Lab Testing  Experts"></app-services-hero>

<!-- Navbar -->
<section [ngClass]="{ 'top-[13%]': isSticky}"
  class="hidden lg:block px-[9.3%] lg:py-10 3xl:py-16 bg-white sticky top-0 z-20 transition-all duration-500 ease-in-out">
  <div class="flex justify-center items-center gap-3 3xl:gap-4">
    <a *ngFor="let service of labTestingServices" (click)="scrollToService(service)"
      class="lg:w-44 2xl:w-48 lg:h-[72px] 3xl:w-[247px] 3xl:h-[88px] cursor-pointer grid place-items-center bg-dark-gray1 hover:bg-dark-gray2 text-center text-white text-xs 3xl:text-base font-normal 3xl:font-medium rounded-md 3xl:rounded-lg transition-all duration-300 ease-in-out">{{
      service }}</a>
  </div>
</section>

<!-- Overview -->
<section class="px-[4%] sm:px-[9.3%] bg-dark-gray2 py-8 lg:py-12 3xl:py-16">
  <div class="px-8 lg:px-12 3xl:px-16 py-6 3xl:py-8 bg-dark-gray1 rounded-xl 3xl:rounded-2xl">
    <div class="flex flex-col lg:flex-row items-center gap-10 lg:gap-12 3xl:gap-16">
      <div class="w-full lg:w-[49.2%] p-6 lg:p-0 order-1 lg:order-0">
        <img height="306" width="547" loading="lazy" class="h-auto w-full object-cover rounded-md 3xl-rounded-lg" src="assets/services/lab-testing/overview.png" alt="Elevating the Standards of Electronic Testing" />
      </div>
      <div class="w-full lg:w-[50.8%] order-0 lg:order-1">
        <h2 class="text-teal1 text-sm 3xl:text-base font-medium 3xl:font-bold leading-[19.2px]">
          Overview of Lab Testing Solutions
        </h2>
        <h3 class="text-white text-xl 3xl:text-2xl font-medium leading-[28.8px] my-3 3xl:my-4">
          Elevating the Standards of Electronic Testing
        </h3>
        <p class="text-light-gray1 text-sm 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">
          With over 25 years of experience designing successful electronic products from concept to production, Whizz
          Systems leverages <b class="text-teal1">advanced 3D modeling and mechanical design capabilities</b> to create
          optimized solutions for PCBs and electronic products. Our designs <b class="text-teal1">enhance performance
            and ensure manufacturability</b> by meeting the <b class="text-teal1">highest industry standards</b>. Our
          expertise spans multidomains and various industries, ensuring comprehensive support throughout the entire
          design process.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Board Bring-Up -->
<app-services-intro id="BoardBringUp" heading="Board Bring-Up & Initial Diagnostics"
title="Bring-Up: Building the Foundation of Reliable Electronics"
desc1="Our Board Bring-Up services lay the groundwork for dependable products. With in-house engineering and manufacturing teams, we’re not just identifying issues — we’re equipped to solve them with expert precision, whether through rework or design refinement."
subTitle="Key Services:"
desc4="Visual Inspection • Open/Short Testing • Power-Up Testing • Debugging & Issue Resolution • Rework • Reset Check • Clock Measurement • Interface Testing"
  [isImageLeft]="false" imgUrl="assets/services/lab-testing/board-bring-up.png"></app-services-intro>

<!-- Validation -->
<app-services-intro id="Validation" heading="Validation – Assuring Operational Excellence"
title="Validation: Proving Your Product’s Integrity"
desc1="Validation ensures that every component and system operates as intended. At Whizz Systems, this goes beyond ticking boxes — our 25+ years in engineering mean we approach validation with a development mindset, offering proactive improvements and design insights throughout the process."
subTitle="Key Services:"
desc4="Power Sequencing • Interface Integrity Testing • Functional Testing • Temperature Measurements • Firmware Testing " imgUrl="assets/services/lab-testing/validation.png"></app-services-intro>

<!-- Characterization -->
<app-services-intro id="Characterization" heading="Characterization – Refining Products for Performance"
title="Characterization: From Metrics to Market Readiness"
desc1="Our characterization services provide a detailed understanding of your product’s performance across conditions, uncovering insights that drive optimization. With in-house experts in high-speed electronics, power systems, and advanced simulations, we don’t just test — we help refine."
subTitle="Key Services:"
desc4="Power Load Testing • Ripple Measurement • Stress Testing • Timing Analysis • Performance Benchmarking • Environmental Characterization"
  [isImageLeft]="false" imgUrl="assets/services/lab-testing/characterization.png"></app-services-intro>

<!-- Benefits -->
<app-services-benefits1 heading="Benefits" title="More Than Testing – A Complete Product Development Ecosystem"
  [benefitsData]="benefits"></app-services-benefits1>

<!-- Contact to Experts -->
<app-services-contact-experts slogan="How Can Our Testing Expertise Accelerate Your Product Success?"
  navigate="https://webforms.pipedrive.com/f/73OVO0l5Deo2lYjNE60qY8rL0iIUE7Pm7JzFG1RAIKu5F5MIiylgnQ6V4Quvs9QO1Z" btnText="Contact Our Testing Experts"></app-services-contact-experts>