<!-- Hero -->
<app-services-hero serviceCategory="Featured Product" serviceTitle="5G
NR O-RU REFERENCE PLATFORM" serviceDesc="sub header with a brief intro or description" imgUrl="assets/oru/hero.png"
  navigate="/404" btnText="Small Button"></app-services-hero>

<!-- 5G ORU Open Radio Unit -->
<app-services-intro heading="5G ORU Open Radio Unit" title="5G/4G OPEN RADIO UNIT WHITE BOX"
  desc1="The 5G/4G Open Radio Unit reference platform features Intel’s Arria® 10 SoC, offering low power, high performance, and customizable 4T4R radio solutions for TDD or FDD links, with a tunable range of 600MHz–6GHz and 200MHz bandwidth per antenna."
  desc2="It supports Arria® 10 SX 320/480 SoCs with 1GB HPS DDR4 and 2GB FPGA DDR4 memory, a 1Gbps Ethernet interface, USB-to-UART, and two optical QSFP ports enabling up to 40Gbps transfer. The clock architecture supports 1588 v2 PTP, CPRI clock recovery, and external 1PPS/10MHz synchronization."
  desc3="The platform includes IJ5 Series Samtec and SD card boot connectors and comes with a diagnostic BSP reference example."
  imgUrl="assets/loopback-cards/introduction.png" btnText="Learn more" navigate="/404"></app-services-intro>