<!-- Hero -->
<app-product-hero productCategory="Featured Products | Telecommunication | 5G Network"
  productName="5G/4G Open Radio Unit (ORU) White Box"
  productDesc="A Scalable, High-Performance Solution for Next-Generation 5G Networks"
  btnText="Need a custom ORU solution?" navigate="/404"
  imgUrl="assets/featured-products/oru/hero.png"></app-product-hero>

<!-- Product Overview -->
<app-product-overview heading="Product Overview" title="A Next-Gen Solution for 5G & 4G Networks"
  desc1="The transition to <b>5G networks</b> requires <b>cost-effective, flexible, and high-performance radio solutions</b> that support <b>high-speed connectivity</b> while maintaining <b>low power consumption</b>"
  desc2="The <b>5G/4G Open Radio Unit White Box</b> is an <b>optimized reference platform</b> designed to support <b>custom radio solutions</b> for <b>TDD</b> and <b>FDD communication, ensuring efficient data transmission across a wide frequency range.</b>"
  desc3="
Whizz Systems, in collaboration with <b>Intel, Analog Devices, Comcores, and Radisys,</b> developed this <b>turnkey ORU platform,</b> taking full ownership of its <b>design, thermal and mechanical engineering, manufacturing,</b> and <b>validation</b> to deliver a <b>market-ready product"
  imgUrl="assets/featured-products/oru/overview.png">
</app-product-overview>

<!-- Product Marketing -->
<app-product-marketing
  slogan="With 25+ years of expertise, we harmonize power efficiency, thermal management, performance, and cost to bring next-generation 5G and 4G hardware to market—faster and at scale."></app-product-marketing>

<!-- Product Key Features & Benefits -->
<app-product-features heading="Key Features & Benefits"
  title="Engineered for High-Performance, Scalable Network Deployment" [featuresData]="features"></app-product-features>

<!-- Customization -->
<app-product-customization heading="Customization Options" title="Tailored Solutions for Diverse 5G & 4G Deployments"
  desc="Adaptable configurations for frequency tuning, board-to-board interfacing, and scalable network requirements."
  btnText="Request a Custom Version" navigate="/404" tagTitle="Target Applications" [tagsData]="tags"
  [customizationsData]="customizations"></app-product-customization>

<!-- Product Partners -->
<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
  <div class="flex flex-col lg:flex-row items-center gap-8 lg:gap-12 3xl:gap-16">
    <div class="w-full lg:w-[46.2%] order-2 lg:order-1 p-6 sm:p-10 lg:p-0">
      <img class="object-cover" src="assets/featured-products/oru/partners.png" alt="img" />
    </div>
    <div class="w-full lg:w-[53.8%] order-1 lg:order-2">
      <h4 class="text-teal1 text-[13px] 3xl:text-base font-semibold 3xl:font-bold lg:leading-[15px] 3xl:leading-[19.2px]">
        Trusted Expertise, Backed by Partnerships
      </h4>
      <h3
        class="text-dark-gray2 text-xl 3xl:text-2xl font-medium 3xl:font-bold leading-[24px] 3xl:leading-[28.8px] my-3 3xl:my-4">
        Collaborating with Industry Leaders to Deliver Cutting-Edge 5G/4G Solutions
      </h3>
      <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-6 3xl:mb-8">
        The 5G/4G ORU White Box was developed in partnership with leading technology providers to ensure best-in-class
        performance and seamless integration:
      </p>
      <hr class="border border-light-gray1 opacity-60 mb-3 3xl:mb-4">
      <div *ngFor="let partner of partners">
        <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light" [innerHTML]="partner"></p>
        <hr class="border border-light-gray1 opacity-60 my-3 3xl:my-4">
      </div>
    </div>
  </div>
</section>

<!-- Product CTA -->
<app-product-cta slogan="Ready to Deploy High-performance 5G/4G Solutions?" btnText="Contact Us today"
  navigate="/404"></app-product-cta>