<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <div class="flex flex-col lg:flex-row items-center gap-8 lg:gap-12 3xl:gap-16">
        <div class="w-full lg:w-[47%] 2xl:w-[57%] order-2 lg:order-1 p-6 sm:p-10 lg:p-0">
            <img class="object-cover" [src]="imgUrl" alt="img">
        </div>
        <div class="w-full lg:w-[53%] 2xl:w-[43%] order-1 lg:order-2">
            <h4 class="text-teal1 text-[13px] 3xl:text-base font-semibold 3xl:font-bold lg:leading-[15px] 3xl:leading-[19.2px]">{{heading}}</h4>
            <h3
                class="text-dark-gray2 text-xl 3xl:text-2xl font-medium lg:leading-[24px] 3xl:leading-[28.8px] my-3 3xl:my-4">
                {{title}}</h3>
            <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light leading-[24px] 3xl:leading-[28px]" [innerHTML]="desc1"></p>
            <p *ngIf="desc2" class="text-dark-gray2 text-[13px] 3xl:text-base font-light leading-[24px] 3xl:leading-[28px] my-4 3xl:my-6" [innerHTML]="desc2">{{desc2}}</p>
            <p *ngIf="desc3" class="text-dark-gray2 text-[13px] 3xl:text-base font-light leading-[24px] 3xl:leading-[28px]" [innerHTML]="desc3">{{desc3}}</p>
            <div *ngIf="btnText" class="mt-4 3xl:mt-5">
            <app-button heading="{{btnText}}" routerLink="{{navigate}}" icon="assets/shared/r-arrow.svg"
                size="small"></app-button>
            </div>
        </div>
    </div>
</section>