<!-- Hero -->
<app-services-hero serviceCategory="Engineering & Design" serviceTitle="Optimize Your Product with
Cutting-Edge 3D Modeling & Mechanical Design" serviceDesc="From Concept to Reality—Precision Engineering for Superior
Performance" imgUrl="assets/services/engg&design/3D-modeling/hero.png" navigate="https://webforms.pipedrive.com/f/crXLMWyvClQ4FIJpwn9PnIUZEZIQ4xlbRfoIXboc0zDbHA6CpGZPKioNHXXyzz743h"
  btnText="Get Started with Expert Design"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading=" Our Expertise, Your Advantage" title="Next-Gen 3D Modeling & Mechanical Design for End-to-End Electronics"
  desc1="With over 25 years of experience designing successful electronic products from concept to production, Whizz Systems leverages advanced 3D modeling and mechanical design capabilities to create optimized solutions for PCBs and electronic products. Our designs enhance performance and ensure manufacturability by meeting the highest industry standards. Our expertise spans multidomains and various industries, ensuring comprehensive support throughout the entire design process."
  desc2="We deliver end-to-end Engineering & Design solutions with multidomain expertise. Our flexible approach allows you to engage with us at any stage of product development, from concept through production and beyond. We take full ownership of the process, providing sustaining engineering support to ensure your product's performance and reliability throughout its entire lifecycle."
  imgUrl="assets/services/engg&design/3D-modeling/introduction.png"></app-services-intro>

<!-- Core Services Overview-->
<app-services-core-services heading="Core Services Overview"
title="Comprehensive 3D Modeling & Mechanical Design Services" [columns]="3"
  [coreServicesData]="coreServices"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits heading="Benefits" title="Why Choose Whizz Systems?" btnText="Small Button" navigate="/404"
  [benefitsData]="benefits" [columns]="3"></app-services-benefits>

<!-- Proven Success -->
<app-services-intro heading="Proven Success" title="Optimized Enclosure Design for 5G ORU Performance" desc1="Explore how Whizz Systems engineered a precision mechanical enclosure for the 5G ORU, <b>balancing functionality, durability, and cost-effectiveness.</b> Our design features lightweight aluminum alloy for the main chassis and shock-absorbent ABS plastic end caps, ensuring both <b>structural integrity and ease of manufacturing.</b> The enclosure design, optimized for thermal management and compact form factor, accommodates critical components while maintaining aesthetic appeal and simplifying assembly with off-the-shelf hardware."
  imgUrl="assets/services/engg&design/3D-modeling/proven-success.png" navigate="/404" btnText="Learn more"
  [isImageLeft]="false"></app-services-intro>

<!-- Talk To Expert -->
<app-services-contact-experts slogan="Ready to Bring Your Design to Life?" navigate="https://webforms.pipedrive.com/f/crXLMWyvClQ4FIJpwn9PnIUZEZIQ4xlbRfoIXboc0zDbHA6CpGZPKioNHXXyzz743h"
  btnText="Contact Our Design Experts"></app-services-contact-experts>