.diagonal-swipe {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #2C353A ;
  background-color: #F8F8F8;
  color: #2A494C;
  cursor: pointer;
  transition: color 1s;
  z-index: 1;
}

.diagonal-swipe span {
  position: relative;
  z-index: 2;
  transition: color 1s;
}

.diagonal-swipe:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #2C353A transparent transparent transparent;
  transition: border-width 1s;
  z-index: 1;
}

.diagonal-swipe:hover:after {
  border-width: 250px 250px 0 0;
  z-index: -1;
}



