<!-- Hero -->
<app-services-hero category="Engineering & Design"
  heading="Unleash the Power of Innovation with Comprehensive FPGA Design Solutions"
  desc="Delivering Custom FPGA, Firmware, and Software Expertise for Complex Challenges" imgUrl="assets/fpga/hero.png"
  navigate="/404" btnText="Get Started with Our FPGA Experts"></app-services-hero>

<!-- Introduction -->
<app-services-intro secTitle="Introduction" secHeading="Leading the Way in FPGA Design and System Integration"
  secDesc1="At Whizz Systems., we bring unparalleled expertise in <b>FPGA design, firmware,</b> and <b>software development</b> to meet the ever-evolving needs of modern technology. Our team excels in FPGA architecture design, RTL coding, functional verification, and system integration to ensure seamless performance."
  secDesc2="Using <b>industry-leading tools</b> like Vivado, Quartus Prime, and Lattice Diamond, we support a wide range of FPGA families, including Versal, Zynq, Virtex Ultrascale, Agilex, and Stratix. Our capabilities extend to integrating third-party IPs, optimizing data exchange through standard buses such as AXI and Avalon, and developing high-speed SERDES interfaces. Whether <b>designing for high-performance systems</b> or <b>ensuring compatibility with standard communication protocols</b> like UART, I2C, SPI, and Ethernet, we deliver solutions that enhance functionality and reliability."
  imgUrl="assets/fpga/introduction.png"></app-services-intro>

<!-- Core Services -->
<app-services-core-services secTitle="Core Services Overview"
  secHeading="A Full Spectrum of FPGA, Firmware, and Software Services" [cardData]="coreServices"
  secHeadingMargin="mb-6 3xl:mb-8"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits1 heading="Benefits Overview" title="Why Choose Whizz Systems for FPGA Services?"
  btnText="Small Button" navigate="/404" [benefitsData]="benefits"></app-services-benefits1>

<!-- CTA -->
<app-services-contact-experts secHeading="Ready to Take Your FPGA Design to the Next Level?" routerLink="/404"
  btnText="Get Started with Our FPGA Experts"></app-services-contact-experts>