<!-- Hero -->
<app-services-hero serviceCategory="Engineering & Design"
  serviceTitle="Unleash the Power of Innovation with Comprehensive FPGA Design Solutions"
  serviceDesc="Delivering Custom FPGA, Firmware, and Software Expertise for Complex Challenges"
  imgUrl="assets/services/engg&design/fpga/hero.png" navigate="https://webforms.pipedrive.com/f/czGi8JAgoXTuxwq9JOAdJS5s7g9dl4WWtigzbM04kMA2DZCcN7OnkM10DS7rMiJd19" btnText="Get Started with Our FPGA Experts"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading="Introduction" title="Leading the Way in FPGA Design and System Integration"
  desc1="At Whizz Systems., we bring unparalleled expertise in <b>FPGA design, firmware,</b> and <b>software development</b> to meet the ever-evolving needs of modern technology. Our team excels in FPGA architecture design, RTL coding, functional verification, and system integration to ensure seamless performance."
  desc2="Using <b>industry-leading tools</b> like Vivado, Quartus Prime, and Lattice Diamond, we support a wide range of FPGA families, including Versal, Zynq, Virtex Ultrascale, Agilex, and Stratix. Our capabilities extend to integrating third-party IPs, optimizing data exchange through standard buses such as AXI and Avalon, and developing high-speed SERDES interfaces. Whether <b>designing for high-performance systems</b> or <b>ensuring compatibility with standard communication protocols</b> like UART, I2C, SPI, and Ethernet, we deliver solutions that enhance functionality and reliability."
  imgUrl="assets/services/engg&design/fpga/introduction.png"></app-services-intro>

<!-- Core Services -->
<app-services-core-services heading="Core Services Overview"
  title="A Full Spectrum of FPGA, Firmware, and Software Services" [columns]="3"
  [coreServicesData]="coreServices"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits1 heading="Benefits Overview" title="Why Choose Whizz Systems for FPGA Services?"
  btnText="Small Button" navigate="/404" [benefitsData]="benefits"></app-services-benefits1>

<!-- CTA -->
<app-services-contact-experts slogan="Ready to Take Your FPGA Design to the Next Level?" navigate="https://webforms.pipedrive.com/f/czGi8JAgoXTuxwq9JOAdJS5s7g9dl4WWtigzbM04kMA2DZCcN7OnkM10DS7rMiJd19"
  btnText="Get Started with Our FPGA Experts"></app-services-contact-experts>