<section class="px-0 sm:px-[6.3%] pb-8 lg:pb-12 3xl:pb-16">
  <div class="flex items-center lg:gap-10 3xl:gap-[61px] bg-dark-gray1 sm:rounded-xl 3xl:rounded-2xl">
    <div
      class="w-full lg:w-[46.5%] 3xl:w-[45%] text-white px-4 py-8 sm:py-12 sm:px-8 lg:py-12 3xl:py-16 lg:px-0 lg:pl-12 3xl:pl-16">
      <h1
        class="text-3xl lg:text-[39px] 2xl:text-[47px] 3xl:text-[56px] lg:leading-[45px] 2xl:leading-[56px] 3xl:leading-[67.2px] font-semibold 3xl:font-bold mb-4 3xl:mb-6 w-[96%] sm:w-[57%] lg:w-full">
        Whizz Bytes: Expert <br class="block lg:hidden"> Views and Breaking News</h1>
      <p class="text-base lg:text-sm 2xl:text-base 3xl:text-xl font-extralight lg:leading-[20px] 3xl:leading-[24px] sm:w-[70%] lg:w-full">Get informed with expert opinions, industry news, and deep dives into the latest in technology</p>
    </div>
    <div class="hidden lg:block lg:w-[53.5%] 3xl:w-[55%] relative">
      <video
        class="absolute inset-0 w-full h-full object-cover z-0 rounded-tl-[80px] 3xl:rounded-tl-[100px] rounded-tr-md 3xl:rounded-tr-lg rounded-bl-[80px] 3xl:rounded-bl-[100px] rounded-br-md 3xl:rounded-br-lg"
        loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="assets/hero/waves1.mp4" type="video/mp4">
      </video>
      <div
        class="absolute inset-0 bg-video-overlay opacity-80 z-10 rounded-tl-[80px] 3xl:rounded-tl-[100px] rounded-tr-md 3xl:rounded-tr-lg rounded-bl-[80px] 3xl:rounded-bl-[100px] rounded-br-md 3xl:rounded-br-lg">
      </div>
      <p class="h-[34rem] 2xl:h-[39rem] 3xl:h-[48rem]"></p>
    </div>
  </div>
</section>

<section class="px-[4%] sm:px-[9.3%] pt-8 lg:pt-12 3xl:pt-16">
  <h3 class="text-3xl sm:text-4xl 3xl:text-5xl lg:leading-[40px] 3xl:leading-[57.6px] text-dark-gray2 font-semibold 3xl:font-bold mb-6 3xl:mb-8">Featured Blogs</h3>
  <app-featuredblog></app-featuredblog>
</section>

<section *ngIf="isBlogVisible">
  <img src="assets/featured-products/products/divider-top.png" alt="img">
  <div class="px-[4%] sm:px-[9.3%]">
    <h3 class="text-3xl sm:text-4xl 3xl:text-5xl lg:leading-[40px] 3xl:leading-[57.6px] text-dark-gray2 font-semibold 3xl:font-bold my-6 3xl:my-8">All Blogs</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 3xl:gap-8">
      <div *ngFor=" let card of cards">
        <app-news-card [imageUrl]="card.imageUrl" [date]="card.date" [title]=" card.title"></app-news-card>
      </div>
    </div>
  </div>
</section>
<app-button (click)="loadBlogs()" class="flex justify-center py-4 mb-8 lg:mb-12 3xl:mb-16" [size]="'large'"
  [heading]="isBlogVisible ? 'See less' :'See more'"></app-button>