<!-- Hero -->
<app-services-hero category="Engineering & Design"
    heading="Power Delivery Network Simulations for Reliable PCB Performance"
    desc="Ensuring Power Integrity with Advanced DC and AC Analysis Techniques"
    imgUrl="../../../assets/power-delivery/hero.png" routerLink="/404"
    btnText="Optimize Your Power Network Today"></app-services-hero>

<div class="px-[4%] sm:px-[9.3%]">
    <!-- Introduction -->
    <app-services-intro secTitle="Introduction"
        secHeading="Optimized Power Delivery for NextGen Electronics & Hardware Systems"
        secDesc1="Whizz Systems’ Power Integrity services focus on delivering efficient, reliable, and high-performing power distribution networks for PCB designs. Our advanced simulations ensure every component receives stable power within design constraints while minimizing risks of overheating, noise, and power inefficiency."
        imgUrl="../../../assets/signalIntegrity/introduction.png"></app-services-intro>

    <!-- Core Services Overview -->
    <app-services-core-services 
    secTitle="Core Services Overview" secHeading="Comprehensive Power Integrity Services" [cardData]="coreServices" secHeadingMargin="mb-6 3xl:mb-8"
    ></app-services-core-services>
    
    <!-- Benefits -->
    <app-services-benefits secTitle="Benefits" secHeading="Why Choose Whizz Systems for PCB Layout" [cardData]="benefits"></app-services-benefits>


    <!-- Case Studies -->
    <app-services-case-study secTitle="Case Study" secHeading="Proven Success" secDesc="Brief success stories or Whitepapers related to/ showcasing
    specific mechanical design projects." imgUrl="../../../assets/power-delivery/case-study.png" routerLink="/404" btnText="Learn more"></app-services-case-study>

    <!-- Contact PCB Expert -->
    <app-services-contact-experts secHeading="Ensure Power Integrity in Your Designs" secDesc="Partner with Whizz Systems to create high-performance PCBs with optimized power delivery networks that meet your industry’s standards." secHeadingMargin="mb-10 3xl:mb-12" btnText="Contact our Experts" routerLink="/404"></app-services-contact-experts>
</div>