<a routerLink="" class="cursor-pointer group overflow-y-scroll no-scrollbar  h-[29.4rem] mb-[0rem] hover_div text-dark-gray2 ">
  <div class="p-8 bg-gray mb-[2.7rem] border border-1 border-light-gray1 bg-card-gray rounded-lg">
    <img *ngIf="imageUrl" [src]="imageUrl" class="hover_img  rounded-lg mb-8" alt="Card-image">

    <div class="mb-1">
      <app-newsbutton heading="Heatsink" [routerLink]="'routerLink'" class="mr-2"></app-newsbutton>
      <app-newsbutton heading="Thermal Management" [routerLink]="'routerLink'"></app-newsbutton>
      <p class="text-sm font-medium mt-5 mb-2">{{ date }}</p>
      <h3 class="text-2xl font-bold">{{ title }}</h3>
    </div>
  </div>

  <button
    class="learn_more text-base flex items-center justify-between font-medium bg-dark-gray1 w-full px-3 py-2  group-hover:opacity-100  group-hover:translate-y-0 translate-y-4 text-white rounded-md duration-500 ease-in-out">
    Read more
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-short"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
    </svg>
  </button>
</a>