<section class="px-0 sm:px-[6.3%] pb-8 lg:pb-12 3xl:pb-16">
    <div class="px-4 sm:px-8 lg:px-[52px] 3xl:px-16 py-6 sm:py-10 lg:py-[74px] 3xl:py-[87px] bg-dark-gray1 flex flex-col lg:flex-row items-center gap-4 lg:gap-16 3xl:gap-[74px] sm:rounded-2xl">
        <div class="w-full lg:w-[48%] text-white">
            <p class="text-sm 3xl:text-base font-light  3xl:leading-[19.2px]">{{category}}</p>
            <h1 class="text-3xl lg:text-[44px] 3xl:text-[56px] lg:leading-[55px] 3xl:leading-[67.2px] font-bold my-6 3xl:my-8">
                {{heading}}</h1>
            <p class="text-base 3xl:text-xl font-extralight lg:leading-[20px] 3xl:leading-[24px] mb-6 3xl:mb-8">{{desc}}</p>
            <app-cbutton heading="{{btnText}}" routerLink="{{navigate}}"
            icon="../../../assets/services/r-arrow.svg" size="small"></app-cbutton>
        </div>
        <div class="w-full lg:w-[52%] p-10 sm:p-10 lg:p-0">
            <img class="object-cover" [src]="imgUrl" alt="img">
        </div>
    </div>
</section>