<app-services-hero serviceCategory="Sustainable Engineering & Obsolescence Management"
  serviceTitle="Sustaining Engineering & Obsolescence Management for Long-Term Product Success"
  serviceDesc="Proactive component lifecycle management, risk mitigation, and strategic sourcing to keep your electronics running."
  imgUrl="assets/services/sustaining-egineering/hero.png" navigate="https://webforms.pipedrive.com/f/6k5g9P6xBe8hKKOK5gAGLSRWSeLSp28QnpBPKCw7zg96tXKLN8NPkGD9deOLbWZQiL" btnText="Ensure Your Product Longevity"></app-services-hero>

<!-- Overview -->
<section class="px-[4%] sm:px-[9.3%] bg-dark-gray2 py-8 lg:py-12 3xl:py-16">
  <div class="px-8 lg:px-12 3xl:px-16 py-6 3xl:py-8 bg-dark-gray1 rounded-xl 3xl:rounded-2xl">
    <div class="flex flex-col lg:flex-row items-center gap-10 lg:gap-12 3xl:gap-16">
      <div class="w-full lg:w-[46%] 3xl:w-[49.2%] p-6 lg:p-0 order-1 lg:order-0">
        <img loading="lazy" class="object-cover rounded-md 3xl-rounded-lg" src="assets/services/sustaining-egineering/introduction.png" alt="img" />
      </div>
      <div class="w-full lg:w-[54%] 3xl:w-[50.8%] order-0 lg:order-1">
        <h4 class="text-teal1 text-sm 3xl:text-base font-medium 3xl:font-bold leading-[19.2px]">
            Keeping Your Products Running – Without Disruptions
        </h4>
        <h3 class="text-white  lg:text-base 2xl:text-xl 3xl:text-2xl font-medium leading-[28.8px] my-3 3xl:my-4">
            Managing Component Obsolescence & Supply Chain Complexity
        </h3>
        <p class="text-light-gray1 text-sm 3xl:text-base font-light leading-[24px] 3xl:leading-[28px]">
            At Whizz Systems, we help businesses extend the lifecycle of their electronic products by offering Sustaining Engineering & Obsolescence Management services. Our expertise in BOM management, AVL optimization, EOL risk mitigation, and strategic sourcing ensures that your products remain manufacturable, cost-effective, and future-proof.<br><br>

            With a dedicated project manager, we analyze supply chain risks, track end-of-life (EOL) notifications, and identify alternative sourcing options to minimize production disruptions and cost overruns.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Core Services -->
<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <h4 class="text-teal1 text-sm 3xl:text-base font-semibold 3xl:font-bold lg:leading-[15px] 3xl:leading-[19.2px]">Our
        Core Capabilities</h4>
    <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium lg:leading-[24px] 3xl:leading-[28.8px] my-3 3xl:my-4 lg:w-1/2">
        Comprehensive Support for Sustaining Engineering & Component Management</h3>
    <p
        class="text-dark-gray2 font-light text-sm 3xl:text-base lg:leading-[24px] 3xl:leading-[28px] mb-10 3xl:mb-12 xl:w-3/5 2xl:w-1/2 3xl:w-[47%]">
        Proactive risk mitigation, global sourcing, and lifecycle extension</p>
    <div class="grid grid-cols-12 gap-6 3xl:gap-8">
        <div *ngFor="let industry of coreServices; let i = index" [ngClass]="{'lg:col-start-3': i === 3,
        'sm:col-start-4':i === 4
    }" class="col-span-12 sm:col-span-6 lg:col-span-4 p-6 3xl:p-8 bg-white border border-light-gray1 rounded-md 3xl:rounded-lg h-full">
            <img loading="lazy" class="rounded-md 3xl:rounded-lg" [src]="industry.imgUrl" alt="img">
            <div class="h-[20rem] 3xl:h-[25rem]">
                <h3 class="text-sm 3xl:text-base font-medium lg:leading-[15px] 3xl:leading-[19.2px] my-6 3xl:my-8">
                    {{industry.name}}</h3>
                <hr class="border border-light-gray1 opacity-60 mb-3 3xl:mb-4">
                <div *ngFor="let desc of industry.description">
                    <p class="text-dark-gray2 font-light text-sm 3xl:text-base" [innerHTML]="desc"></p>
                    <hr class="border border-light-gray1 opacity-60 my-3 3xl:my-4">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Benefits -->
<app-services-benefits1 heading="Benefits" title="Why Choose Whizz Systems?"
  [benefitsData]="benefits"></app-services-benefits1>

  <!-- Contact Expert -->
<app-services-contact-experts slogan="Secure Your Product’s Future with Whizz Systems"
desc="Let’s manage your component lifecycle, mitigate risks, and optimize your supply chain."
btnText="Let’s Secure Your Product Longevity"
navigate="https://webforms.pipedrive.com/f/6iCHNNECUuqORf9rWJgygfwg3GR0OuWejL9ZkdXTDfW1Z5Gu2Kc2odVMCTOHP8Ub4L"></app-services-contact-experts>