<section class="px-0 sm:px-[6.3%] pb-8 lg:pb-12 3xl:pb-16">
    <div
        class="px-4 sm:px-8 lg:px-[52px] 3xl:px-16 py-6 sm:py-10 lg:py-[74px] 3xl:py-[87px] bg-dark-gray1 flex flex-col lg:flex-row items-center gap-4 lg:gap-16 3xl:gap-[74px] sm:rounded-2xl">
        <div class="w-full lg:w-[48%] text-white ">
            <p class="text-sm 3xl:text-base font-light lg:leading[15px] 3xl:leading-[19.2px]">{{serviceCategory}}</p>
            <h1
                class="text-3xl lg:text-4xl 2xl:text-[44px] 3xl:text-[56px] lg:leading-[45px] 2xl:leading-[55px] 3xl:leading-[67.2px] font-semibold 3xl:font-bold my-6 3xl:my-8 w-[96%] sm:w-[57%] lg:w-full">
                {{serviceTitle}}</h1>
            <p
                class="text-base lg:text-sm 2xl:text-base 3xl:text-xl font-extralight lg:leading-[20px] 3xl:leading-[24px] mb-6 3xl:mb-8 sm:w-[70%] lg:w-full">
                {{serviceDesc}}
            </p>

            <a href="{{navigate}}" target="_blank"><app-button heading="{{btnText}}" icon="assets/shared/webform.svg"
                    size="small"></app-button></a>
        </div>
        <div class="w-full lg:w-[52%] p-10 sm:p-10 lg:p-0">
            <img loading="lazy" class="object-cover" [src]="imgUrl" alt="img">
        </div>
    </div>
</section>