<div class="px-[5%] pt-6 pb-16">
  <div class="bg-ideas relative bg-cover rounded-2xl p-16">
    <!-- Background Video -->
    <video class="absolute inset-0 w-full h-full object-cover z-0 rounded-2xl" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="../../assets/hero/waves2.mp4" type="video/mp4">
    </video>

    <!-- Teal Overlay -->
    <div class="absolute inset-0 bg-[#00a99f] opacity-70 z-10 rounded-2xl"></div>

    <!-- Content -->
    <div class="relative z-20 rounded-md text-white">
      <h2 class="text-3xl sm:text-5xl font-bold">
        Transforming Ideas into <br class="hidden lg:block"> Market-Ready Products
      </h2>
      <app-cbutton class="my-14 inline-block" size="large" heading="Get in touch"></app-cbutton>
      <img class="max-w-[20rem] md:max-w-[30rem] lg:max-w-[44rem] mb-14" src="../../assets/ideas/line.png" alt="line-img">

      <div class="flex flex-col lg:flex-row items-center justify-start lg:justify-between gap-10">
        <div class="flex  gap-6 sm:gap-14">
          <div *ngFor="let item of achievemnets" class="flex flex-col mt-0 lg:mt-14">
            <h3 class="text-3xl font-bold mb-1">{{item.quantity}}</h3>
            <p class="text-lg">{{item.desc}}</p>
          </div>
        </div>

        <div class="flex flex-col">
          <h3 class="text-center lg:text-start mb-5 text-lg">Certifications</h3>
          <div class="flex flex-wrap gap-10  justify-center">
            <div *ngFor="let item of certifications" class="  ">
              <img  [src]='item.imgUrl' alt="img" class=" object-cover" >
            </div>
          </div> 
        </div>

      </div>

    </div>
  </div>
</div>
<img class="object-cover mx-auto px-52" src="../../assets/ideas/section-divider1.png" alt="img">