<!-- Hero -->
<app-services-hero serviceCategory="Engineering & Design"
  serviceTitle="Signal Integrity Simulations for High-Performance PCB Designs"
  serviceDesc="Pre- and Post-Layout Simulations That Drive Precision and Reliability"
  imgUrl="assets/services/engg&design/signal-integrity/hero.png" navigate="https://webforms.pipedrive.com/f/63f1aho5f1NgyPkEc3uZslcarI9WzjNBoswok4CzdI6LnSyfMNiZWARNm4vUYSl62D"
  btnText="Optimize Your Design with Whizz"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading="Introduction" title="Ensuring Excellence in Signal Integrity"
  desc1="Whizz Systems delivers end-to-end signal integrity simulation services to optimize high-speed PCB designs, ensuring robust performance and cost efficiency. From <b>pre-layout simulations</b> to <b>post-layout analyses</b>, we ensure your design meets modern electronics' demands for speed, reliability, and manufacturability."
  imgUrl="assets/services/engg&design/signal-integrity/introduction.png"></app-services-intro>

<!-- PCB Performance-->
<app-services-core-services heading="PCB performance" title="Ensuring Excellence in Signal Integrity" desc="Whizz’s pre-layout simulations provide insights into critical
    factors for optimal" [columns]="3" [coreServicesData]="pcbPerformance"></app-services-core-services>

<!-- Core Services Overview -->
<app-services-core-services heading="Post-Layout Simulations" title="Post-Layout Simulations: Refining for Perfection"
  desc="Comprehensive 3D Modeling & Mechanical Design Services" [coreServicesData]="coreServices"
  [columns]="4"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits heading="Benefits" title="Why Choose Whizz for Signal Integrity Simulations?"
  [benefitsData]="benefits" [columns]="2"></app-services-benefits>

<!-- Contact Expert -->
<app-services-contact-experts slogan="Ready to Elevate Your Product development with Whizz?"
  btnText="Contact our Experts" navigate="https://webforms.pipedrive.com/f/63f1aho5f1NgyPkEc3uZslcarI9WzjNBoswok4CzdI6LnSyfMNiZWARNm4vUYSl62D"></app-services-contact-experts>

<!-- FAQ Section -->
<section class="px-4 sm:px-[6.3%] py-12 lg:py-16 3xl:py-20 bg-white">
    <div class="mx-auto">
        <h2 class="text-center text-dark-gray2 text-3xl lg:text-[40px] 3xl:text-[48px] font-bold mb-10 lg:mb-16">
            Frequently Asked Questions
        </h2>

        <div class="flex flex-col gap-4 mx-auto">
            <div *ngFor="let faq of faqs; let i = index"
                class="border border-light-gray1 rounded-xl overflow-hidden bg-card-gray">
                <button (click)="toggleFaq(i)"
                    class="w-full flex items-center justify-between py-5 px-5 sm:p-6 text-left transition-all hover:opacity-80 focus:outline-none">
                    <h4 class="flex flex-col gap-3 sm:gap-4">
                        <span class="text-[15px] sm:text-base lg:text-xl 3xl:text-2xl font-semibold text-dark-gray2">{{
                            faq.question }}</span>
                        <p *ngIf="faq.isOpen"
                            class="text-gray-600 text-sm 3xl:text-base pr-6 sm:pr-10 leading-relaxed lg:w-[60%]">
                            {{ faq.answer }}
                        </p>
                    </h4>
                    <!-- Circular Toggle Button -->
                    <div
                        class="flex-shrink-0 w-8 h-8 sm:w-9 sm:h-9 3xl:w-11 3xl:h-11 rounded-full border border-light-gray1 bg-white flex items-center justify-center relative shadow-sm">
                        <span class="absolute w-3 sm:w-4 h-0.5 bg-teal1"></span>
                        <span class="absolute w-3 sm:w-4 h-0.5 bg-teal1 transition-transform duration-300"
                            [class.rotate-90]="!faq.isOpen"></span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>
