<div class="px-[5%] pt-10 pb-20">
    <div>
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-3xl font-semibold ">Latest News & Insights</h2>
            <div class="flex items-center gap-2">
                <app-cbutton class=" hidden sm:block border border-light-teal rounded-md" heading="See all" icon="../../assets/services/right-arrow.svg"></app-cbutton>
                <div (click)="prevSlide()" class=" border border-light-teal rounded-md p-3 cursor-pointer">
                    <img  class="object-cover w-4" src="../../assets/services/left-arrow.svg" alt="left-arrow">
                </div>
                <div (click)="nextSlide()" class=" border border-light-teal rounded-md p-3 cursor-pointer">
                    <img class="object-cover w-4" src="../../assets/services/right-arrow.svg" alt="right=arrow">
                </div>
            </div>
        </div>
        <div class="keen-slider" #sliderRef>
            <div class="keen-slider__slide" *ngFor="let card of cards">
                <app-news-card [imageUrl]="card.imageUrl"  [date]="card.date" [title]="card.title">
                </app-news-card>
              </div>
          </div>
    </div>
</div>

