<div class="px-[4%] sm:px-[9%] pt-10 py-10">
    <div>
        <div class="flex flex-col gap-6 lg:gap-0 lg:flex-row items-center justify-between mb-8">
            <div class="self-start">
                <h2 class="text-3xl sm:text-5xl font-bold text-dark-gray2">Latest News & Insights</h2>
            </div>
            <div class="self-end flex items-center gap-6">
                <app-cbutton [routerLink]="'/news'" [size]="'medium'"
                    class=" next-1 " heading="See more"
                    icon="../../assets/services/r-arrow.svg"></app-cbutton>

                <app-larrowbutton (click)="prevSlide()" icon="../../assets/services/l-arrow.svg"
                    size="medium"></app-larrowbutton>

                <app-rarrowbutton (click)="nextSlide()" icon="../../assets/services/r-arrow.svg"
                    size="medium"></app-rarrowbutton>
            </div>
        </div>
        <div class="keen-slider" #sliderRef>
            <div class="keen-slider__slide" *ngFor="let card of cards">
                <app-news-card [imageUrl]="card.imageUrl" [date]="card.date" [title]="card.title">
                </app-news-card>
            </div>
        </div>
    </div>
</div>