<div class="px-[5%] pt-10 py-10">
    <div>
        <div class="flex items-center justify-between mb-8">
            <h2 class="text-3xl font-semibold ">Latest News & Insights</h2>
            <div class="flex items-center gap-2 ">
                <app-cbutton [routerLink]="'/news'" class="hidden sm:block border border-light-teal rounded-md next-1 " heading="See more"
                    icon="../../assets/services/right-arrow.svg"></app-cbutton>

                <button (click)="prevSlide()"
                    class="relative overflow-hidden px-4 py-3 rounded-md  bg-white border border-light-teal cursor-pointer group">
                    <span
                        class="absolute inset-0 transition-transform bg-medium-teal transform translate-x-full group-hover:translate-x-0 duration-300"></span>
                    <span class="relative z-10 flex items-center">
                        <img class="object-cover w-4 h-4" src="../../assets/services/left-arrow.svg"
                            alt="right-arrow" />
                    </span>
                </button>
                <button (click)="nextSlide()"
                    class="relative overflow-hidden px-4 py-3 rounded-md  bg-white border border-light-teal cursor-pointer group">
                    <span
                        class="absolute inset-0 transition-transform bg-medium-teal transform -translate-x-full group-hover:translate-x-0 duration-300"></span>
                    <span class="relative z-10 flex items-center">
                        <img class="object-cover w-4 h-4" src="../../assets/services/right-arrow.svg"
                            alt="right-arrow" />
                    </span>
                </button>
            </div>
        </div>
        <div class="keen-slider" #sliderRef>
            <div class="keen-slider__slide" *ngFor="let card of cards">
                <app-news-card [imageUrl]="card.imageUrl"  [date]="card.date" [title]="card.title">
                </app-news-card>
              </div>
          </div>
    </div>
</div>

