<div class="bg-white px-[3%] fixed left-0 right-0 h-full z-30 overflow-y-scroll">
  <div *ngFor="let item of menuItems" class="mb-4">
    <!-- Menu Bar -->
    <div (click)="toggleMenu(item)" class="flex items-center cursor-pointer transition-all duration-300 ease-in-out">
      <a [routerLink]="item.link" class="text-2xl transition-all duration-300 ease-in-out"
        [ngClass]="{'text-teal1': item.open, 'text-dark-gray1 hover:text-teal1': !item.open}">
        {{ item.label }}
      </a>
      <span class="ml-auto text-xl" *ngIf="item.dropdown">
        <i class="fa-solid fa-chevron-right transition-transform duration-300 ease-[cubic-bezier(1,0.25,0.25,.8)"
          [ngClass]="{'rotate-90 text-teal1': item.open, 'text-dark-gray1': !item.open}">
        </i>
      </span>
    </div>

    <!-- Menu Content (Only Visible if Active) -->
    <div *ngIf="item.open" class="ml-4">
      <!-- Dropdown Back Button -->
      <div *ngIf="item.dropdown" class="flex items-center cursor-pointer mb-2" (click)="item.open = false">
        <span class="my-2 -ml-4 text-xl cursor-pointer"><i class="fa-solid fa-arrow-left-long"></i></span>
      </div>

      <!-- Service Dropdown -->
      <ng-container *ngIf="item.dropdown === 'service'">
        <div *ngFor="let section of serviceSections" class="mb-4">
          <div (click)="toggleSection(section)" class="flex items-center cursor-pointer">
            <a [routerLink]="item.link" class="text-xl transition-all duration-300 ease-in-out"
              [ngClass]="{'text-teal1': section.open, 'text-dark-gray1 hover:text-teal1': !section.open}">
              {{ section.title }}
            </a>
            <span class="ml-auto text-xl">
              <i class="fa-solid fa-chevron-right transition-transform duration-300 ease-[cubic-bezier(1,0.25,0.25,.8)"
                [ngClass]="{'rotate-90 text-teal1': section.open, 'text-dark-gray1': !section.open}">
              </i>
            </span>
          </div>
          <div *ngIf="section.open" class="ml-4">
            <div class="flex items-center cursor-pointer" (click)="section.open = false">
              <span class="my-2 -ml-4"><i class="fa-solid fa-arrow-left-long"></i></span>
            </div>
            <div *ngFor="let subItem of section.items" class="mb-4">
              <a [routerLink]="subItem.link" class="block text-base text-dark-gray1 hover:text-teal1">
                {{ subItem.label }}
              </a>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Featured Products Dropdown -->
      <ng-container *ngIf="item.dropdown === 'featured'">
        <div *ngFor="let featured of featuredProductItems" class="mb-4">
          <a [routerLink]="featured.link" class="block text-base text-dark-gray1 hover:text-teal1">
            {{ featured.label }}
          </a>
        </div>
      </ng-container>

      <!-- Resources Dropdown -->
      <ng-container *ngIf="item.dropdown === 'resources'">
        <div *ngFor="let blog of blogItems" class="mb-4">
          <a [routerLink]="blog.link" class="block text-base text-dark-gray1 hover:text-teal1">
            {{ blog.label }}
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>