<div class="p-8 rounded-lg border border-1 border-light-gray1 bg-card-gray hover:bg-white">
    <p class="text-xl font-light h-80">{{desc}}</p>
    <hr class="border border-teal2 mb-2">
    <div class="flex items-center gap-3">
        <img *ngIf="imageUrl" [src]="imageUrl" class="w-14 object-cover rounded-full" alt="profile-image">
        <div class="flex flex-col justify-between items-start">
            <h4 class="font-semibold">{{name}}</h4>
            <p class="">{{designation}}</p>
        </div>
    </div>
</div>

