<div class="px-[4%] sm:px-[5%] mb-10 lg:mb-28 overflow-x-hidden">
  <div class="px-8 py-12 lg:px-0 lg:py-0 lg:pl-16 bg-dark-gray1 rounded-2xl flex items-center lg:gap-12">
    <div class="w-full lg:w-1/2 3xl:w-[45%] text-white">
      <h2 class="text-3xl lg:text-5xl 3xl:text-[56px] lg:leading-[60px] 3xl:leading-[67px] font-bold  mb-6">Our
        Services: Expert Solutions, Tailored to You</h2>
      <p class="text-xl font-light">From development to deployment, explore our comprehensive range of in-house tech
        services designed to drive innovation</p>
    </div>
    <div class="hidden lg:block lg:w-1/2 3xl:w-[55%] relative rounded-tl-[100px] ">
      <video
        class="absolute inset-0 w-full h-full object-cover z-0 rounded-tl-[100px] rounded-tr-lg rounded-bl-[100px] rounded-br-lg"
        loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="../../assets/hero/waves1.mp4" type="video/mp4">
      </video>
      <div
        class="absolute inset-0 bg-[#00a99f] opacity-70 z-10 rounded-tl-[100px] rounded-tr-lg rounded-bl-[100px] rounded-br-lg">
      </div>
      <p class="relative z-20 grid place-items-center lg:h-[38rem] 3xl:h-[48rem] w-[60rem]"></p>
    </div>
  </div>
</div>

<!-- Services Navbar -->
<div class="hidden lg:block px-[5%] z-20  sticky top-0 overflow-x-hidden">
  <div class="p-8 flex justify-center items-center gap-4 text-center text-sm 3xl:text-base bg-white z-50">
    <a *ngFor="let link of servicesTab" (click)="toTop(link.title)"
      class=" w-64 h-20 cursor-pointer flex justify-center items-center px-2 bg-dark-gray1 hover:bg-dark-gray2 text-white font-medium rounded-lg transition-all duration-300 ease-in-out"
      routerLink="link.url">{{link.title}}</a>
  </div>
</div>

<div class="px-[4%] sm:px-[5%]">
  <div *ngFor="let item of servicesTab" class="p-6 md:p-11 flex flex-col lg:flex-row gap-8 lg:gap-32 3xl:gap-36">
    <div [id]="item.title" class="w-full lg:w-[37%] 3xl:w-[29%] mt-10 md:mt-0">
      <h1 class="font-bold text-3xl lg:text-5xl mb-8 text-dark-gray2">{{ item.title }}</h1>
      <p class="text-lg text-dark-gray2">{{ item.description }}</p>
    </div>
    <div class="w-full lg:w-[55%] 3xl:w-[62%]">
      <div class="grid grid-cols-2 gap-4">
        <div *ngFor="let subitem of item.items" (click)="onGoToPage2(item.title, subitem.link)"
          class="cursor-pointer h-32 3xl:h-40 bg-lines hover:bg-none relative group col-span-2 md:col-span-1 bg-contain bg-no-repeat hover:border-none border border-light-gray1 rounded-md flex justify-start items-center overflow-hidden transition-transform duration-700 ease-in-out bg-card-gray hover:bg-transparent">
          <a class="inline-block">
            <h1
              class="px-6 lg:pl-6 lg:pr-12 3xl:pr-28 flex font-bold text-lg 3xl:text-2xl z-20 text-dark-gray2 group-hover:relative group-hover:text-white transition-all duration-700 ease-in-out">
              {{ subitem.label }}
            </h1>
            <div class="absolute  top-0 left-0 w-full h-full flex ">
              <!-- left div -->
              <div class="hidden group-hover:block">
                <img class=" absolute z-20 object-cover bottom-3 right-0 h-12 lg:h-14 3xl:h-20 w-[16rem] lg:w-[17rem] 3xl:w-[25rem] transition-all duration-700 ease-in-out"
                  src="../../../assets/services/line1.png" />
              </div>
              <div class="w-full relative h-full rounded-md 
          transition-all duration-700 ease-in-out
          group-hover:w-[88%] group-hover:bg-dark-gray1 z-10"></div>
              <!-- right div -->
              <div class="w-0 group-hover:w-[12%] flex justify-between  z-[999] transition-all duration-700 ease-in-out">
                <div class="bg-white w-2 transition-all duration-700 ease-in-out"></div>
                <div class="  bg-teal1 w-full  h-full rounded-md flex justify-center items-center
              transition-all duration-700 ease-in-out ">
                  <img class="w-5 h-5 transition-opacity duration-00" src="../../../assets/services/r-arrow.svg"
                    alt="img" />
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>