<div class="px-[4%] sm:px-[9%] text-dark-gray2 py-6 lg:py-16">
    <div class="flex flex-col gap-6 lg:gap-0 lg:flex-row items-center justify-between mb-8">
        <div class="self-start">
            <h2 class="text-3xl sm:text-5xl font-bold">Services</h2>
        </div>
        <div class="self-end flex items-center gap-6">
            <app-cbutton [size]="'medium'" [routerLink]="'/services'" heading="All services"
                icon="../../assets/services/r-arrow.svg"></app-cbutton>

            <div [className]="progress.abs == 0 ? 'pointer-events-none opacity-[0.6]':''">
                <app-larrowbutton (click)="prevSlide()" icon="../../assets/services/l-arrow.svg"
                    size="medium"></app-larrowbutton>
            </div>
            <div [className]="progress.abs == progress.maxIdx ? 'pointer-events-none opacity-[0.6]':''">
                <app-rarrowbutton (click)="nextSlide()" icon="../../assets/services/r-arrow.svg"
                    size="medium"></app-rarrowbutton>
            </div>
        </div>
    </div>
    <p class="mb-16 text-lg text-dark-gray1">With complete, in-house expertise, we provide flexible, customized support—
        <br class="hidden lg:block"> whether you’re
        starting from a concept or refining a product for the market.
    </p>
</div>
<div class="pl-[4%] sm:pl-[9%]">
    <div class="keen-slider" #sliderRef>
        <div class="keen-slider__slide " *ngFor="let card of cards">
            <app-services-card [imageUrl]="card.imgUrl" [title]="card.title"
                [content]="card.content"></app-services-card>
        </div>
    </div>
</div>