<div class= "px-[5%] ">
    <div class="">
        <div class="flex items-center justify-between mb-8">
            <h2  class="text-3xl font-semibold  nextt">Services</h2>
            <div class="flex items-center gap-2 ">
                <app-cbutton   class="hidden sm:block border border-light-teal rounded-md next-1" heading="All Services"
                    icon="../../assets/services/right-arrow.svg"></app-cbutton>
                <div  (click)="prevSlide()"  class=" border border-light-teal rounded-md p-3 cursor-pointer btn-next ">
                    <img class="object-cover w-4" src="../../assets/services/left-arrow.svg" alt="left-arrow">
                </div>
                <div (click)="nextSlide()" class=" border border-light-teal rounded-md p-3 cursor-pointer ">
                    <img class="object-cover w-4" src="../../assets/services/right-arrow.svg" alt="right=arrow">
                </div>
            </div>
        </div>
        <p class="mb-12">With complete, in-house expertise, we provide flexible, customized support— <br class="hidden lg:block"> whether you’re
            starting from a concept or refining a product for the market.</p>
        <div class="keen-slider" #sliderRef>
            <div class="keen-slider__slide" *ngFor="let card of cards">
                <app-services-card [imageUrl]="card.imgUrl" [title]="card.title"
                    [content]="card.content"></app-services-card>
            </div>
           
        </div>
    </div>
</div>