<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <h4
        class="text-teal1 text-sm 3xl:text-base font-semibold 3xl:font-bold lg:leading-[15px] 3xl:leading-[19.2px] mb-3 3xl:mb-4">
        {{heading}}</h4>
    <h3 [ngClass]="{'mb-10 3xl:mb-12': !btnText, 'mb-3 3xl:mb-4': btnText}"
        class="text-dark-gray2 text-xl 3xl:text-2xl font-medium lg:leading-[24px] 3xl:leading-[28.8px]">
        {{title}}</h3>
    <div *ngIf="btnText" class="mb-10 3xl:mb-12">
        <app-button heading="{{btnText}}" routerLink="{{navigate}}" icon="assets/services/r-arrow.svg"
            size="small"></app-button>
    </div>
    <div class="p-6 3xl:p-8 bg-card-gray rounded-md 3xl:rounded-lg">
        <div class="grid grid-cols-12 gap-6 3xl:gap-8">
            <div *ngFor="let benefit of benefitsData; let i = index" 
            [ngClass]="{'lg:col-span-6 lg:w-2/3 lg:ml-auto': i === 3,
            'sm:col-span-9 sm:w-2/3 sm:ml-auto lg:w-full':i === 4
        }" class="col-span-12 sm:col-span-6 lg:col-span-4">
                <div class="p-6 3xl:p-8 bg-white border border-light-gray1 rounded-md 3xl:rounded-lg h-full">
                    <img class="w-10 3xl:w-12 rounded-md 3xl:rounded-lg" [src]="benefit.imgUrl" alt="img">
                    <h3
                        class="text-dark-gray2 text-sm 3xl:text-base font-medium lg:leading-[15px] 3xl:leading-[19.2px] my-3 3xl:my-4">
                        {{benefit.name}}</h3>
                    <p class="text-dark-gray2 text-sm 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">
                        {{benefit.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</section>