<!-- Hero -->
<app-services-hero category="Engineering & Design"
  heading="Maximize Performance with Advanced Thermal Management Solutions"
  desc="Precision Engineering to Keep Your Electronics Cool and Reliable" imgUrl="assets/thermal-management/hero.png"
  navigate="/404" btnText="Get Started with Thermal Experts"></app-services-hero>

<!-- Introduction -->
<app-services-intro secTitle="Introduction"
  secHeading="Tackling the Heat—Expert Thermal Solutions for Modern Electronics" secDesc1="t Whizz Systems, we provide comprehensive thermal management
    solutions designed to optimize the performance and reliability of electronic systems. As devices become
    smaller, faster, and more powerful, effective heat management becomes critical." secDesc2="Our team leverages decades of expertise in addressing the complex
    thermal challenges faced by modern electronics, ensuring your products operate efficiently, even in
    demanding environments. Using Thermal and Computational Fluid Dynamics (CFD) analysis, we simulate
    airflow and heat distribution across PCBs, identify hotspots, predict potential overheating areas, and
    optimize system airflow." imgUrl="assets/thermal-management/introduction.png"></app-services-intro>

<!-- Core Services Overview-->
<app-services-core-services secTitle="Core Services Overview" secHeading="Thermal Solutions Tailored to Your Needs"
  secDesc="Comprehensive 3D Modeling & Mechanical Design Services"
  [cardData]="coreServices" [columns]="4"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits secTitle="Benefits" secHeading="Why Choose Whizz Systems for PCB Layout"
  [cardData]="benefits"></app-services-benefits>

<!-- Case Study -->
<app-services-intro secTitle="Case Study" secHeading="Proven Success in Thermal Optimization"
  secDesc1="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est."
  imgUrl="assets/thermal-management/case-study.png" routerLink="/404" btnText="Learn more"
  [isImageFirst]="false"></app-services-intro>

<!-- Contact Thermal Expert -->
<app-services-contact-experts secHeading="Ready to Optimize Your Product's Thermal  Performance?" routerLink="/404"
  btnText="Contact our Thermal Experts"></app-services-contact-experts>