<!-- Hero -->
<app-services-hero serviceCategory="Engineering & Design"
  serviceTitle="Maximize Performance with Advanced Thermal Management Solutions"
  serviceDesc="Precision Engineering to Keep Your Electronics Cool and Reliable"
  imgUrl="assets/services/engg&design/thermal-management-solutions/hero.png" navigate="https://webforms.pipedrive.com/f/cs1tfYUp2mKtMWucsFuLBg6df6ffbQ9grTObfeVo32y4P8P13f3fyV4GzKNF5IxxWb"
  btnText="Get Started with Thermal Experts"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading="Next-Gen Cooling: Advanced Thermal Solutions for Cutting-Edge Electronics" title="Tackling the Heat—Expert Thermal Solutions for Modern Electronics"
  desc1="At Whizz Systems, we provide comprehensive thermal management
    solutions designed to optimize the performance and reliability of electronic systems. As devices become
    smaller, faster, and more powerful, effective heat management becomes critical." desc2="Our team leverages decades of expertise in addressing the complex
    thermal challenges faced by modern electronics, ensuring your products operate efficiently, even in
    demanding environments. Using Thermal and Computational Fluid Dynamics (CFD) analysis, we simulate
    airflow and heat distribution across PCBs, identify hotspots, predict potential overheating areas, and
    optimize system airflow." imgUrl="assets/services/engg&design/thermal-management-solutions/introduction.png"></app-services-intro>

<!-- Core Services Overview-->
<app-services-core-services heading="Core Services Overview" title="Thermal Solutions Tailored to Your Needs"
  desc="Comprehensive <a href='https://www.whizzsystems.com/services/engineering-design/3d-modeling-mechanical-design' title='3D Modeling & Mechanical Design Services'>3D Modeling & Mechanical Design Services</a>" [coreServicesData]="coreServices"
  [columns]="4"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits heading="Benefits" title="Why Choose Whizz Systems?" btnText="Small Button"
  [benefitsData]="benefits" [columns]="3"></app-services-benefits>

<!-- Case Study -->
<app-services-intro heading=" Expert Strategies for Optimized Thermal Performance" title="Heatsinks Uncovered: Best Practices for Optimized Thermal Management"
  desc1="Discover our comprehensive whitepaper on heatsink considerations, guidance, and best practices. Learn how to select the right materials, optimize fin geometry, and implement advanced cooling techniques to achieve efficient thermal management. Our expert analysis covers everything from passive and active cooling methods to design optimization strategies that ensure reliability and performance in <a href='https://www.whizzsystems.com' title='modern electronic systems' class='text-teal1'>modern electronic systems</a>."
  imgUrl="assets/services/engg&design/thermal-management-solutions/case-study.png" navigate="/news-&-insights/whitepaper-heatsink" btnText="Learn more"
  [isImageLeft]="false"></app-services-intro>

<!-- Contact Thermal Expert -->
<app-services-contact-experts slogan="Ready to Optimize Your Product's Thermal  Performance?" navigate="https://webforms.pipedrive.com/f/cs1tfYUp2mKtMWucsFuLBg6df6ffbQ9grTObfeVo32y4P8P13f3fyV4GzKNF5IxxWb"
  btnText="Contact our Thermal Experts"></app-services-contact-experts>

<!-- FAQ Section -->
<section class="px-4 sm:px-[6.3%] py-12 lg:py-16 3xl:py-20 bg-white">
    <div class="mx-auto">
        <h2 class="text-center text-dark-gray2 text-3xl lg:text-[40px] 3xl:text-[48px] font-bold mb-10 lg:mb-16">
            Frequently Asked Questions
        </h2>

        <div class="flex flex-col gap-4 mx-auto">
            <div *ngFor="let faq of faqs; let i = index"
                class="border border-light-gray1 rounded-xl overflow-hidden bg-card-gray">
                <button (click)="toggleFaq(i)"
                    class="w-full flex items-center justify-between py-5 px-5 sm:p-6 text-left transition-all hover:opacity-80 focus:outline-none">
                    <h4 class="flex flex-col gap-3 sm:gap-4">
                        <span class="text-[15px] sm:text-base lg:text-xl 3xl:text-2xl font-semibold text-dark-gray2">{{
                            faq.question }}</span>
                        <p *ngIf="faq.isOpen"
                            class="text-gray-600 text-sm 3xl:text-base pr-6 sm:pr-10 leading-relaxed lg:w-[60%]">
                            {{ faq.answer }}
                        </p>
                    </h4>
                    <!-- Circular Toggle Button -->
                    <div
                        class="flex-shrink-0 w-8 h-8 sm:w-9 sm:h-9 3xl:w-11 3xl:h-11 rounded-full border border-light-gray1 bg-white flex items-center justify-center relative shadow-sm">
                        <span class="absolute w-3 sm:w-4 h-0.5 bg-teal1"></span>
                        <span class="absolute w-3 sm:w-4 h-0.5 bg-teal1 transition-transform duration-300"
                            [class.rotate-90]="!faq.isOpen"></span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>