<!-- Hero -->
<app-services-hero serviceCategory="Engineering & Design"
  serviceTitle="Maximize Performance with Advanced Thermal Management Solutions"
  serviceDesc="Precision Engineering to Keep Your Electronics Cool and Reliable"
  imgUrl="assets/services/engg&design/thermal-management/hero.png" navigate="https://webforms.pipedrive.com/f/cs1tfYUp2mKtMWucsFuLBg6df6ffbQ9grTObfeVo32y4P8P13f3fyV4GzKNF5IxxWb"
  btnText="Get Started with Thermal Experts"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading="Next-Gen Cooling: Advanced Thermal Solutions for Cutting-Edge Electronics" title="Tackling the Heat—Expert Thermal Solutions for Modern Electronics"
  desc1="At Whizz Systems, we provide comprehensive thermal management
    solutions designed to optimize the performance and reliability of electronic systems. As devices become
    smaller, faster, and more powerful, effective heat management becomes critical." desc2="Our team leverages decades of expertise in addressing the complex
    thermal challenges faced by modern electronics, ensuring your products operate efficiently, even in
    demanding environments. Using Thermal and Computational Fluid Dynamics (CFD) analysis, we simulate
    airflow and heat distribution across PCBs, identify hotspots, predict potential overheating areas, and
    optimize system airflow." imgUrl="assets/services/engg&design/thermal-management/introduction.png"></app-services-intro>

<!-- Core Services Overview-->
<app-services-core-services heading="Core Services Overview" title="Thermal Solutions Tailored to Your Needs"
  desc="Comprehensive 3D Modeling & Mechanical Design Services" [coreServicesData]="coreServices"
  [columns]="4"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits heading="Benefits" title="Why Choose Whizz Systems?" btnText="Small Button" navigate="/404"
  [benefitsData]="benefits" [columns]="3"></app-services-benefits>

<!-- Case Study -->
<app-services-intro heading=" Expert Strategies for Optimized Thermal Performance" title="Heatsinks Uncovered: Best Practices for Optimized Thermal Management"
  desc1="Discover our comprehensive whitepaper on heatsink considerations, guidance, and best practices. Learn how to select the right materials, optimize fin geometry, and implement advanced cooling techniques to achieve efficient thermal management. Our expert analysis covers everything from passive and active cooling methods to design optimization strategies that ensure reliability and performance in modern electronic systems."
  imgUrl="assets/services/engg&design/thermal-management/case-study.png" navigate="/news-&-insights/whitepaper-heatsink" btnText="Learn more"
  [isImageLeft]="false"></app-services-intro>

<!-- Contact Thermal Expert -->
<app-services-contact-experts slogan="Ready to Optimize Your Product's Thermal  Performance?" navigate="https://webforms.pipedrive.com/f/cs1tfYUp2mKtMWucsFuLBg6df6ffbQ9grTObfeVo32y4P8P13f3fyV4GzKNF5IxxWb"
  btnText="Contact our Thermal Experts"></app-services-contact-experts>