$animationSpeed: 18s;
$gap: 20px;
$slideWidth: 220px;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * ($slideWidth + $gap) * 10));
  }
}

.slider {
  height: 80px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide-track {
  display: flex;
  animation: scroll $animationSpeed linear infinite;
  gap: $gap;
  width: calc(($slideWidth + $gap) * 20);
}

.slide {
  height: 80px;
  width: $slideWidth;
}

img {
  object-fit: cover;
}
