<div class="py-24 ">
    <h2 class="text-3xl sm:text-4xl 3xl:text-5xl font-bold text-center mb-6 text-dark-gray2">Trusted by</h2>
    <p class="text-base 3xl:text-lg text-center mb-20 text-dark-gray1 px-4 sm:px-0">Partnering with leading companies to redefine what’s possible.</p>
    <div class="slider mb-10">
        <div class="slide-track">
            <div *ngFor="let item of companies" class="slide">
                <img [src]="item" width="280px" height="100px" class="object-cover" />
            </div>
    
            <div *ngFor="let item of companies" class="slide">
                <img [src]="item" width="280px" height="100px" class="object-cover" />
            </div>
            
        </div>
    </div>
</div>
<img class="object-cover mx-auto px-6 md:px-28 lg:px-52" src="../../assets/testimonials/section-divider2.png" alt="img">