<div class="px-0 sm:px-[6.3%] mb-10 lg:mb-24 3xl:mb-32">
    <div class="px-4 sm:px-8 lg:px-[52px] 3xl:px-16 py-6 sm:py-10 lg:py-[74px] 3xl:py-[87px] bg-dark-gray1 flex flex-col lg:flex-row items-center gap-4 lg:gap-14 3xl:gap-[74px] sm:rounded-2xl">
        <div class="w-full lg:w-[48%] text-white">
            <p class="text-sm 3xl:text-base font-light  3xl:leading-[19.2px]">Engineering & Design</p>
            <h1 class="text-3xl lg:text-[44px] 3xl:text-[56px] lg:leading-[55px] 3xl:leading-[67.2px] font-bold my-6 3xl:my-8">
                Building Smarter Systems with Hardware Design & Schematics Experts</h1>
            <p class="text-base 3xl:text-xl font-extralight lg:leading-[20px] 3xl:leading-[24px] mb-6 3xl:mb-8">Comprehensive architecture and schematic services optimized for
                performance, scalability, and compliance.</p>
            <app-cbutton [heading]="'Start Your Project Today'"
                [icon]="'../../../assets/services/r-arrow.svg'"></app-cbutton>
        </div>
        <div class="w-full lg:w-[52%] p-10 sm:p-10 lg:p-0">
            <img class="object-cover" src="../../../assets/system-design/hero.png" alt="img">
        </div>
    </div>
</div>

<div class="px-[4%] sm:px-[9.3%]">
    <!-- Introduction -->
    <div class="flex flex-col lg:flex-row items-center gap-4 lg:gap-[52px] 3xl:gap-16 mb-10 lg:mb-24 3xl:mb-32">
        <div class="w-full lg:w-[46.2%] order-2 lg:order-1 p-10 sm:p-10 lg:p-0 ">
            <img class="object-cover" src="../../../assets/system-design/introduction.png" alt="img">
        </div>
        <div class="w-full lg:w-[53.8%] order-1 lg:order-0">
            <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">Introduction</h4>
            <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[28.8px] my-3 3xl:my-4">Crafting Scalable Architectures for Advanced Hardware
            </h3>
            <p class="text-dark-gray2 text-sm 3xl:text-base font-light leading-[24px] 3xl:leading-[28px]">At Whizz Systems, we provide end-to-end hardware design and system
                architecture solutions tailored to meet the evolving demands of cutting-edge technology. From defining
                robust system frameworks to crafting detailed schematics, our expertise ensures your hardware is
                designed for performance, reliability, and future scalability.</p>
        </div>
    </div>

    <!-- Core Services Overview-->
    <div class="mb-10 lg:mb-24 3xl:mb-32">
        <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">Core Services Overview</h4>
        <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium mt-3 3xl:mt-4 mb-6 3xl:mb-8 leading-[24px] 3xl:leading-[28.8px]">Our System Design & Schematic Services</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-x-12 lg:gap-x-[108px] 3xl:gap-x-[132px] sm:gap-y-8 lg:gap-y-12 3xl:gap-y-16">
            <div *ngFor="let service of coreServices">
                <div class="p-6 3xl:p-8 bg-card-gray border border-light-gray1 rounded-lg">
                    <img class="rounded-lg" [src]="service.imgUrl" alt="img">
                    <div class=" h-[10rem] sm:h-[13rem] lg:h-[9.5rem] 3xl:h-[9.5rem]">
                        <h3 class="font-bold mt-6 3xl:mt-8 mb-4 3xl:mb-5 text-base lg:text-xs 3xl:text-base leading-[22.4px]">{{service.title}}</h3>
                        <p class="font-light text-base lg:text-xs 3xl:text-base lg:leading-[20px] 3xl:leading-[24px]">{{service.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Industry Standards -->
    <div class="mb-10 lg:mb-24 3xl:mb-32">
        <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">Industry Standards</h4>
        <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[24px] 3xl:leading-[28.8px] my-3 3xl:my-4">Certifications & Standards</h3>
        <p class="text-dark-gray2 font-light mb-9 3xl:mb-12 max-w-lg lg:max-w-xl 3xl:max-w-3xl text-base lg:text-xs 3xl:text-base leading-[24px] 3xl:leading-[28px]">At Whizz Systems, we ensure that every design meets the highest industry standards and regulatory requirements. Our commitment to quality and compliance guarantees that your products are not only innovative but also reliable and certified for global markets.</p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-y-8 lg:gap-y-12 3xl:gap-y-16 sm:gap-x-20 lg:gap-x-36 3xl:gap-x-44">
            <div *ngFor="let industry of industryStandards">
                <div class="p-6 3xl:p-8 bg-white border border-light-gray1 rounded-lg">
                    <img class="rounded-lg" [src]="industry.imgUrl" alt="img">
                    <div class="h-[14rem] 3xl:h-[18rem]">
                        <h3 class="font-bold text-sm 3xl:text-base my-6 3xl:my-8">{{industry.title}}</h3>
                        <hr class="border border-light-gray1 opacity-60">
                        <p class="text-dark-gray2 text-sm 3xl:text-base font-light my-3 3xl:my-4 leading-[19.2px]" *ngIf="industry.type1">{{industry.type1}}</p>
                        <hr class="border border-light-gray1 opacity-60">
                        <p class="text-dark-gray2 text-sm 3xl:text-base font-light my-3 3xl:my-4 leading-[19.2px]" *ngIf="industry.type2">{{industry.type2}}</p>
                        <hr class="border border-light-gray1 opacity-60">
                        <p class="text-dark-gray2 text-sm 3xl:text-base font-light my-3 3xl:my-4 leading-[19.2px]" *ngIf="industry.type3">{{industry.type3}}</p>
                        <hr class="border border-light-gray1 opacity-60">
                        <p class="text-dark-gray2 text-sm 3xl:text-base font-light my-3 3xl:my-4 leading-[19.2px]" *ngIf="industry.type4">{{industry.type4}}</p>
                        <hr class="border border-light-gray1 opacity-60" *ngIf="industry.type4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Benefits -->
    <div class="mb-10 lg:mb-24 3xl:mb-32">
        <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">Benefits</h4>
        <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[24px] 3xl:leading-[28.8px] mt-3 3xl:mt-4 mb-10 3xl:mb-12">Why Choose Whizz Systems for PCB Layout?</h3>
        <div class="p-6 3xl:p-8 bg-card-gray rounded-lg">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 3xl:gap-8">
                <div *ngFor="let benefit of benefits; let i = index" [ngClass]="{'col-start-1 sm:col-start-2': i === 3}">
                  <div class="p-6 3xl:p-8 bg-white border border-light-gray1 rounded-lg  lg:h-[10.5rem] 3xl:h-[14rem]">
                    <img class="w-10 3xl:w-12" [src]="benefit.imgUrl" alt="img">
                    <h3 class="text-dark-gray2 text-sm lg:text-xs 3xl:text-base font-medium my-3 3xl:my-4 leading-[19.2px]">{{benefit.title}}</h3>
                    <p class="text-dark-gray2 text-sm lg:text-xs 3xl:text-base font-light leading-[20px] 3xl:leading-[28px]">{{benefit.desc}}</p>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <!-- Case Studies -->
    <div class="flex flex-col lg:flex-row items-center gap-4 lg:gap-[52px] 3xl:gap-16 mb-10 lg:mb-24 3xl:mb-32">
        <div class="w-full lg:w-[53.8%]">
            <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">Case Study</h4>
            <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[24px] 3xl:leading-[28.8px] my-3 3xl:my-4">Case Studies & Success Stories</h3>
            <p class="text-dark-gray2 font-light mb-3 3xl:mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est.</p>
            <app-cbutton heading="Learn more" size="small" icon="../../../assets/services/r-arrow.svg"></app-cbutton>
        </div>
        <div class="w-full lg:w-[46.2%] p-10 sm:p-10 lg:p-0">
            <img class="object-cover" src="../../../assets/system-design/case-study.png" alt="img">
        </div>
    </div>

   <!-- Contact Thermal Expert -->
   <div class="mb-8 lg:mb-12 3xl:mb-16">
    <div class="relative p-6 sm:p-10 lg:p-[52px] 3xl:p-16 rounded-lg">
        <video class="absolute inset-0 w-full h-full object-cover z-0 rounded-lg" loop muted autoplay
            oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../assets/hero/waves2.mp4" type="video/mp4">
        </video>
        <div class="absolute inset-0 bg-[#00a99f] opacity-80 z-10 rounded-lg"></div>
        <div class="relative z-20 max-w-sm lg:max-w-[40rem] 3xl:max-w-3xl">
            <h2 class="text-3xl lg:text-5xl 3xl:text-[64px]  lg:leading-[55px] 3xl:leading-[76.8px] font-bold text-white mb-10 3xl:mb-12">Ready to Optimize Your Product's Thermal Performance?</h2>
            <app-cbutton heading="Contact our Thermal Experts" [size]="'large'"></app-cbutton>
        </div>
    </div>
</div>
</div>