<app-services-hero
  category="Engineering & Design"
  heading="Building Smarter Systems with Hardware Design & Schematics Experts"
  desc="Comprehensive architecture and schematic services optimized for performance, scalability, and compliance."
  imgUrl="../../../assets/system-design/hero.png"
  navigate="/404"
  btnText="Start Your Project Today"
></app-services-hero>

<!-- Introduction -->
<app-services-intro
  secTitle="Introduction"
  secHeading="Crafting Scalable Architectures for Advanced Hardware"
  secDesc1="At Whizz Systems, we provide end-to-end hardware design and system architecture solutions tailored to meet the evolving demands of cutting-edge technology. From defining robust system frameworks to crafting detailed schematics, our expertise ensures your hardware is designed for performance, reliability, and future scalability."
  imgUrl="../../../../assets/system-design/introduction.png"
></app-services-intro>

<!-- Core Services Overview-->
<app-services-core-services
  secTitle="Core Services Overview"
  secHeading="Our System Design & Schematic Services"
  [cardData]="coreServices"
  secHeadingMargin="mb-6 3xl:mb-8"
></app-services-core-services>

<!-- Industry Standards -->
<app-services-industry
  secTitle="Industry Standards"
  secHeading="Certifications & Standards"
  secDesc="At Whizz Systems, we ensure that every design meets the highest industry standards and regulatory
     requirements. Our commitment to quality and compliance guarantees that your products are not only innovative
     but also reliable and certified for global markets."
  [cardData]="industryStandards"
></app-services-industry>

<!-- Benefits -->
<app-services-benefits
  secTitle="Benefits"
  secHeading="Why Choose Whizz Systems for PCB Layout"
  [customStyle]="true"
  [cardData]="benefits"
></app-services-benefits>

<!-- Case Study -->
<app-services-case-study
  secTitle="Case Study"
  secHeading="Case Studies & Success Stories"
  secDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est."
  imgUrl="../../../assets/system-design/case-study.png"
  routerLink="/404"
  btnText="Learn more"
></app-services-case-study>

<!-- Contact Thermal Expert -->
<app-services-contact-experts
  secHeading="Ready To Build Smarter, Scalable Systems?"
  routerLink="/404"
  btnText="Contact Our System Design Experts"
></app-services-contact-experts>
