<!-- Hero Section -->
<section class="px-0 sm:px-[6.3%] pb-8 lg:pb-12 3xl:pb-16">
    <div class="flex items-center lg:gap-10 3xl:gap-[61px] bg-dark-gray1 sm:rounded-xl 3xl:rounded-2xl">
        <div
            class="w-full lg:w-[47%] text-white px-4 py-8 sm:py-12 sm:px-8 lg:py-12 3xl:py-16 lg:px-0 lg:pl-12 3xl:pl-16">
            <p class="text-xs 3xl:text-base leading-[15px] 3xl:leading-[19.2px] mb-2 3xl:mb-[10px]">May 29, 2024</p>
            <div class="flex items-center gap-2 flex-wrap mb-4 3xl:mb-6">
                <div *ngFor="let tag of tags">
                    <app-blog-tag text="{{tag}}" textColor="text-light-gray1" borderColor="border-light-gray1"
                    borderRadius="rounded-[3px] 3xl:rounded-[4px]"></app-blog-tag>
                </div>
            </div>
            <h1
                class="text-3xl lg:text-4xl 2xl:text-[44px] 3xl:text-[56px] lg:leading-[45px] 2xl:leading-[55px] 3xl:leading-[67.2px] font-semibold 3xl:font-bold mb-6 3xl:mb-8 w-full sm:w-[53%] lg:w-[94%] 2xl:w-[95%]">
                Heatsinks: Considerations, guidance, and best practices.</h1>
            <div class="flex items-center gap-3 3xl:gap-4 mt-6 3xl:mt-8">
                <a routerLink="/" class="cursor-pointer">
                    <img src="assets/news/whizzicon.svg" alt="img">
                </a>
                <a routerLink="/" class="cursor-pointer">
                    <img src="assets/news/whizz.svg" alt="img">
                </a>
                <a href="https://www.linkedin.com/company/whizz-systems/?viewAsMember=true" target="_blank" class="cursor-pointer">
                    <img src="assets/news/linkedin.svg" alt="img">
                </a>
                <a href="https://www.youtube.com/@WhizzSystemsCA" target="_blank" class="cursor-pointer">
                    <img src="assets/news/youtube.svg" alt="img">
                </a>
            </div>
        </div>
        <div class="hidden lg:block lg:w-[53%]">
            <img class="object-cover" src="assets/news/blogs/heatsink/hero.png" alt="img">
        </div>
    </div>
</section>


<section class="px-[4%] sm:px-[9.3%]">
    <div class="flex flex-col lg:flex-row gap-10 lg:justify-between">
        <!-- left div -->
        <div class="w-full lg:w-1/2">
            <!-- Why do we need a Heatsink? -->
            <section class="py-6 3xl:py-8">
                <h2 class="text-teal1 text-2xl 3xl:text-[32px] 3xl:leading-[38.4px] font-medium mb-6 3xl:mb-8">Heatsinks</h2>
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Why do we need a Heatsink?</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">If any heat source in an electronic device cannot be cooled efficiently through conduction or convection, then a heatsink is required to move the heat away from the heat source so that conduction or convection is more evenly managed. Heat generation is one of the most important challenges for electronic devices since it affects the device’s reliability. It is mainly generated from the flow of electrical current through various components in a circuit, such as integrated circuits, transistors, and other electronic components. The primary cause of heat generation in electronic circuits is electronic resistance to the current flow. So, efficient thermal management frameworks are essential to avoid overheating, ensuring a long lifecycle and optimal safety of the electronic devices. [1]</p>
            </section>

            <!-- Consequences of Overheating -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Consequences of Overheating</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-4 3xl:mb-6">When a device overheats, it can lead to performance issues, unexpected shutdowns, and even permanent damage to the inside components. There are several techniques for cooling, including different styles of heatsinks, thermoelectric coolers, forced air systems, fans, and heat channels. In power electronics, cooling systems must evacuate excess heat to maintain reliability and power density. So, electronic components should always operate within their rated operating temperature range, the safe operating area (SOA).  [2]</p>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">Overheating can happen for different reasons, including intemperate utilization, poor ventilation, and defective cooling systems. Extreme heat can slow and even damage devices [3].</p>
            </section>

            <!-- Working Principle and Concept -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Working Principle and Concept</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-4 3xl:mb-6">Heatsinks operate on the fundamental principle that heat transfer from a hot to a cool region is proportional to the available surface area, as governed by the second law of thermodynamics. Heatsinks conduct heat away from critical electronic components, maintaining them within their rated operating temperature range. The absorbed heat is then removed through natural or forced air convection.</p>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">Heatsinks function either passively through natural convection or actively using mechanisms like fans or liquid cooling to improve heat dissipation. Key performance factors for heatsink design include:</p>
                <hr class="border border-light-gray1/60 my-3 3xl:my-4">
                <div *ngFor="let factor of factors">
                    <p class="text-dark-gray2 text-xs 3xl:text-sm">{{factor}}</p>
                    <hr class="border border-light-gray1/60 my-3 3xl:my-4">
                </div>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mt-8 lg:mt-12 3xl:mt-16">Optimizing these parameters will enhance heat exchange efficiency or thermal conductivity, resulting improvement of heat transfer coefficient.</p>
            </section>

            <!-- Active and Passive Heatsink -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Active and Passive Heatsink</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-4 3xl:mb-6">Heatsinks are classified into passive and active cooling methods. Passive cooling relies on natural convection and radiation for heat dissipation without external assistance. On the other hand, active cooling employs external devices like fans, pumps, or thermoelectric coolers (TECs) to boost heat transfer and cooling efficiency. The choice of a heatsink is determined by the necessary resistance to meet component thermal requirements with active solutions such as forced air or liquid cooling offering tailored thermal management solutions at different levels. (See Fig. 1) [5]</p>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/natural-forced.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Figure 1: Natural vs. Forced Convection</figcaption>
                </figure>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/heatsink-summary.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Table 1: Heatsinks High-Level Summary</figcaption>
                </figure>
            </section>

            <!-- Types of Heatsink by Design -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Active and Passive Heatsink</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-4 3xl:mb-6">Heatsinks are classified into passive and active cooling methods. Passive cooling relies on natural convection and radiation for heat dissipation without external assistance. On the other hand, active cooling employs external devices like fans, pumps, or thermoelectric coolers (TECs) to boost heat transfer and cooling efficiency. The choice of a heatsink is determined by the necessary resistance to meet component thermal requirements with active solutions such as forced air or liquid cooling offering tailored thermal management solutions at different levels. (See Fig. 1) [5]</p>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/design-types.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Figure 2: Types of Heatsink by Design</figcaption>
                </figure>
            </section>

            <!-- Types of Heatsink Based on Manufacturing -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-6 3xl:mb-8">Types of Heatsink Based on Manufacturing</h3>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/considerations.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Table 2: Considerations by Heatsink Type</figcaption>
                </figure>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/materials-summary.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Table 3: Materials Summary</figcaption>
                </figure>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/manufacturing.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Figure 3: Type of Heatsink Based on Manufacturing</figcaption>
                </figure>
            </section>

            <!-- Design Optimization -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Design Optimization</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">To enhance the thermal performance of heatsinks in both natural and forced convection, various design optimization strategies can be used. Like optimizing fin designs such as trapezoidal, curved, and angled fins can improve heat transfer efficiency, adding a cover plate over straight fins can improve the chimney effect, resulting in more heat transfer. In forced convection, adding internal flow channels can be used to design high-performance heatsinks with efficient heat dissipation capabilities.</p>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] my-4 3xl:my-6">Fin efficiency depends on length, thickness, thermal conductivity, and heat transfer coefficient.</p>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">Common heatsinks have a fin aspect ratio between 3:1 and 5:1. In forced convection applications, efficiency should be within the 40 to 70 % range. Also, expansion of the surface area, precise fin design, material choice, and an integrated thermal management system are the factors that improve the performance of a heatsink</p>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/design-optimization.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Figure 4: Design Optimization in Heatsink</figcaption>
                </figure>
            </section>

            <!-- Parametric Approach -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Parametric Approach to Optimize Heatsink Design</h3>
                <h4 class="text-dark-gray2 text-sm 3xl:tesxt-base lg:leading-[24px] 3xl:leading-[28px] font-light">To optimize the relationship between design intent and design response:</h4>
                <ol *ngFor="let approach of approaches">
                    <hr class="border border-light-gray1/60 my-3 3xl:my-4">
                    <li class="text-teal1 text-[13px] 3xl:text-base font-medium  lg:leading-[14px] 3xl:leading-[19.2px] flex gap-3 3xl:gap-4">{{approach.number}}<span class="text-dark-gray2 text-xs 3xl:text-sm font-light lg:leading-[20px] 3xl:leading-[22.4px] -mt-[2px]">{{approach.desc}}</span></li>
                </ol>
                <hr class="border border-light-gray1/60 mt-3 3xl:mt-4">
            </section>
            
            <!-- General Rules -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">General Rules</h3>
                <h4 class="text-dark-gray2 text-sm 3xl:tesxt-base lg:leading-[24px] 3xl:leading-[28px] font-light">These general rules apply to heatsinks:</h4>
                <ol *ngFor="let rule of rules">
                    <hr class="border border-light-gray1/60 my-3 3xl:my-4">
                    <li class="text-teal1 text-[13px] 3xl:text-base font-medium  lg:leading-[14px] 3xl:leading-[19.2px] flex gap-3 3xl:gap-4">{{rule.number}}<span class="text-dark-gray2 text-xs 3xl:text-sm font-light lg:leading-[20px] 3xl:leading-[22.4px] -mt-[2px]" [innerHTML]="rule.desc"></span></li>
                </ol>
                <hr class="border border-light-gray1/60 mt-3 3xl:mt-4">
            </section>

            <!-- Recommended Heatsink Materials -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Recommended Heatsink Materials</h3>
                <h4 class="text-dark-gray2 text-sm 3xl:tesxt-base lg:leading-[24px] 3xl:leading-[28px] font-light mb-6 3xl:mb-8">The most frequent materials used in the construction of heatsinks are those with high thermal conductivity.</h4>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/thermal-conductivity.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Table 4: Thermal Conductivity by Material</figcaption>
                </figure>
            </section>

            <!-- Selecting the Right Heatsink -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Selecting the Right Heatsink</h3>
                <h4 class="text-dark-gray2 text-sm 3xl:tesxt-base lg:leading-[24px] 3xl:leading-[28px] font-light">Selecting the right heatsink is based on for key considerations:</h4>
                <ol *ngFor="let selection of selections">
                    <hr class="border border-light-gray1/60 my-3 3xl:my-4">
                    <li class="text-teal1 text-[13px] 3xl:text-base font-medium  lg:leading-[14px] 3xl:leading-[19.2px] flex gap-3 3xl:gap-4">{{selection.number}}<span class="text-dark-gray2 text-xs 3xl:text-sm font-light lg:leading-[20px] 3xl:leading-[22.4px] -mt-[2px]" [innerHTML]="selection.desc"></span></li>
                </ol>
                <hr class="border border-light-gray1/60 mt-3 3xl:mt-4">
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] my-6 3xl:my-8">Once you have calculated the required thermal resistance, you can select a heatsink that can handle this thermal load and maintain the device within its safe operating temperature range. The choice of heatsink will depend on factors like material, fin design, and whether it uses natural or forced convection. Remember to consider the thermal interface materials and their resistivity values as well.</p>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/comparison.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Figure 5: Comparison Chart of Heatsink Configurations</figcaption>
                </figure>
            </section>

            <!-- General Recommendations -->
             <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">General Recommendations</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-6 3xl:mb-8">Our general recommendations are summarized below</p>
                <figure class="py-6 3xl:py-8">
                    <img class="object-cover" src="assets/news/blogs/heatsink/recommendations.png" alt="img">
                    <figcaption class="text-teal2 text-[13px] 3xl:text-base font-medium 3xl:font-bold mt-3 3xl:mt-4">Table 5: Heatsink Recommendation by Application</figcaption>
                </figure>
             </section>

             <!-- Conclusion -->
             <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">Conclusion</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-4 3xl:mb-6">Heatsinks maintain optimal operating temperatures, prevent overheating, and ensure the reliability of electronic devices. Heatsink design works on the principle of heat transfer, where the surface area available for conduction or convection influences the amount of heat dissipated. The fabrication of heatsinks is different, with different types of designs like pin fin, plate-fin, and stacked fin heatsinks tailored for specific applications and cooling requirements. Active and passive cooling methods are employed, utilizing natural or forced convection to dissipate heat effectively. Design optimization strategies, such as fin geometry and thermal interface materials, are crucial for enhancing heatsink performance.</p>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">Materials like aluminum, copper, heat pipes, graphite, and ceramics are commonly used for their high thermal conductivity. Selecting the right heatsink for a specific application involves calculating heat generation, determining device and ambient temperatures, identifying the convection type, and calculating thermal resistance to ensure that the device will operate within safe temperature limits. Heatsinks are indispensable components in electronics, ensuring efficient heat dissipation and optimal device performance.</p>
            </section>

            <!-- About Whizz Systems -->
            <section class="py-6 3xl:py-8">
                <h3 class="text-dark-gray2 text-base 3xl:text-xl font-medium lg:leading-[20px] 3xl:leading-[24px] mb-3 3xl:mb-4">About Whizz Systems</h3>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] mb-4 3xl:mb-6">Whizz Systems is an end-to-end Electronics Manufacturing Services firm. We specialize in Electronic Design and Manufacturing with an emphasis on NPI. We are based in Silicon Valley, and can smoothly transition projects to our new high-volume facility in Malaysia.</p>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px] my-4 3xl:my-6">With over 30 years of experience, we have extensive experience supporting major companies like Xllinx, Amazon, Google as well as startups you may or may not have heard of to get their products to market.</p>
                <p class="text-dark-gray2 text-[13px] 3xl:text-base font-light lg:leading-[24px] 3xl:leading-[28px]">Learn more: email us at <a class="underline cursor-pointer" href="mailto:sales@whizzsystems.com">sales&#64;whizzsystems.com</a> to connect with our team of industry experts about your projects today.</p>
                <ol *ngFor="let info of infos">
                    <hr class="border border-light-gray1/60 my-3 3xl:my-4">
                    <li class="text-teal1 text-xs 3xl:text-base font-medium  lg:leading-[14px] 3xl:leading-[19.2px] flex gap-3 3xl:gap-4">{{info.number}}<span class="text-dark-gray2 text-xs 3xl:text-sm lg:leading-[20px] 3xl:leading-[22.4px] -mt-[2px]" [innerHTML]="info.desc"></span></li>
                </ol>
                <hr class="border border-light-gray1/60 mt-3 3xl:mt-4">
            </section>
        </div>
        <!-- right div -->
        <div class="w-full lg:w-1/2">
            <div
                class="w-11/12 sm:w-1/2 lg:w-3/4 2xl:w-[70%] justify-self-center lg:sticky lg:top-28 lg:h-[calc(100vh+1%)] lg:mt-40">
                <div
                    class="p-8 lg:p-10 2xl:p-12 3xl:p-16 bg-card-gray rounded-md 3xl:rounded-lg border border-light-gray1 mb-6 3xl:mb-8">
                    <h2
                        class="text-3xl lg:text-[32px] 2xl:text-4xl 3xl:text-5xl lg:leading-[40px] 3xl:leading-[57.6px] font-semibold 3xl:font-bold text-dark-gray2">
                        Subscribe to our newsletter!</h2>
                    <p
                        class="text-base 3xl:text-xl lg:leading-[20px] 3xl:leading-[24px] font-light my-6 3xl:y-8 text-dark-gray2">
                        Get updates on the latest news & insights</p>
                    <div class="flex items-center gap-6 3xl:gap-8">
                        <input type="email" placeholder="Enter Your Email"
                            class="w-full text-sm 3xl:text-base px-4 3xl:px-5 py-[6px] sm:py-[10px] 3xl:py-[14px] block rounded-md 3xl:rounded-lg border border-dark-gray1 focus:outline-none focus:border-teal1  bg-transparent placeholder-light-gray1 focus:placeholder-transparent">
                        <app-animated-button routerLink="/404" heading="Subscribe" size="medium" [icon]="false"
                            bg="white"></app-animated-button>
                    </div>
                </div>
                <div
                    class="p-8 lg:p-10 2xl:p-12 3xl:p-16 bg-card-gray rounded-md 3xl:rounded-lg border border-light-gray1 bg-subscribe bg-cover">
                    <h2
                        class="text-white text-3xl lg:text-[32px] 2xl:text-4xl 3xl:text-5xl lg:leading-[40px] 3xl:leading-[57.6px] font-semibold 3xl:font-bold mb-6 3xl:mb-8">
                        Learn more about Whizz Systems</h2>
                    <app-animated-button routerLink="/services" heading="All services" size="medium" [icon]="true"
                        bg="white"></app-animated-button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <h2 class="text-3xl sm:text-4xl 3xl:text-5xl lg-leading-[40px] 3xl:leading-[57.6px] font-semibold 3xl:font-bold text-dark-gray2 mb-6 3xl:mb-8">Latest News & Insights</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-12 3xl:gap-16">
        <div *ngFor=" let card of cards">
          <app-news-card [imageUrl]="card.imageUrl" [navigate]="card.link" [tags]="card.tags" [date]="card.date" [title]=" card.title"></app-news-card>
        </div>
    </div>
</section>
