<button [routerLink]="routerLink" class="relative overflow-hidden px-4 py-2 rounded-md text-black bg-white border-none cursor-pointer group">
    <span class="grid place-items-center absolute inset-0 transition-transform bg-medium-teal transform -translate-x-full group-hover:translate-x-0 duration-300"></span>
    <span class="relative font-medium z-10 flex justify-between items-center">
      {{ heading }}
      
      <ng-container *ngIf="icon">
        <img [src]="icon" alt="icon" class="ml-5 w-4 h-4"/>
      </ng-container>
    </span>
  </button>
  
