<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <div class="relative p-6 sm:p-10 lg:p-[52px] 3xl:p-16 rounded-lg">
        <video class="absolute inset-0 w-full h-full object-cover z-0 rounded-lg" loop muted autoplay
            oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../assets/hero/waves2.mp4" type="video/mp4">
        </video>
        <div class="absolute inset-0 bg-[#00a99f] opacity-80 z-[5] rounded-lg"></div>
        <div class="relative z-[10] max-w-sm lg:max-w-[40rem] 3xl:max-w-3xl text-white">
            <h2 class="{{secHeadingMargin}}" 
                class="text-3xl lg:text-[52px] 3xl:text-[64px]  lg:leading-[60px] 3xl:leading-[76.8px] font-bold  mb-10 3xl:mb-12">
                {{secHeading}}</h2>
                <p class="text-lg lg:text-2xl 3xl:text-3xl font-medium lg:leading-[40px] 3xl:leading-[48px] mb-10 3xl:mb-12">{{secDesc}}</p>
                <app-cbutton heading="{{btnText}}" routerLink="{{routerLink}}" size="large"></app-cbutton>
        </div>
    </div>
</section>