<!-- Hero -->
<section class="px-0 sm:px-[6.3%] pb-8 lg:pb-12 3xl:pb-16">
    <div class="flex items-center lg:gap-10 3xl:gap-[61px] bg-dark-gray1 sm:rounded-xl 3xl:rounded-2xl">
        <div
            class="w-full lg:w-[47%] text-white px-4 py-8 sm:py-12 sm:px-8 lg:py-12 3xl:py-16 lg:px-0 lg:pl-12 3xl:pl-16">
            <p class="text-sm 3xl:text-base leading-[15px] 3xl:leading-[19.2px] mb-2 3xl:mb-[10px]">May 14, 2025</p>
            <div class="flex items-center gap-2 flex-wrap mb-4 3xl:mb-6">
                <div *ngFor="let tag of tags">
                    <app-blog-tag text="{{tag}}" textColor="text-light-gray1" borderColor="border-light-gray1"
                        borderRadius="rounded-[3px] 3xl:rounded-[4px]"></app-blog-tag>
                </div>
            </div>
            <h1
                class="text-3xl lg:text-4xl 2xl:text-[44px] 3xl:text-[56px] lg:leading-[45px] 2xl:leading-[55px] 3xl:leading-[67.2px] font-semibold 3xl:font-bold mb-6 3xl:mb-8 w-[96%] sm:w-[57%] lg:w-full">
                NextGen Hardware Design for High-Density, High-Complexity Systems</h1>
            <p
                class="text-base lg:text-sm 2xl:text-base 3xl:text-xl font-extralight lg:leading-[20px] 3xl:leading-[24px] mb-6 3xl:mb-8 sm:w-[70%] lg:w-full">
                Delivering precise, high-performance designs with innovative system-building solutions
            </p>
            <div class="flex items-center gap-3 3xl:gap-4 mt-6 3xl:mt-8">
                <a routerLink="/" class="cursor-pointer">
                    <img height="48" width="48" class="h-auto w-full" loading="lazy" src="assets/icons/whizzicon.svg"
                        alt="Whizz Systems">
                </a>
                <a routerLink="/" class="cursor-pointer">
                    <img height="16" width="109" class="h-auto w-full" loading="lazy" src="assets/icons/whizz.svg"
                        alt="Whizz Systems">
                </a>
                <a href="https://www.linkedin.com/company/whizz-systems/?viewAsMember=true" target="_blank"
                    class="cursor-pointer">
                    <img height="24" width="24" class="h-auto w-full" loading="lazy" src="assets/icons/linkedin.svg"
                        alt="Whizz Systems">
                </a>
                <a href="https://www.youtube.com/@WhizzSystemsCA" target="_blank" class="cursor-pointer">
                    <img height="24" width="24" class="h-auto w-full" loading="lazy" src="assets/icons/youtube.svg"
                        alt="Whizz Systems">
                </a>
            </div>
        </div>
        <div class="hidden lg:block lg:w-[53%]">
            <img height="587" width="682" loading="lazy" class="h-auto w-full object-cover"
                src="assets/news/blogs/hardwareDesign/hero.png"
                alt="Building the Future of 5G Connectivity with Open Radio Unit Solutions">
        </div>
    </div>
</section>

<section class="px-[4%] sm:pr-0 sm:pl-[6.3%] py-6 3xl:py-8">
    <div class="w-full flex justify-between gap-1 sm:gap-12">
        <!-- left div -->
        <div class="hidden lg:block lg:w-[23%] 2xl:w-[19%] 3xl:w-[22%] mt-12 ">
            <div
                class="p-6 3xl:p-8 border border-light-gray1 rounded-md 3xl:rounded-lg bg-card-gray lg:sticky lg:top-28 3xl:top-36">
                <h3
                    class="text-teal1 text-xl 3xl:text-2xl font-medium leading-[24px] 3xl:leading-[28.8px] mb-6 3xl:mb-8">
                    In
                    This Article</h3>
                <ul>
                    <li
                        class="text-dark-gray2 text-xs 3xl:text-base font-medium leading-[20px] 3xl:leading-[28px] mb-3 3xl:mb-4 cursor-pointer">
                        <a (click)="scrollToCategory('section1')"
                            [ngClass]="isActive('section1') ? 'text-teal1' : ''">The Complexity Behind the AI
                            Hardware</a>
                    </li>
                    <li
                        class="text-dark-gray2 text-xs 3xl:text-base font-medium leading-[20px] 3xl:leading-[28px] mb-3 3xl:mb-4 cursor-pointer">
                        <a (click)="scrollToCategory('section2')"
                            [ngClass]="isActive('section2') ? 'text-teal1' : ''">Key Challenges in High-Density
                            Systems</a>
                    </li>
                    <li
                        class="text-dark-gray2 text-xs 3xl:text-base font-medium leading-[20px] 3xl:leading-[28px] mb-3 3xl:mb-4 cursor-pointer">
                        <a (click)="scrollToCategory('section3')"
                            [ngClass]="isActive('section3') ? 'text-teal1' : ''">Whizz Systems’s Approach and
                            Expertise</a>
                    </li>
                    <li
                        class="text-dark-gray2 text-xs 3xl:text-base font-medium leading-[20px] 3xl:leading-[28px] mb-3 3xl:mb-4 cursor-pointer">
                        <a (click)="scrollToCategory('section4')"
                            [ngClass]="isActive('section4') ? 'text-teal1' : ''">Best Practices in Action</a>
                    </li>
                    <li
                        class="text-dark-gray2 text-xs 3xl:text-base font-medium leading-[20px] 3xl:leading-[28px] mb-3 3xl:mb-4 cursor-pointer">
                        <a (click)="scrollToCategory('section5')"
                            [ngClass]="isActive('section5') ? 'text-teal1' : ''">Key Considerations for Customers</a>
                    </li>
                </ul>


            </div>
        </div>
        <!-- cener div -->
        <div class="flex flex-col sm:w-4/5 lg:w-[55%] 2xl:w-[53%] 3xl:w-[47%]">
            <section id="section1" class="mb-6 3xl:mb-8">
                <h2
                    class="text-teal1 text-2xl 3xl:text-[32px] 3xl:leading-[38.4px] font-semibold 3xl:font-bold mb-3 3xl:mb-4">
                    The
                    Complexity Behind the AI Chips</h2>
                <p class="text-dark-gray2 text-lg 3xl:text-xl leading-[30px] 3xl:leading-[36px]">The intricacy of
                    hardware design has become a key factor in success as AI applications continue to grow. The
                    latest
                    generation of chips features significantly higher pin counts—often exceeding <span
                        class="font-semibold 3xl:font-bold">5,500 pins</span>—complicating both design and
                    manufacturing
                    processes. This hardware evolution requires a strong integration of many accelerator modules
                    testing
                    the boundaries of <span class="font-semibold 3xl:font-bold">power</span>, <span
                        class="font-semibold 3xl:font-bold">speed</span>, and <span
                        class="font-semibold 3xl:font-bold">layout design</span>.</p>
                <p class="text-dark-gray2 text-lg 3xl:text-xl leading-[30px] 3xl:leading-[36px]">When boards and
                    systems
                    get larger and more complex, problems begin to appear with <a
                        routerLink="/services/engineering-design/signal-integrity-simulation-services"
                        class="text-teal1 font-medium 3xl:font-bold underline underline-offset-2">signal
                        integrity</a>, <a routerLink="/services/engineering-design/power-delivery-network-simulation"
                        class="text-teal1 font-medium 3xl:font-bold underline underline-offset-2">power
                        distribution</a>, and <a routerLink="/services/engineering-design/thermal-management-solutions"
                        class="text-teal1 font-medium 3xl:font-bold underline underline-offset-2">thermal
                        management</a>. Companies are tasked with delivering high-performance products capable of
                    <span class="font-semibold 3xl:font-bold">supporting intensive data processing</span> while
                    complying with industry standards.
                </p>
            </section>
            <section class="py-8 lg:py-12 3xl:py-16">
                <h2
                    class="text-teal1 text-2xl lg:text-3xl 3xl:text-[40px] lg:leading-[40px] 3xl:leading-[48px] font-semibold 3xl:font-bold text-center">
                    What are the
                    biggest hurdles when tackling these AI based sophisticated designs, and how can expert
                    intervention
                    simplify the path to success?</h2>

            </section>
            <section id="section2" class="py-6 3xl:py-8">
                <h2
                    class="text-teal1 text-2xl 3xl:text-[32px] 3xl:leading-[38.4px] font-semibold 3xl:font-bold mb-6 3xl:mb-8">
                    Key
                    Challenges in High-Density Systems</h2>
                <h3 class="text-dark-gray1 text-xl 3xl:text-2xl font-semibold 3xl:font-bold my-3 3xl:my-4">Pin Count
                    and
                    Design Complexity</h3>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">In AI hardware,
                    complexity extends beyond merely connecting components. The continuous
                    increase in the number of pins in the new generation of chips raises serious issues in <span
                        class="font-semibold 3xl:font-bold">design</span> and <span
                        class="font-semibold 3xl:font-bold">fabrication.</span></p>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">For example, chips
                    with
                    <span class="font-semibold 3xl:font-bold">5,500 pins</span>, just to name a few aspects of the
                    design process, <span class="font-semibold 3xl:font-bold">require extreme attention to
                        detail</span> in:
                </p>
                <ul class="list-disc list-inside ml-4">
                    <li *ngFor="let point of pinCounts"
                        class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">{{point}}</li>
                </ul>
                <h3 class="text-dark-gray1 text-xl 3xl:text-2xl font-semibold 3xl:font-bold my-3 3xl:my-4">Signal
                    Integrity at Risk</h3>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">One of the main
                    issues is maintaining <span class="font-semibold 3xl:font-bold">good
                        signal
                        integrity</span> with all of the components so close together on  high density boards. </p>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">With more connections
                    packed into a limited space, the risk of signal crosstalk
                    increases,
                    potentially leading to:</p>
                <ul class="list-disc list-inside ml-4">
                    <li *ngFor="let point of signals1"
                        class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">{{point}}</li>
                </ul>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Companies have to use
                    really <span class="font-semibold 3xl:font-bold">sophisticated
                        methods</span>
                    to overcome these problems, like:</p>
                <ul class="list-disc list-inside ml-4">
                    <li *ngFor="let point of signals2"
                        class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">{{point}}</li>
                </ul>
                <h3 class="text-dark-gray1 text-xl 3xl:text-2xl font-semibold 3xl:font-bold my-3 3xl:my-4">Power
                    Distribution Challenge</h3>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Power distribution
                    becomes a major issue because higher pin counts seem to also mean <span
                        class="font-semibold 3xl:font-bold">higher power requirements</span>. The power must be
                    distributed evenly, because if not, then "thermal hotspots" will occur, which can cause system
                    instability, or even failure.
                    With increasing complexity in designs, the requirement for <span
                        class="font-semibold 3xl:font-bold">efficient thermal management solutions</span> becomes
                    even
                    more paramount in order to maintain the <span class="font-semibold 3xl:font-bold">life and
                        reliability</span> of high performance systems.</p>
                <figure class="py-6 3xl:py-8 lg:-mx-11 3xl:-m-10">
                    <img loading="lazy" height="598" width="252" class="w-full h-auto object-cover"
                        src="assets/news/blogs/hardwareDesign/key-challenges.png"
                        alt="Power Distribution Challenge">
                </figure>
            </section>
            <section id="section3" class="py-6 3xl:py-8">
                <h2
                    class="text-teal1 text-2xl 3xl:text-[32px] 3xl:leading-[38.4px] font-semibold 3xl:font-bold mb-6 3xl:mb-8">
                    Whizz
                    Systems’ Approach and Expertise</h2>
                <h3 class="text-dark-gray1 text-xl 3xl:text-2xl font-semibold 3xl:font-bold my-3 3xl:my-4">Turning
                    Complexity into Competitive Advantage</h3>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Whizz Systems is
                    dedicated to mastering the challenges of <span class="font-semibold 3xl:bold">advanced hardware
                        complexity</span>,
                    particularly
                    when it comes to managing high-pin count chips or high-density boards. 
                    Our approach involves a comprehensive understanding of the <span
                        class="font-semibold 3xl:bold">critical electrical and mechanical
                        constraints</span> that impact high-performance systems. By leveraging <span
                        class="font-semibold 3xl:bold">advanced design methodologies</span>,
                    we
                    address the intricacies of complex hardware—including signal integrity, power distribution, and
                    thermal management—ensuring efficient, reliable solutions</p>
                <h3 class="text-dark-gray1 text-xl 3xl:text-2xl font-semibold 3xl:font-bold my-3 3xl:my-4">Optimized
                    Ball Mapping and Layout Strategy</h3>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Our team specializes
                    in creating optimized <span class="font-semibold 3xl:bold">ball maps and pin configurations</span>
                    tailored for <span class="font-semibold 3xl:bold">high-pin
                        count chips</span>.</p>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Through the use of
                    <span class="font-semibold 3xl:bold">advanced design tools and techniques</span>, we:
                </p>
                <ul class="list-disc list-inside ml-4">
                    <li *ngFor="let point of optimized"
                        class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">{{point}}</li>
                </ul>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">For instance, we
                    focus on reducing trace lengths and optimizing layout to <span
                        class="font-semibold 3xl:bold">prevent data loss</span> and
                    <span class="font-semibold 3xl:bold">maintain signal fidelity</span>. 
                </p>
                <h3 class="text-dark-gray1 text-xl 3xl:text-2xl font-semibold 3xl:font-bold my-3 3xl:my-4">Robust Power
                    Delivery Across High-Density Boards</h3>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">This meticulous
                    planning extends to <a routerLink="/services/engineering-design/power-delivery-network-simulation"
                        class="text-teal1 font-medium 3xl:font-bold underline underline-offset-2">power
                        distribution</a>, where we implement strategies to ensure:
                </p>
                <ul class="list-disc list-inside ml-4">
                    <li *ngFor="let point of robust"
                        class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]"
                        [innerHTML]="point"></li>
                </ul>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Proper power planning
                    supports stable performance,especially as boards continue to grow more
                    complex and demanding.</p>
                <h3 class="text-dark-gray1 text-xl 3xl:text-2xl font-semibold 3xl:font-bold my-3 3xl:my-4">Advanced
                    Thermal Management Solutions</h3>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Speaking of thermal
                    management, we know one of the major problems is going to be the <span
                        class="font-semibold 3xl:bold">amount of
                        heat generated</span> by all the components packed into a small space.</p>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Whizz Systems employs
                    <span class="font-semibold 3xl:bold">advanced cooling solutions</span>, such as <span
                        class="font-semibold 3xl:bold">vapor chambers</span> and <span
                        class="font-semibold 3xl:bold">liquid cooling
                        systems</span>, to achieve superior <span class="font-semibold 3xl:bold">thermal
                        dissipation.</span>
                </p>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">These cooling
                    technologies allow <span class="font-semibold 3xl:bold">high performance AI systems</span> to:</p>
                <ul class="list-disc list-inside ml-4">
                    <li *ngFor="let point of robust"
                        class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]"
                        [innerHTML]="point"></li>
                </ul>
                <figure class="py-6 3xl:py-8 lg:-mx-11 3xl:-m-10">
                    <img loading="lazy" height="598" width="252" class="w-full h-auto object-cover"
                        src="assets/news/blogs/hardwareDesign/approach-expertise.png"
                        alt="Whizz Systems’ Approach and Expertise">
                </figure>
            </section>
            <section id="section4" class="py-6 3xl:py-8">
                <h2 class="text-teal1 text-2xl 3xl:text-[32px] 3xl:leading-[38.4px] font-medium mb-6 3xl:mb-8">Best
                    Practices in Action</h2>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">For instance, in a
                    recent project involving a <span class="font-semibold 3xl:bold">high density board with a high pin
                        count ASIC</span>,
                    Whizz applied best known methods of layout design and power management.
                    Our innovative topologies allowed for seamless integration of the chip into the application
                    solution, enabling maximum performance even under extreme conditions.
                    Our extensive experience with industry standards, equips us to deliver solutions that meet
                    rigorous performance and reliability criteria. Whizz Systems is committed to providing tailored
                    solutions, whether adhering to established industry frameworks or creating proprietary designs
                    for specialized applications. We combine years of experience with the latest in technical
                    innovation to make sure every product satisfies the needs of today's AI systems and high density
                    hardware.</p>
            </section>
            <section class="py-6 3xl:py-8 lg:-mx-11 3xl:-m-10">
                <div
                    class="p-8 lg:p-10 2xl:p-12 3xl:p-16 bg-card-gray rounded-md 3xl:rounded-lg border border-light-gray1">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3
                                class="text-dark-gray1 text-xl lg:text-[28px] 3xl:text-[32px] font-semibold 3xl:font-bold my-3 3xl:my-4">
                                Subscribe to our newsletter!</h3>
                            <p
                                class="text-dark-gray2 text-[13px] 3xl:text-base font-light leading-[15px] 3xl:leading-[19.2px]">
                                Get updates on the latest news & insights</p>
                        </div>
                        <a href="https://webforms.pipedrive.com/f/6UT1JKLeb6G1xtMMTPA4HRcQsTZefgpvRq9cSzG1TincmHlD6Wvfh3YCmSXUO7VklB"
                            target="_blank"><app-animated-button heading="Subscribe" size="medium" [icon]="false"
                                bg="white"></app-animated-button></a>
                    </div>
                </div>
            </section>
            <section id="section5">
                <h2 class="text-teal1 text-2xl 3xl:text-[32px] 3xl:leading-[38.4px] font-medium mb-6 3xl:mb-8">Key
                    Considerations for Customers</h2>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">There are many
                    different aspects that companies must keep in mind when dealing with high-density
                    complex boards, some of which can make or break the success of their products. </p>
                <div *ngFor="let consideration of considerations">
                    <h3 class="text-dark-gray1 text-xl 3xl:text-2xl font-semibold 3xl:font-bold my-3 3xl:my-4">
                        {{consideration.title}}</h3>
                    <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]"
                        [innerHTML]="consideration.desc1"></p>
                    <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]"
                        [innerHTML]="consideration.desc2"></p>
                </div>
                <figure class="py-6 3xl:py-8 lg:-mx-11 3xl:-m-10">
                    <img loading="lazy" height="598" width="252" class="w-full h-auto object-cover"
                        src="assets/news/blogs/hardwareDesign/customer-considerations.png"
                        alt="Key Considerations for Customers">
                </figure>
            </section>
            <section>
                <h2
                    class="text-teal1 text-2xl 3xl:text-[32px] 3xl:leading-[38.4px] font-semibold 3xl:font-bold mb-6 3xl:mb-8">
                    Partner With Whizz Systems to Simplify Complexity</h2>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">The <span
                        class="font-semibold 3xl:bold">AI field</span> is a rapidly changing one and whoever can best
                    conquer the complexity of advanced hardware will be the one who prevails. <span
                        class="text-teal1 font-medium 3xl:font-semibold">Whizz Systems</span> is committed to partnering
                    with you to address these challenges, delivering innovative, high-quality solutions that support
                    your strategic goals. </p>
                <p class="text-dark-gray2 text-base 3xl:text-xl leading-[30px] 3xl:leading-[36px]">Let us create the
                    future of AI hardware together with architectures not just capable but surpassing today's needs!</p>
            </section>
        </div>

        <!-- right div -->
        <section class="sm:ml-auto mb-56 mt-96">
            <div class="flex flex-col justify-center items-center space-y-3 3xl:space-y-4 sticky top-96">
                <p class="text-light-gray2 text-[10px] 3xl:text-xs font-semibold 3xl:font-bold">SHARE</p>
                <a (click)="shareOnFacebook()" class="cursor-pointer"><svg height="20" width="20"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z" />
                    </svg></a>
                <a (click)="shareOnLinkedIn()" class="cursor-pointer"><svg height="20" width="20"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                            d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z" />
                    </svg></a>
                <a (click)="shareOnTwitter()" class="cursor-pointer"><svg height="20" width="20"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                    </svg></a>
            </div>
        </section>
    </div>
</section>

<!-- Marketing  -->
<section class="px-0 sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <div class="relative p-6 sm:p-10 lg:p-[52px] 3xl:p-16 sm:rounded-md 3xl:rounded-lg">
        <video class="absolute inset-0 w-full h-full object-cover z-0 rounded-md 3xl:rounded-lg" loop muted autoplay
            oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="assets/hero/waves2.mp4" type="video/mp4">
        </video>
        <div class="absolute inset-0 bg-video-overlay opacity-80 z-[5] sm:rounded-md 3xl:rounded-lg"></div>
        <div class="relative z-10 lg:w-[85%] 2xl:w-[80%] 3xl:w-[63%] text-white">
            <h2
                class="text-3xl sm:text-4xl lg:text-5xl 2xl:text-[52px] 3xl:text-[64px] 2xl:leading-[60px] 3xl:leading-[76.8px] font-bold mb-3 3xl:mb-4">
                Ready to overcome the challenges of high-complexity hardware design?</h2>
            <p
                class="sm:text-xl lg:text-2xl 2xl:text-[26px] 3xl:text-[32px] 2xl:leading-[36px] 3xl:leading-[48px] mb-8 lg:mb-10 3xl:mb-12">
                Partner with Whizz Systems to turn intricate requirements into high-performance, production-ready
                solutions.</p>
            <a href="https://webforms.pipedrive.com/f/6N6NQL3vOqyi8paI5kxfU9RamXw4SrfQANt39TqTNyntlVSJ3mocCO0xg444OliGCn"
                target="_blank"><app-button heading="Contact us today" size="large"
                    icon="assets/icons/webform.svg"></app-button></a>
        </div>
    </div>
</section>

<!-- Latest News and Insights -->
<app-cnews [blogs]="blogs"></app-cnews>