<div class="px-[4%] sm:px-[10.2%] pt-24 ">
  <div class="flex items-center justify-between mb-10 3xl:mb-13">
    <h2 class="text-3xl sm:text-4xl 3xl:text-5xl font-bold text-dark-gray2">Testimonials</h2>
    <div class="flex items-center gap-4 3xl:gap-6">
      <div [className]="progress.abs == 0 ? 'pointer-events-none opacity-[0.6]':''">
        <app-cbutton size="medium" (click)="prevSlide()"
            icon="../../assets/services/l-arrow.svg"></app-cbutton>
    </div>
    <div [className]="progress.abs == progress.maxIdx ? 'pointer-events-none opacity-[0.6]':''">
        <app-cbutton size="medium" (click)="nextSlide()"
            icon="../../assets/services/r-arrow.svg"></app-cbutton>
    </div>
    </div>
  </div>
</div>
<div class="pl-[4%] sm:pl-[10.2%] pb-16">
  <div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide " *ngFor="let card of cards">
      <app-testimonial-card [desc]="card.desc" [imageUrl]="card.imageUrl" [name]="card.name"
        [designation]="card.designation">
      </app-testimonial-card>
    </div>
  </div>
</div>