<div class="grid grid-cols-1 md:grid-col-2 lg:grid-cols-3 gap-x-6 mx-auto md:hidden">
    <div *ngFor=" let card of blogData">
        <app-news-card [imageUrl]="card.imageUrl" [date]="card.date" [title]=" card.title"></app-news-card>
    </div>
</div>

<a routerLink="/news_&_insights/news" *ngFor="let item of blogData; let i = index"
    class="cursor-pointer hidden md:block">
    <div class="group relative w-full flex items-center gap-8 overflow-x-scroll no-scrollbar mb-6 3xl:mb-8"
        [ngClass]="i % 2 === 0 ? 'flex-row' : 'flex-row-reverse'">
        <div class="p-6 3xl:p-8 bg-card-gray  w-full group-hover:w-[88%] lg:group-hover:w-[92%] rounded-lg border border-light-gray1 flex items-center gap-6 3xl:gap-8 transition-all duration-500 ease-in-out"
            [ngClass]="i % 2 === 0 ? 'flex-row' : 'flex-row-reverse'">
            <div class="w-1/2">
                <img style="transform-origin: left center;"
                    class="object-cover h-[10rem] lg:h-[17rem] 3xl:h-[21rem] rounded-md transition-all duration-500 ease-in-out"
                    [src]="item.imgUrl" alt="img"
                    [ngClass]="i % 2 === 0 ? 'origin-right' : 'origin-left'" />
            </div>
            <div class="w-1/2">
                <app-newsbutton heading="Heatsink" routerLink="/404" class="mr-2"></app-newsbutton>
                <app-newsbutton heading="Thermal Management" routerLink="/404"></app-newsbutton>
                <p class="mt-4 lg:mt-5 mb-2 text-xs 3xl:text-sm text-dark-gray2  font-semibold">{{ item.date }}</p>
                <p class="text-base lg:text-xl 3xl:text-2xl font-bold">{{ item.title }}</p>
            </div>
        </div>
        <div class="bg-teal2 h-[13rem] lg:h-[20rem] 3xl:h-[25rem] rounded-lg grid place-items-center px-6 lg:px-7 3xl:px-9 transition-all duration-500 ease-in-out"
            [ngClass]="i % 2 === 0 ? 'absolute right-0 top-0 translate-x-24 group-hover:translate-x-0' : 'absolute left-0 top-0 -translate-x-24 group-hover:translate-x-0'">
            <img class="object-cover w-4 3xl:w-6" src="../../../../assets/services/r-arrow.svg" alt="img" />
        </div>
    </div>
</a>