<section>
    <img loading="lazy" src="assets/featured-products/products/divider-top.png" alt="img">
    <div class="px-[5%] sm:px-[12%] lg:px-[12%] xl:px-[15%] 2xl:px-[20%] 3xl:px-[17%] py-8 lg:py-12 3xl:py-16 text-center">
        <h2
            class="text-teal1 text-xl sm:text-2xl lg:text-4xl 3xl:text-5xl font-medium lg:leading-[40px] 3xl:leading-[57.6px]">
            {{slogan}}</h2>
    </div>
    <img loading="lazy" src="assets/featured-products/products/divider-bottom.png" alt="img">
</section>