<app-services-hero serviceCategory="Global Supply Chain Management"
  serviceTitle="Accelerating Builds Through Early Procurement and Global Reach"
  serviceDesc="<br><br>"
  imgUrl="assets/services/supply-chain/hero.png" navigate="https://webforms.pipedrive.com/f/6k5g9P6xBe8hKKOK5gAGLSRWSeLSp28QnpBPKCw7zg96tXKLN8NPkGD9deOLbWZQiL" btnText="Bring Your Product to Life, Without Supply Chain Hassles"></app-services-hero>

  <!-- Navbar -->
<section [ngClass]="{ 'top-[13%]': isSticky}"
class="hidden lg:block px-[9.3%] lg:py-10 3xl:py-16 bg-white sticky top-0 z-20 transition-all duration-500 ease-in-out">
<div class="flex justify-center items-center gap-3 3xl:gap-4">
  <a *ngFor="let service of supplyChainServices" (click)="scrollToService(service)"
    class="lg:w-44 2xl:w-48 lg:h-[72px] 3xl:w-[247px] 3xl:h-[88px] cursor-pointer grid place-items-center bg-dark-gray1 hover:bg-dark-gray2 text-center text-white text-xs 3xl:text-base font-normal 3xl:font-medium rounded-md 3xl:rounded-lg transition-all duration-300 ease-in-out">{{
    service }}</a>
</div>
</section>

<!-- Overview -->
<section class="px-[4%] sm:px-[9.3%] bg-dark-gray2 py-8 lg:py-12 3xl:py-16">
  <div class="px-8 lg:px-12 3xl:px-16 py-6 3xl:py-8 bg-dark-gray1 rounded-xl 3xl:rounded-2xl">
    <div class="flex flex-col lg:flex-row items-center gap-10 lg:gap-12 3xl:gap-16">
      <!-- Image Section -->
      <div class="w-full lg:w-[49.2%] p-6 lg:p-0 order-1 lg:order-0">
        <img width="538" height="315" loading="lazy" class="w-full h-auto object-cover rounded-md 3xl-rounded-lg" src="assets/services/supply-chain/introduction.png" alt="Strategic Supply Chain Integration" />
      </div>
      <div class="text-white w-full lg:w-[50.8%] order-0 lg:order-1">
        <h3 class="text-xl 3xl:text-2xl font-medium leading-[28.8px] mb-3 3xl:mb-4">
          Strategic Supply Chain Integration
        </h3>
        <p class="text-base 3xl:text-lg font-light leading-[24px] 3xl:leading-[28px] mb-3 3xl:mb-4">
          At Whizz Systems, our supply chain is built into the design process—not added on later. While your engineers develop the product, our materials team secures critical components in parallel, locking in parts early to eliminate delays.
        </p>
        <p class="text-base 3xl:text-lg font-light leading-[24px] 3xl:leading-[28px] mb-3 3xl:mb-4">
          With procurement teams in the U.S. and offshore, deep distributor relationships, and a vetted broker network, we ensure part availability even under tight timelines. Our in-house inventory and advanced robotic storage cover 70–80% of early build needs—speeding up prototyping without quality tradeoffs.
        </p>
        <p class="text-base 3xl:text-lg font-light leading-[24px] 3xl:leading-[28px] mb-3 3xl:mb-4">
          From BoM validation and risk analysis to full compliance and secure packaging, we help you build faster and smarter—without the supply chain becoming your bottleneck.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Proactive Sourcing | Parallel to Design -->
<app-services-intro id="ProactiveSourcing" heading="Proactive Sourcing | Parallel to Design"
title="Components Procurement & Planning"
desc1="We offer turnkey and consignment manufacturing. Our materials team proactively sources parts <b>in parallel with ongoing design</b> work—locking in critical components early to secure your first build. We work closely with engineering to identify alternate parts and validate availability, giving you flexibility and <b>reducing lead time risk.</b>"
[isImageLeft]="false" imgUrl="assets/services/supply-chain/procurment.png"></app-services-intro>

<!-- Prototype Build Coordination -->
<app-services-intro id="PrototypeBuildCoordination" heading="Prototype Build Coordination"
title="Smart Planning for Early Builds"
desc1="We specialize in high-mix, low- to mid-volume production. Every month, we scan and analyze the bill of materials for risks like EOL parts. We collaborate with clients to secure long-term stock, suggest and, upon client’s approval, implement design substitutions, and keep your production uninterrupted."
imgUrl="assets/services/supply-chain/prototype.png"></app-services-intro>

<!-- Global Sourcing & Broker Ecosystem -->
<app-services-intro id="GlobalSourcing" heading="Global Sourcing & Broker Ecosystem"
title="A Vetted Global Network for Critical Parts"
desc1="When lead times are critical, our supply chain team taps into a global network of trusted brokers. We use known, long-term partners—never random sources—and offer part validation through testing labs to avoid counterfeit risk and secure early builds."
[isImageLeft]="false" imgUrl="assets/services/supply-chain/global.png"></app-services-intro>

<!-- Inventory & Storage -->
<app-services-intro id="Inventory&Storage" heading="Inventory & Storage"
title="In-House Inventory Backed by Smart Storage"
desc1="Whizz stocks an in-house inventory of high-usage parts, allowing us to fulfill 70–80% of early proto builds without delay. Our robotic storage systems maintain parts in vacuum-sealed, humidity-controlled conditions, ensuring longevity and quality. We have an automated component storage and retrieval system, especially for SMT (Surface Mount Technology) assembly lines."
imgUrl="assets/services/supply-chain/inventory.png"></app-services-intro>

<!-- Benefits -->
<app-services-benefits heading="Benefits Overview" title="A Supply Chain You Can Trust, From Concept to Completion"
  btnText="Small Button" navigate="/404" [benefitsData]="benefits" [columns]="3"></app-services-benefits>

<!-- Contact Experts -->
<app-services-contact-experts slogan="Ready to Elevate Your Product Development With Whizz Supply Chain?"
navigate="https://webforms.pipedrive.com/f/6k5g9P6xBe8hKKOK5gAGLSRWSeLSp28QnpBPKCw7zg96tXKLN8NPkGD9deOLbWZQiL" btnText="Let’s Develop Your Product Together"></app-services-contact-experts>