<app-services-hero serviceCategory="Supply Chain Management"
  serviceTitle="Streamlined Global Supply Chain Management for Seamless Operations"
  serviceDesc="Ensuring quality, compliance, and efficiency across all phases of supply chain management to meet your design and production needs."
  imgUrl="assets/services/supply-chain/hero.png" navigate="https://webforms.pipedrive.com/f/6k5g9P6xBe8hKKOK5gAGLSRWSeLSp28QnpBPKCw7zg96tXKLN8NPkGD9deOLbWZQiL" btnText="Bring Your Product to Life, Without Supply Chain Hassles"></app-services-hero>

  <!-- Navbar -->
<section [ngClass]="{ 'top-[13%]': isSticky}"
class="hidden lg:block px-[9.3%] lg:py-10 3xl:py-16 bg-white sticky top-0 z-20">
<div class="flex justify-center items-center gap-3 3xl:gap-4">
  <a *ngFor="let service of supplyChainServices" (click)="scrollToService(service)"
    class="lg:w-44 2xl:w-48 lg:h-[72px] 3xl:w-[247px] 3xl:h-[88px] cursor-pointer grid place-items-center bg-dark-gray1 hover:bg-dark-gray2 text-center text-white text-xs 3xl:text-base font-normal 3xl:font-medium rounded-md 3xl:rounded-lg transition-all duration-300 ease-in-out">{{
    service }}</a>
</div>
</section>

<!-- Overview -->
<section class="px-[4%] sm:px-[9.3%] bg-dark-gray2 py-8 lg:py-12 3xl:py-16">
  <div class="px-8 lg:px-12 3xl:px-16 py-6 3xl:py-8 bg-dark-gray1 rounded-xl 3xl:rounded-2xl">
    <div class="flex flex-col lg:flex-row items-center gap-10 lg:gap-12 3xl:gap-16">
      <!-- Image Section -->
      <div class="w-full lg:w-[49.2%] p-6 lg:p-0 order-1 lg:order-0">
        <img class="object-cover rounded-md 3xl-rounded-lg" src="assets/services/supply-chain/introduction.png" alt="img" />
      </div>
      <div class="w-full lg:w-[50.8%] order-0 lg:order-1">
        <h4 class="text-teal1 text-sm 3xl:text-base font-medium 3xl:font-bold leading-[19.2px]">
          Overview of Supply Chain Services
        </h4>
        <h3 class="text-white text-xl 3xl:text-2xl font-medium leading-[28.8px] my-3 3xl:my-4">
          End-to-End Supply Chain Management You Can Count On
        </h3>
        <p class="text-light-gray1 text-sm 3xl:text-base font-light leading-[24px] 3xl:leading-[28px]">
          At Whizz Systems, we embed supply chain management into the heart of
          your product development process. Our integrated approach ensures
          consistent support from concept and design through prototyping,
          manufacturing, and beyond. Whether selecting reliable components,
          managing compliance, or optimizing procurement strategies, we focus on
          keeping your projects on time, on budget, and aligned with your goals.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Component Engineering -->
<app-services-intro id="ComponentEngineering" heading="Component Engineering"
title="Ensuring Quality Through Expert Component Engineering"
desc1="Our Component Engineering ensures your supply chain aligns with your design goals from the start. We qualify reliable suppliers, establish a robust AVL, and identify secondary sources to mitigate risks, ensuring uninterrupted project execution."
subTitle="Key Services:" desc4="Approved Vendor List (AVL) Creation
• Secondary Source Identification
• Detailed Datasheet Reviews
• Lifecycle Monitoring and Disruption Prevention
" [isImageLeft]="false" imgUrl="assets/services/supply-chain/ensurring.png"></app-services-intro>

<!-- Compliance Engineering -->
<app-services-intro id="ComplianceEngineering" heading="Compliance Engineering"
title="Compliance You Can Trust–Every Step of the Way"
desc1="At Whizz Systems, we ensure your components and materials meet all global regulatory and environmental standards. Our thorough compliance reports for RoHS-3 and REACH help verify adherence to hazardous substance regulations, giving you peace of mind that your products meet global market requirements."
subTitle="Key Services:" desc4="RoHS-3 (2011/65/EU + EU 2015/863) Compliance Reports
• REACH (EC 1907/2006 + SVHC) Verification
• Regulatory Standard Adherence for Hazardous Substances
" imgUrl="assets/services/supply-chain/compliance.png"></app-services-intro>

<!-- Commodity Management -->
<app-services-intro id="CommodityManagement" heading="Commodity Management"
title="Strategic Management for a Resilient Supply Chain"
desc1="Our Commodity Management phase is all about aligning supply strategies with production schedules to ensure consistent delivery. Through advanced Risk Management practices, lead time optimization, and strategic decision-making, we prevent disruptions and enable smooth operations."
  subTitle="Key Services:" desc4="Strategic Risk Management
  • Lead Time Optimization •
   High-Level Supply Chain Coordination  
" [isImageLeft]="false" imgUrl="assets/services/supply-chain/strategic.png"></app-services-intro>

<!-- Procurement Management -->
<app-services-intro id="ProcurementManagement" heading="Procurement Management"
title="Procurement Simplified for Speed and Efficiency"
desc1="From identifying Risk Buy situations to managing End-of-Life (EOL) transitions, our procurement services are designed to keep your projects on schedule and your costs optimized. Our team manages every detail of the purchasing process with precision."
subTitle="Key Services:" desc4="Efficient Purchase Order Issuance
• Risk Buy Management
• EOL Transition Planning and Execution
" imgUrl="assets/services/supply-chain/procurement.png"></app-services-intro>

<!-- Benefits -->
<app-services-benefits heading="Benefits Overview" title="A Supply Chain You Can Trust, From Concept to Completion"
  btnText="Small Button" navigate="/404" [benefitsData]="benefits" [columns]="4"></app-services-benefits>

<!-- Contact Experts -->
<app-services-contact-experts slogan="Ready to Elevate Your Product Development With Whizz Supply Chain?"
navigate="https://webforms.pipedrive.com/f/6k5g9P6xBe8hKKOK5gAGLSRWSeLSp28QnpBPKCw7zg96tXKLN8NPkGD9deOLbWZQiL" btnText="Let’s Develop Your Product Together"></app-services-contact-experts>