<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
    <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">{{secTitle}}</h4>
    <h3
        class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[24px] 3xl:leading-[28.8px] mt-3 3xl:mt-4 mb-10 3xl:mb-12">
        {{secHeading}}</h3>
    <div class="p-6 3xl:p-8 bg-card-gray rounded-lg">
        <div class="grid grid-cols-12 gap-6 3xl:gap-8">
            <div *ngFor="let card of cardData; let i = index"
                [ngClass]="{'sm:col-span-12 md:col-span-12 sm:w-1/2 lg:col-span-6  lg:w-2/3 sm:mx-auto md:mx-auto lg:ml-auto':i === 4}"
                [ngClass]="{'lg:col-span-6 lg:w-2/3 lg:ml-auto': i === 3}"
                class="col-span-12 sm:col-span-6 lg:col-span-4">
                <div class="p-6 3xl:p-8 bg-white border border-light-gray1 rounded-lg  lg:h-[10.5rem] 3xl:h-[14rem]">
                    <img class="w-10 3xl:w-12" [src]="card.imgUrl" alt="img">
                    <h3
                        class="text-dark-gray2 text-sm lg:text-xs 3xl:text-base font-medium my-3 3xl:my-4 leading-[19.2px]">
                        {{card.title}}</h3>
                    <p
                        class="text-dark-gray2 text-sm lg:text-xs 3xl:text-base font-light leading-[20px] 3xl:leading-[28px]">
                        {{card.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</section>