<div class="px-[4%] sm:px-[9%] pt-16 ">
  <div>
    <div class="flex flex-col lg:flex-row items-center justify-between mb-8  gap-6 sm:gap-0">
      <h2 class="self-start text-5xl font-bold text-dark-gray2">Testimonials</h2>
      <div class="self-end flex items-center gap-6">
        <app-larrowbutton (click)="prevSlide()" icon="../../assets/services/l-arrow.svg"
          size="medium"></app-larrowbutton>
        <app-rarrowbutton (click)="nextSlide()" icon="../../assets/services/r-arrow.svg"
          size="medium"></app-rarrowbutton>
      </div>
    </div>
  </div>
</div>
<div class="pl-[4%] sm:pl-[9%] pb-16">
  <div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide hover:shadow-lg transition-all duration-300 ease-in-out" *ngFor="let card of cards">
      <app-testimonial-card [desc]="card.desc" [imageUrl]="card.imageUrl" [name]="card.name"
        [designation]="card.designation">
      </app-testimonial-card>
    </div>
  </div>
</div>