<div class="px-[5%] py-10">
    <div>
      <div class="flex items-center justify-between mb-8">
        <h2 class="text-3xl font-semibold">Testimonials</h2>
        <div class="flex items-center gap-2">
          <button (click)="prevSlide()" class="border border-light-teal rounded-md p-3 cursor-pointer">
            <img class="object-cover w-4" src="../../assets/services/left-arrow.svg" alt="left-arrow">
          </button>
          <button (click)="nextSlide()"  class="border border-light-teal rounded-md p-3 cursor-pointer">
            <img class="object-cover w-4" src="../../assets/services/right-arrow.svg" alt="right-arrow">
          </button>
        </div>
      </div>
  
      <div class="keen-slider" #sliderRef>
        <div class="keen-slider__slide" *ngFor="let card of cards">
          <app-testimonial-card [desc]="card.desc" [imageUrl]="card.imageUrl" [name]="card.name" [designation]="card.designation">
          </app-testimonial-card>
        </div>
      </div>
    </div>
    <img class="object-cover mx-auto mt-16 px-20" src="../../assets/ideas/section-divider.png" alt="img">
  </div>
