@import 'keen-slider/keen-slider.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  html {
    font-family: "Roboto", serif;
  }
}

.keen-slider__slide {
  transition: width 0 ease-in-out;
}
.keen-slider:not([data-keen-slider-disabled]) {
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}

// For image croping of cards
.hover_img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  transition: height 1s ease;
}
.hover_div:hover .hover_img {
  height: 70px;
  width: 100%;
}
img.hover_img {
  object-fit: cover;
}

@layer utilities {
  .rotate-x-180 {
    transform: rotateX(180deg);
  }
}

#app-loader {
  @apply fixed inset-0 flex items-center justify-center bg-white dark:bg-gray-900;
}

.loader {
  @apply w-12 h-12 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin;
}

// Diagonal swipe effect for Subscribe button (black variant)
.diagonal-swipe-black {
  background-color: #ffffff;
  color: #2a494c;
  transition: color 0.5s;
  z-index: 1;
}
.diagonal-swipe-black span {
  position: relative;
  z-index: 2;
}
.diagonal-swipe-black:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #2a494c transparent transparent transparent;
  transition: border-width 0.5s;
  z-index: 1;
}
.diagonal-swipe-black:hover {
  color: #ffffff;
}
.diagonal-swipe-black:hover:after {
  border-width: 250px 250px 0 0;
  z-index: -1;
}
