@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  html {
    font-family: "Roboto", serif;
  }
}

.keen-slider__slide {
  transition: width 0 ease-in-out;
}
.keen-slider:not([data-keen-slider-disabled]) {
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}
.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}

// For image croping of cards
.hover_img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  transition: height 1s ease;
}
.hover_div:hover .hover_img {
  height: 75px;
}
img.hover_img {
  object-fit: cover;
}

@layer utilities {
  .rotate-x-180 {
    transform: rotateX(180deg);
  }
}