<!-- Hero Section -->
<div class="px-[4%] sm:px-[5%] mb-12 lg:mb-24">
    <div
        class="px-8 lg:px-16 py-10 lg:py-[88px] bg-dark-gray1 flex flex-col lg:flex-row items-center gap-10 lg:gap-14 3xl:gap-14 rounded-2xl">
        <div class="w-full lg:w-1/2 text-white">
            <p class="text-base">NPI</p>
            <h1 class="text-3xl lg:text-5xl 3xl:text-[56px] lg:leading-[60px] 3xl:leading-[67px] font-bold my-8">
                Future-Ready NPI: <br class="lg:block"> Designed for NexGen Demands and Innovation</h1>
            <p class="text-xl font-light mb-8">Over 30 Years of Expertise in Creating Complex, Scalable Solutions with <br class="hidden 3xl:block">
                Advanced Assembly and Material Science</p>
            <app-cbutton [heading]="'Start Your NPI Project'"
                [icon]="'../../../assets/services/r-arrow.svg'"></app-cbutton>
        </div>
        <div class="w-full lg:w-1/2 p-6 sm:p-16 lg:p-0">
            <img class="object-cover" src="../../../assets/npi/hero.png" alt="img">
        </div>
    </div>
</div>

<!-- NPI Navbar -->
<div class="hidden lg:block px-[5%] z-20 sticky top-0 mb-5">
    <div class="p-8 flex justify-center items-center gap-4 text-center text-sm 3xl:text-base bg-white z-50">
        <a *ngFor="let link of npiTab" (click)="toTop(link.title)"
            class="lg:w-56 3xl:w-64 h-[88px] cursor-pointer flex justify-center items-center px-2 bg-dark-gray1 hover:bg-dark-gray2 text-white font-medium rounded-lg transition-all duration-500 ease-in-out"
            routerLink="link.url">{{link.title}}</a>
    </div>
</div>


<div class="px-[4%] sm:px-[9%]">
    <!-- System Level Architecture -->
    <div id="SystemLevelArchitecture" class="flex flex-col lg:flex-row items-center gap-8 lg:gap-16 py-8 lg:py-16">
        <div class="w-full lg:w-[45%] order-2 lg:order-1 p-8 md:p-16 lg:p-0 ">
            <img class="object-cover rounded-lg" src="../../../assets/npi/sla.png" alt="img">
        </div>
        <div class="w-full lg:w-[50%] order-1 lg:order-0">
            <h4 class="text-teal1 font-bold">System Level Architecture (SLA)</h4>
            <h3 class="text-dark-gray2 text-2xl font-medium my-4">Build a Strong Foundation with System-Level
                Architecture</h3>
            <p class="text-dark-gray2 font-light">At Whizz Systems, we specialize in designing robust System Level
                Architectures (SLA) for New Product Introduction (NPI), ensuring seamless integration of hardware,
                software, and subsystems to achieve performance, scalability, and reliability goals. Whether you’re
                starting with an idea, a product definition document, or a high-level block diagram, Whizz has the
                capability and experience to guide projects from concept to completion.</p>
            <h4 class="text-dark-gray2 font-bold mt-6 mb-1">Key Services:</h4>
            <p class="text-dark-gray2 font-light">IoT Devices • Industrial Systems • Consumer Electronics</p>
        </div>
    </div>

    <!-- Engineering and Design -->
    <div id="EngineeringandDesign" class="flex flex-col lg:flex-row items-center gap-8 lg:gap-16 py-8 lg:py-16 ">
        <div class="w-full lg:w-[50%]">
            <h4 class="text-teal1 font-bold">Engineering and Design</h4>
            <h3 class="text-dark-gray2 text-2xl font-medium my-4">Innovating Designs for the NextGen Electronics</h3>
            <p class="text-dark-gray2 font-light mb-4">test</p>
            <app-cbutton heading="Learn more" size="small" icon="../../../assets/services/r-arrow.svg"></app-cbutton>
        </div>
        <div class="w-full lg:w-[45%] p-8 md:p-16 lg:p-0">
            <img class="object-cover" src="../../../assets/npi/sla.png" alt="img">
        </div>
    </div>

    <img class="object-cover mx-auto px-6 md:px-28 lg:px-16 p-8 lg:pt-16 lg:pb-24"
        src="../../assets/ideas/section-divider1.png" alt="img">

    <h2 class="text-3xl lg:text-5xl text-dark-gray2 text-center font-bold mb-16">Explore our engineering and design
        services</h2>

    <div
        class="p-8 flex justify-center items-center flex-wrap gap-4 text-center text-sm 3xl:text-base z-50 mx-auto lg:w-[70rem] 3xl:w-[80rem]">
        <a *ngFor="let item of enggandDesign.items"
            class=" w-56 3xl:w-[240px] h-[88px] cursor-pointer flex justify-center items-center px-3 bg-card-gray
            hover:bg-dark-gray2 text-dark-gray2 border-[1px] border-light-gray1 hover:text-white font-medium rounded-lg
            transition-all duration-500 ease-in-out" routerLink="item.url">{{item.label}}
        </a>
    </div>

    <img class="object-cover mx-auto px-6 md:px-28 lg:px-16 p-8 lg:py-16"
        src="../../assets/testimonials/section-divider2.png" alt="img">

    <!-- Prototyping -->
    <div id="Prototyping" class="flex flex-col lg:flex-row items-center gap-8 lg:gap-16 py-8 lg:py-16">
        <div class="w-full lg:w-[45%] order-2 lg:order-1 p-8 md:p-16 lg:p-0 ">
            <img class=" object-cover rounded-lg" src="../../../assets/npi/sla.png" alt="img">
        </div>
        <div class="w-full lg:w-[55%] order-1 lg:order-0">
            <h4 class="text-teal1 font-bold">Prototyping</h4>
            <h3 class="text-dark-gray2 text-2xl font-medium my-4">Validate and Refine Your Designs with Prototyping
                Experts</h3>
            <p class="text-dark-gray2 font-light">Our prototyping services bridge the gap between concept and
                production, offering quick-turn prototypes, proof-of-concept models, and pre-production units. With
                in-house capabilities like signal integrity analysis and multi-layer PCB assembly, we ensure your
                prototype aligns perfectly with production standards.</p>
            <h4 class="text-dark-gray2 font-bold mt-6 mb-3">Key Services:</h4>
            <p class="text-dark-gray2 font-light mb-5">Quick-turn prototypes • proof-of-concept models • engineering
                prototypes • pre-production prototypes</p>
            <app-cbutton [heading]="'Explore Prototyping Services'"
                [icon]="'../../../assets/services/r-arrow.svg'"></app-cbutton>
        </div>
    </div>


    <!-- Testing -->
    <div id="Testing" class="flex flex-col lg:flex-row items-center gap-8 lg:gap-16 py-8 lg:py-16">
        <div class="w-full lg:w-[50%] ">
            <h4 class="text-teal1 font-bold">Testing</h4>
            <h3 class="text-dark-gray2 text-2xl font-medium my-4">Ensure Quality and Reliability with Rigorous Testing
            </h3>
            <p class="text-dark-gray2 font-light">Whizz Systems provides comprehensive testing services to validate
                every aspect of your product. Our tests cover <span class="text-teal2 font-bold">design verification,
                    functional validation, environmental resilience,</span> and <span
                    class="text-teal2 font-bold">EMI/EMC compliance</span>. By addressing potential issues early, we
                reduce redesigns and accelerate time-to-market.</p>
            <h4 class="text-dark-gray2 font-bold mt-6 mb-1">Key Tests:</h4>
            <p class="text-dark-gray2 font-light">Design Verification Testing (DVT) • Environmental Testing
                (Temperature, Vibration, Shock) • EMI/EMC Assessments • Automated Fault Detection</p>
        </div>
        <div class="w-full lg:w-[45%]  p-8 md:p-16 lg:p-0 ">
            <img class="object-cover rounded-lg" src="../../../assets/npi/sla.png" alt="img">
        </div>
    </div>

    <!-- Compliance -->
    <div id="Compliance" class="flex flex-col lg:flex-row items-center gap-8 lg:gap-16 py-8 lg:py-16">
        <div class="w-full lg:w-[45%] order-2 lg:order-1 p-8 md:p-16 lg:p-0 ">
            <img class="object-cover rounded-lg" src="../../../assets/npi/sla.png" alt="img">
        </div>
        <div class="w-full lg:w-[50%] order-1 lg:order-0">
            <h4 class="text-teal1 font-bold">Compliance</h4>
            <h3 class="text-dark-gray2 text-2xl font-medium my-4">Navigate Compliance with Confidence</h3>
            <p class="text-dark-gray2 font-light">We integrate compliance into the design process from the start,
                ensuring your product meets global regulatory standards. like <span class="text-teal2 font-bold"> RoHS,
                    REACH, FCC,</span> and <span class="text-teal2 font-bold">CE</span>. Our collaboration with trusted
                third-party labs provides authoritative certification, reducing.</p>
            <h4 class="text-dark-gray2 font-bold mt-6 mb-3">Key Standards Covered:</h4>
            <p class="text-dark-gray2 font-light mb-5">RoHS & REACH • FCC & CE certification • EMI safety compliance</p>
        </div>
    </div>
</div>