<!-- Hero -->
<app-services-hero serviceCategory="Engineering & Design"
  serviceTitle="Power Delivery Network Simulations for Reliable PCB Performance"
  serviceDesc="Ensuring Stable, Efficient, and Reliable Power Delivery for Next-Gen Electronics"
  imgUrl="assets/services/engg&design/power-delivery-network-simulation/hero.png" navigate="https://webforms.pipedrive.com/f/6xUcwl5295GClKkMuAVG1iDNMlWMUhYuLB2nZHwvjm6D4XwPuvvIF37bSC8iUtM1zB"
  btnText="Optimize Your Power Network Today"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading="Precision Power Integrity for High-Performance Systems" title="Simulating and Optimizing Every Aspect of Power Delivery"
  desc1="Reliable power distribution is essential for <a href='https://www.whizzsystems.com/'' title='high-performance electronics' class='text-teal1'>high-performance electronics</a>, ensuring efficiency, stability, and minimal noise. At Whizz Systems, we leverage advanced Power Delivery Network (PDN) simulations to optimize IR drop, current density, thermal performance, and impedance matching—all critical for maintaining system integrity in today’s power-intensive applications."
  imgUrl="assets/services/engg&design/power-delivery-network-simulation/introduction.png"></app-services-intro>

<!-- Core Services Overview -->
<app-services-core-services heading="Advanced Analysis to Prevent Power Failures and Optimize Performance" title="Comprehensive Power Integrity Services"
  [columns]="3" [coreServicesData]="coreServices"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits heading="Benefits" title="Why Choose Whizz Systems for Power Integrity?" btnText="Small Button"
 [benefitsData]="benefits" [columns]="4"></app-services-benefits>

<!-- Contact PCB Expert -->
<app-services-contact-experts slogan=" Ready to Optimize Your Power Delivery System?" desc=" Reduce Design Risks and Achieve First-Time Success" btnText="Contact our Experts"
  navigate="https://webforms.pipedrive.com/f/6xUcwl5295GClKkMuAVG1iDNMlWMUhYuLB2nZHwvjm6D4XwPuvvIF37bSC8iUtM1zB"></app-services-contact-experts>

<!-- FAQ Section -->
<section class="px-4 sm:px-[6.3%] py-12 lg:py-16 3xl:py-20 bg-white">
    <div class="mx-auto">
        <h2 class="text-center text-dark-gray2 text-3xl lg:text-[40px] 3xl:text-[48px] font-bold mb-10 lg:mb-16">
            Frequently Asked Questions
        </h2>

        <div class="flex flex-col gap-4 mx-auto">
            <div *ngFor="let faq of faqs; let i = index"
                class="border border-light-gray1 rounded-xl overflow-hidden bg-card-gray">
                <button (click)="toggleFaq(i)"
                    class="w-full flex items-center justify-between py-5 px-5 sm:p-6 text-left transition-all hover:opacity-80 focus:outline-none">
                    <h4 class="flex flex-col gap-3 sm:gap-4">
                        <span class="text-[15px] sm:text-base lg:text-xl 3xl:text-2xl font-semibold text-dark-gray2">{{
                            faq.question }}</span>
                        <p *ngIf="faq.isOpen"
                            class="text-gray-600 text-sm 3xl:text-base pr-6 sm:pr-10 leading-relaxed lg:w-[60%]">
                            {{ faq.answer }}
                        </p>
                    </h4>
                    <!-- Circular Toggle Button -->
                    <div
                        class="flex-shrink-0 w-8 h-8 sm:w-9 sm:h-9 3xl:w-11 3xl:h-11 rounded-full border border-light-gray1 bg-white flex items-center justify-center relative shadow-sm">
                        <span class="absolute w-3 sm:w-4 h-0.5 bg-teal1"></span>
                        <span class="absolute w-3 sm:w-4 h-0.5 bg-teal1 transition-transform duration-300"
                            [class.rotate-90]="!faq.isOpen"></span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>