<!-- Hero -->
<app-services-hero serviceCategory="Engineering & Design"
  serviceTitle="Power Delivery Network Simulations for Reliable PCB Performance"
  serviceDesc="Ensuring Power Integrity with Advanced DC and AC Analysis Techniques"
  imgUrl="assets/services/engg&design/power-delivery/hero.png" navigate="https://webforms.pipedrive.com/f/6xUcwl5295GClKkMuAVG1iDNMlWMUhYuLB2nZHwvjm6D4XwPuvvIF37bSC8iUtM1zB"
  btnText="Optimize Your Power Network Today"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading="Introduction" title="Optimized Power Delivery for NextGen Electronics & Hardware Systems"
  desc1="Whizz Systems’ Power Integrity services focus on delivering efficient, reliable, and high-performing power distribution networks for PCB designs. Our advanced simulations ensure every component receives stable power within design constraints while minimizing risks of overheating, noise, and power inefficiency."
  imgUrl="assets/services/engg&design/power-delivery/introduction.png"></app-services-intro>

<!-- Core Services Overview -->
<app-services-core-services secTitle="Core Services Overview" secHeading="Comprehensive Power Integrity Services"
  [columns]="3" [coreServicesData]="coreServices"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits heading="Benefits" title="Why Choose Whizz Systems for Power Integrity?" btnText="Small Button"
  navigate="/404" [benefitsData]="benefits" [columns]="4"></app-services-benefits>

<!-- Case Studies -->
<app-services-intro heading="Case Study" title="Proven Success" desc1="Brief success stories or Whitepapers related to/ showcasing
  specific mechanical design projects." imgUrl="assets/services/engg&design/power-delivery/case-study.png" navigate="/404"
  btnText="Learn more" [isImageLeft]="false"></app-services-intro>

<!-- Contact PCB Expert -->
<app-services-contact-experts slogan="Ensure Power Integrity in Your Designs" btnText="Contact our Experts"
  navigate="https://webforms.pipedrive.com/f/6xUcwl5295GClKkMuAVG1iDNMlWMUhYuLB2nZHwvjm6D4XwPuvvIF37bSC8iUtM1zB"></app-services-contact-experts>