<!-- Hero -->
<app-services-hero serviceCategory="Engineering & Design"
  serviceTitle="Power Delivery Network Simulations for Reliable PCB Performance"
  serviceDesc="Ensuring Stable, Efficient, and Reliable Power Delivery for Next-Gen Electronics"
  imgUrl="assets/services/engg&design/power-delivery/hero.png" navigate="https://webforms.pipedrive.com/f/6xUcwl5295GClKkMuAVG1iDNMlWMUhYuLB2nZHwvjm6D4XwPuvvIF37bSC8iUtM1zB"
  btnText="Optimize Your Power Network Today"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading="Precision Power Integrity for High-Performance Systems" title="Simulating and Optimizing Every Aspect of Power Delivery"
  desc1="Reliable power distribution is essential for high-performance electronics, ensuring efficiency, stability, and minimal noise. At Whizz Systems, we leverage advanced Power Delivery Network (PDN) simulations to optimize IR drop, current density, thermal performance, and impedance matching—all critical for maintaining system integrity in today’s power-intensive applications."
  imgUrl="assets/services/engg&design/power-delivery/introduction.png"></app-services-intro>

<!-- Core Services Overview -->
<app-services-core-services heading="Advanced Analysis to Prevent Power Failures and Optimize Performance" title="Comprehensive Power Integrity Services"
  [columns]="3" [coreServicesData]="coreServices"></app-services-core-services>

<!-- Benefits -->
<app-services-benefits heading="Benefits" title="Why Choose Whizz Systems for Power Integrity?" btnText="Small Button"
  navigate="/404" [benefitsData]="benefits" [columns]="4"></app-services-benefits>

<!-- Case Studies -->
<!-- <app-services-intro heading="Case Study" title="Proven Success" desc1="Brief success stories or Whitepapers related to/ showcasing
  specific mechanical design projects." imgUrl="assets/services/engg&design/power-delivery/case-study.png" navigate="/404"
  btnText="Learn more" [isImageLeft]="false"></app-services-intro> -->

<!-- Contact PCB Expert -->
<app-services-contact-experts slogan=" Ready to Optimize Your Power Delivery System?" desc=" Reduce Design Risks and Achieve First-Time Success" btnText="Contact our Experts"
  navigate="https://webforms.pipedrive.com/f/6xUcwl5295GClKkMuAVG1iDNMlWMUhYuLB2nZHwvjm6D4XwPuvvIF37bSC8iUtM1zB"></app-services-contact-experts>