<app-services-hero serviceCategory="Engineering & Design"
  serviceTitle="Building Smarter Systems with Hardware Design & Schematics Experts"
  serviceDesc="Comprehensive architecture and schematic services optimized for performance, scalability, and compliance."
  imgUrl="assets/services/engg&design/system-design/hero.png" navigate="https://webforms.pipedrive.com/f/72vZZSu4HG4ZgAZ17jacewEBvXF3wj5yBc2zgGF029zGNJBY6AMgPP2muUTXupqDLR"
  btnText="Start Your Project Today"></app-services-hero>

<!-- Introduction -->
<app-services-intro heading="Your Trusted Partner for Complex Electronic Design" title="Crafting Scalable Architectures for Advanced Hardware"
  desc1="At Whizz Systems, we provide <a href='https://www.whizzsystems.com/services/advanced-manufacturing' class='text-teal1'>end-to-end hardware design</a> and system architecture solutions tailored to meet the evolving demands of cutting-edge technology. From defining robust system frameworks to crafting detailed schematics, our expertise ensures your hardware is designed for performance, reliability, and future scalability."
  imgUrl="assets/services/engg&design/system-design/introduction.png"></app-services-intro>

<!-- Core Services Overview-->
<app-services-core-services heading="Engineered for Precision, Performance, and Scalability" title="Our System Design & Schematic Services"
  [columns]="3" [coreServicesData]="coreServices"></app-services-core-services>

<!-- Industry Standards -->
<app-services-industry heading="Industry Standards" title="Certifications & Standards" desc="At Whizz Systems, we ensure that every design meets the highest industry standards and regulatory
     requirements. Our commitment to quality and compliance guarantees that your products are not only innovative
     but also reliable and certified for global markets." [columns]="3"
  [indusryStandsData]="industryStandards"></app-services-industry>

<!-- Benefits -->
<app-services-benefits heading="Benefits" title="Why Choose Whizz Systems for System Design" [benefitsData]="benefits"
  [columns]="4"></app-services-benefits>

<!-- Case Study -->
<app-services-intro heading="Case Study Spotlight: Transforming 5G Connectivity" title=" 5G Open Radio Unit (ORU) white box" desc1="Discover how Whizz Systems partnered with Intel, Analog Devices, Comcores, and Radisys to develop a cutting-edge 5G Open Radio Unit (ORU) white box. This solution tackles the challenges of high-speed data transfer, power efficiency, and thermal management—delivering scalable, high-performance 5G connectivity."
  imgUrl="assets/services/engg&design/system-design/case-study.png" navigate="/news-&-insights/whitepaper-5g-oru" btnText="See how we’re shaping the future of wireless networks."
  [isImageLeft]="false">
</app-services-intro>

<!-- Contact Thermal Expert -->
<app-services-contact-experts slogan="Ready To Build Smarter, Scalable Systems?" navigate="https://webforms.pipedrive.com/f/72vZZSu4HG4ZgAZ17jacewEBvXF3wj5yBc2zgGF029zGNJBY6AMgPP2muUTXupqDLR"
  btnText="Contact Our System Design Experts"></app-services-contact-experts>

<!-- FAQ Section -->
<section class="px-4 sm:px-[6.3%] py-12 lg:py-16 3xl:py-20 bg-white">
    <div class="mx-auto">
        <h2 class="text-center text-dark-gray2 text-3xl lg:text-[40px] 3xl:text-[48px] font-bold mb-10 lg:mb-16">
            Frequently Asked Questions
        </h2>

        <div class="flex flex-col gap-4 mx-auto">
            <div *ngFor="let faq of faqs; let i = index"
                class="border border-light-gray1 rounded-xl overflow-hidden bg-card-gray">
                <button (click)="toggleFaq(i)"
                    class="w-full flex items-center justify-between py-5 px-5 sm:p-6 text-left transition-all hover:opacity-80 focus:outline-none">
                    <h4 class="flex flex-col gap-3 sm:gap-4">
                        <span class="text-[15px] sm:text-base lg:text-xl 3xl:text-2xl font-semibold text-dark-gray2">{{
                            faq.question }}</span>
                        <p *ngIf="faq.isOpen"
                            class="text-gray-600 text-sm 3xl:text-base pr-6 sm:pr-10 leading-relaxed lg:w-[60%]">
                            {{ faq.answer }}
                        </p>
                    </h4>
                    <!-- Circular Toggle Button -->
                    <div
                        class="flex-shrink-0 w-8 h-8 sm:w-9 sm:h-9 3xl:w-11 3xl:h-11 rounded-full border border-light-gray1 bg-white flex items-center justify-center relative shadow-sm">
                        <span class="absolute w-3 sm:w-4 h-0.5 bg-teal1"></span>
                        <span class="absolute w-3 sm:w-4 h-0.5 bg-teal1 transition-transform duration-300"
                            [class.rotate-90]="!faq.isOpen"></span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>