<!-- Hero -->
<app-services-hero category="Engineering & Design"
  heading="Unleash the Power of Innovation with Comprehensive FPGA Design Solutions"
  desc="Delivering Custom FPGA, Firmware, and Software Expertise for Complex Challenges"
  imgUrl="assets/fpga/hero.png" navigate="/404"
  btnText="Get Started with Our FPGA Experts"></app-services-hero>

<!-- Introduction -->
<section
  class="px-[4%] sm:px-[6.3%] flex flex-col lg:flex-row items-center gap-4 lg:gap-[52px] 3xl:gap-16 py-8 lg:py-12 3xl:py-16">
  <div class="w-full lg:w-[46.2%] order-2 lg:order-1 p-10 sm:p-10 lg:p-0">
    <img class="object-cover" src="assets/fpga/introduction.png" alt="img" />
  </div>
  <div class="w-full lg:w-[53.8%] order-1 lg:order-0">
    <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">
      Introduction
    </h4>
    <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[28.8px] my-3 3xl:my-4">
      Lorem Ipsum
    </h3>
    <p class="text-dark-gray2 text-sm 3xl:text-base font-light leading-[24px] 3xl:leading-[28px]">
      At Whizz Systems., we bring unparalleled expertise in
      <span class="text-sm 3xl:text-base font-medium 3xl:font-bold">FPGA design, firmware,</span>
      and
      <span class="text-sm 3xl:text-base font-medium 3xl:font-bold">software development</span>
      to meet the ever-evolving needs of modern technology. Our team excels in
      FPGA architecture design, RTL coding, functional verification, and system
      integration to ensure seamless performance.
    </p>
    <p class="text-dark-gray2 text-sm 3xl:text-base font-light leading-[24px] 3xl:leading-[28px]">
      Using
      <span class="text-sm 3xl:text-base font-medium 3xl:font-bold">industry-leading tools</span>
      like Vivado, Quartus Prime, and Lattice Diamond, we support a wide range
      of FPGA families, including Versal, Zynq, Virtex Ultrascale, Agilex, and
      Stratix. Our capabilities extend to integrating third-party IPs,
      optimizing data exchange through standard buses such as AXI and Avalon,
      and developing high-speed SERDES interfaces. Whether
      <span class="text-sm 3xl:text-base font-medium 3xl:font-bold">designing for high-performance systems</span>
      or
      <span class="text-sm 3xl:text-base font-medium 3xl:font-bold">ensuring compatibility with standard communication
        protocols</span>
      like UART, I2C, SPI, and Ethernet, we deliver solutions that enhance
      functionality and reliability."
    </p>
  </div>
</section>

<!-- Core Services -->
<section class="px-[4%] sm:px-[9.3%] py-8 lg:py-12 3xl:py-16">
  <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px] mb-3 3xl:mb-4">Core Services Overview</h4>
  <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[24px] 3xl:leading-[28.8px] mb-6 3xl:mb-8">A Full
    Spectrum of FPGA, Firmware, and Software Services</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 3xl:gap-8">
    <div *ngFor="let card of coreServices">
      <div class="p-6 3xl:p-8 bg-card-gray border border-light-gray1 rounded-md 3xl:rounded-lg">
        <img class="rounded-lg" [src]="card.imgUrl" alt="img">
        <div class="h-[10rem] sm:h-[11rem] lg:h-[9.5rem] 3xl:h-[9.5rem]">
          <h3 class="font-bold mt-6 3xl:mt-8 mb-4 3xl:mb-5 text-base lg:text-xs 3xl:text-base leading-[22.4px]">
            {{card.title}}</h3>
          <p class="font-light text-base lg:text-xs 3xl:text-base lg:leading-[20px] 3xl:leading-[24px]">{{card.desc}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Benefits -->
<app-services-benefits1 secTitle="Benefits" secHeading="hy Choose Whizz Systems for FPGA Services?" [customStyle]="true"
  [cardData]="benefits"></app-services-benefits1>

<app-services-contact-experts secHeading="Ready to Take Your FPGA Design to the Next Level?" routerLink="/404"
  btnText="Get Started with Our FPGA Experts"></app-services-contact-experts>