<!-- Hero -->
<app-services-hero category="NPI" heading="Future-Ready NPI: Designed for NexGen Demands and Innovation"
  desc="Over 30 Years of Expertise in Creating Complex, Scalable Solutions with Advanced Assembly and Material Science"
  imgUrl="../../../assets/npi/hero.png" navigate="/404" btnText="Start Your NPI Project"></app-services-hero>

<!-- NPI Navbar -->
<section class="hidden lg:block px-[9.3%] z-20 sticky top-[15%] lg:py-8 3xl:py-16 bg-white">
  <div class="flex justify-center items-center gap-3 3xl:gap-4 z-50">
    <a *ngFor="let link of npiTab" (click)="scrollToFragment(link.title)"
      class="lg:w-[196px] 3xl:w-[247px] h-[70px] 3xl:h-[88px] cursor-pointer grid place-items-center px-2 bg-dark-gray1 hover:bg-dark-gray2 text-center text-white text-xs 3xl:text-base font-medium rounded-md 3xl:rounded-lg transition-all duration-300 ease-in-out">{{
      link.title }}</a>
  </div>
</section>

<!-- System Level Architecture -->
<app-services-intro id="SystemLevelArchitecture" secTitle="System Level Architecture (SLA)" secHeading="Build a Strong Foundation with System-Level
     Architecture" secDesc1="At Whizz Systems, we specialize in designing robust System Level
     Architectures (SLA) for New Product Introduction (NPI), ensuring seamless integration of hardware,
     software, and subsystems to achieve performance, scalability, and reliability goals. Whether you’re
     starting with an idea, a product definition document, or a high-level block diagram, Whizz has the
     capability and experience to guide projects from concept to completion." secSubHeading="Key Services:"
  secDesc4="IoT Devices • Industrial Systems • Consumer Electronics"
  imgUrl="../../../assets/npi/sla.png"></app-services-intro>

<!-- Engineering and Design -->
<app-services-case-study id="Engineering&Design" secTitle="Engineering and Design"
  secHeading="Innovating Designs for the NextGen Electronics" btnText="Learn more" imgUrl="../../../assets/npi/sla.png"
  routerLink="/404"></app-services-case-study>

<img class="object-cover mx-auto px-6 md:px-14 lg:px-20 3xl:px-16 mt-5 mb-8 lg:mb-16 3xl:mb-24"
  src="../../assets/ideas/section-divider1.png" alt="img" />

<h2 class="text-4xl 3xl:text-5xl 3xl:leading-[57.6px] text-dark-gray2 text-center font-bold mb-6 3xl:mb-8">
  Explore our engineering and design services
</h2>

<section
  class="py-6 3xl:py-8 flex justify-center items-center flex-wrap gap-3 3xl:gap-4 text-center text-xs 3xl:text-base z-50 mx-auto lg:w-[58rem] 3xl:w-[80rem]">
  <a *ngFor="let item of enggandDesign.items" [routerLink]="item.link"
    class="w-[196px] 3xl:w-[247px] h-[72px] 3xl:h-[88px] cursor-pointer flex justify-center items-center px-[8px] py-[14px] 3xl:px-[18px] 3xl:py-[14px] bg-card-gray hover:bg-dark-gray2 text-dark-gray2 border border-light-gray1 hover:text-white font-medium rounded-lg transition-all duration-500 ease-in-out">{{
    item.label }}
  </a>
</section>

<img
  class="object-cover mx-auto px-6 md:px-14 lg:px-20 3xl:px-16 mt-5 lg:mt-14 lg: 3xl:mt-[71px] mb-8 lg:mb-[88px] 3xl:mb-[118px]"
  src="../../assets/testimonials/section-divider2.png" alt="img" />

<!-- Prototyping -->
<app-services-intro id="Prototyping" secTitle="Prototyping" secHeading="Validate and Refine Your Designs with Prototyping
    Experts" secDesc1="Our prototyping services bridge the gap between concept and
    production, offering quick-turn prototypes, proof-of-concept models, and pre-production units. With
    in-house capabilities like signal integrity analysis and multi-layer PCB assembly, we ensure your
    prototype aligns perfectly with production standards." secSubHeading="Key Services:"
  secDesc4="Quick-turn prototypes • proof-of-concept models • engineering prototypes • pre-production prototypes"
  imgUrl="../../../assets/npi/sla.png"></app-services-intro>

<!-- Testing -->
<app-services-intro id="Testing" [isImageFirst]="false" secTitle="Testing"
  secHeading="Ensure Quality and Reliability with Rigorous Testing"
  secDesc1="Whizz Systems provides comprehensive testing services to validate every aspect of your product. Our tests cover *Design *Verification, *Functional *Validation, *Environmental *Resilience, and *EMI/EMC *compliance. By addressing potential issues early, we reduce redesigns and accelerate time-to-market."
  secSubHeading="Key Tests:" secDesc4="Design Verification Testing (DVT) • Environmental Testing (Temperature, Vibration, Shock) •
    EMI/EMC Assessments • Automated Fault Detection" imgUrl="../../../assets/npi/sla.png"></app-services-intro>

<!-- Compliance -->
<app-services-intro id="Compliance" secTitle="Compliance" secHeading="Navigate Compliance with Confidence"
  secDesc1="We integrate compliance into the design process from the start, ensuring your product meets global regulatory standards.  like *RoHS, *REACH, *FCC, and *CE. Our collaboration with trusted third-party labs provides authoritative certification, reducing risk and streamlining market entry."
  secSubHeading="Key Standards Covered:" secDesc4="RoHS & REACH • FCC & CE certification • EMI safety compliance"
  imgUrl="../../../assets/npi/sla.png"></app-services-intro>