<div class="px-[5%] pb-10">
    <div class="pl-24 bg-dark-gray2 rounded-br-2xl rounded-bl-2xl flex items-center">
        <div class="w-1/2">
            <h1 class="text-5xl font-bold text-white mb-6">Whizz Bytes: Expert Views and Breaking News</h1>
            <p class="text-lg font-light text-white">Get informed with expert opinions, industry news, and deep dives
                into the latest in technology</p>
        </div>

        <div class="w-1/2">
            <img class="object-cover" src="../../../assets/blogs/hero-img.png" alt="img">
        </div>
    </div>
</div>

<div class="px-[5%]">
    <h3 class="text-4xl font-bold text-dark-gray2 mb-8">Featured Blogs</h3>
    <app-featuredblog></app-featuredblog>
</div>