<section
    class="px-[4%] sm:px-[9.3%] flex flex-col lg:flex-row items-center gap-4 lg:gap-[52px] 3xl:gap-16 py-8 lg:py-12 3xl:py-16">
    <div class="w-full lg:w-[53.8%]">
        <h4 class="text-teal1 text-sm 3xl:text-base font-bold leading-[19.2px]">{{secTitle}}</h4>
        <h3 class="text-dark-gray2 text-xl 3xl:text-2xl font-medium leading-[24px] 3xl:leading-[28.8px] my-3 3xl:my-4">
            {{secHeading}}</h3>
        <p *ngIf="secDesc" class="text-dark-gray2 font-light mb-3 3xl:mb-4">{{secDesc}}</p>
        <app-cbutton heading="{{btnText}}" routerLink="{{routerLink}}" icon="../../../assets/services/r-arrow.svg"
            size="small"></app-cbutton>
    </div>
    <div class="w-full lg:w-[46.2%] p-10 sm:p-10 lg:p-0">
        <img class="object-cover" [src]="imgUrl" alt="img">
    </div>
</section>