<div class="grid grid-cols-1 md:grid-col-2 lg:grid-cols-3 gap-x-6 mx-auto md:hidden">
    <div *ngFor=" let card of blogData">
      <app-news-card [imageUrl]="card.imageUrl" [date]="card.date" [title]=" card.title"></app-news-card>
    </div>
  </div>
  

  <a routerLink="/news" *ngFor="let item of blogData; let i = index" class="cursor-pointer hidden md:block">
    <div class="group">
        <div class="flex items-center gap-0 group-hover:gap-6 mb-6"
            [ngClass]="i % 2 === 0 ? 'flex-row' : 'flex-row-reverse'">
            <!-- Left side with image and text -->
            <div class="p-8 bg-card-gray flex items-center gap-8 w-full rounded-lg border-[1px] border-light-gray1"
                [ngClass]="i % 2 === 0 ? 'flex-row' : 'flex-row-reverse'">
                <div class="w-1/2">
                    <!-- Shrinking image with ngStyle for transform-origin -->
                    <img class="transition-all duration-300 ease-in-out h-[17rem] rounded-lg"
                         src="../../assets/blogs/blogimg.png" alt="img"
                         [ngClass]="i % 2 === 0 ? 'group-hover:w-[93%]' : 'group-hover:w-[100%]'"
                         [ngStyle]="{
                            'transform-origin': i % 2 === 0 ? 'right center' : 'left center',
                            'transform': i % 2 === 0 ? 'scale(0.93)' : 'scale(1)'
                         }">
                </div>
                <div class="w-1/2 transition-transform duration-300 ease-in-out"
                    [ngClass]="i % 2 === 0 ? 'group-hover:-translate-x-[7%]' : 'group-hover:translate-x-[0%]'">
                    <app-newsbutton heading="Heatsink" [routerLink]="'routerLink'" class="mr-2"></app-newsbutton>
                    <app-newsbutton heading="Thermal Management" [routerLink]="'routerLink'"></app-newsbutton>
                    <p class="mt-5 mb-2 text-dark-gray2 text-sm font-medium">{{item.date}}</p>
                    <p class="text-2xl font-bold">{{item.title}}</p>
                </div>
            </div>

            <!-- Arrow section with background (conditionally placed left or right) -->
            <div class="bg-teal1 rounded-lg h-[21rem] grid place-items-center transition-all duration-500 ease-in-out w-0 opacity-0 group-hover:w-[7%] group-hover:opacity-100 flex-grow">
                <img class="w-5 h-5" src="../../assets/services/r-arrow.svg" alt="img">
            </div>
        </div>
    </div>
</a>




    
