.diagonal-swipe {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8; /* Assuming the same background color as the button */
  color: #2A494C;
  transition: color 1s;
  z-index: 1;
}

/* Creating the diagonal swipe effect */
.diagonal-swipe::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #7BD4CF transparent transparent transparent;
  transition: border-width 1s;
  z-index: -1; /* Make sure the swipe is behind the content */
}

/* Apply the diagonal swipe effect on hover */
.group:hover .diagonal-swipe::after {
  border-width: 450px 450px 0 0;
}

/* Ensure the image stays centered while the hover transition occurs */
.diagonal-swipe img {
  position: relative;
  z-index: 2;
}
