<button class="group flex items-center gap-6 mb-20">
        <div class="p-8 bg-card-gray flex items-center gap-10">
            <div class="w-1/2">
                    <img class="transition-width duration-300 ease-in-out w-full group-hover:w-[90%] h-80" src="../../assets/blogs/blogimg.png" alt="">
            </div>
            <div class="w-1/2">
                <a href="">Heatsink</a>
                <a href="">Heatsink</a>
                <p>date</p>
                <p>title</p>
            </div>
        </div>
    <div class="bg-teal1 h-full grid place-items-center transition-width duration-300 ease-in-out w-0 opacity-0 group-hover:w-[10%] group-hover:opacity-100">
        <img src="../../assets/services/r-arrow.svg" alt="">
    </div>
</button>
